
<div class="bag">
  <div class="overlay"></div>
  <div class="container">
    <div class="col-md-12 text-center py-5 my-5 animate-box fadeInUp animated thanks">
      <h3>Thank You</h3>
      <p>Thanks for contacting us.
        <br>We will get in touch with you shortly.</p>
      <a class="email" routerLink="/home">
        <button mdbBtn type="button" gradient="peach" rounded="true" class="waves-light" mdbWavesEffect>Home</button>
      </a>
    </div>
  </div>
</div>
<app-quote-form></app-quote-form>
