<app-action-buttons></app-action-buttons>

<div class="container pt-md-4">
  <div class="jumbotron text-center mb-0">
    <h1 class="mt-2 mb-3">
      Financing
    </h1>

    <div class="mx-auto" style="max-width: 42rem;">
      <p class="mb-3">
        Mike's Mobile has teamed up with EnerBank to offer financing for
        projects larger than $1,000! This allows us to ensure our customers are
        able to achieve their home improvement needs. It's quick and easy to
        apply and you will receive your credit decision within seconds.
      </p>
      <p class="mb-3">
        After receiving your quote, you can apply for financing by clicking the
        links below or by phone at (866) 405-7600. Scroll down for more
        information.
      </p>
    </div>
    <section class="mb-5">
      <div class="row d-flex justify-content-around">
        <div style="width:300px;">
          <a
            href="https://application.enerbank.com/#/link?spnum=8664057600&cid=78291&promo=821177&loamt="
            ><img
              src="https://enerbank.com/online-app-integration/images/banner1.png"
          /></a>
          <p
            style="font-size:10px;line-height:10px;color:#000; text-align: justify;-moz-text-align-last: center; text-align-last: center; margin:10px 0;font-weight:400;"
          >
            *Loans provided by EnerBank USA, Member FDIC, (1245 Brickyard Rd.,
            Suite 600, Salt Lake City, UT 84106) on approved credit, for a
            limited time. Repayment terms vary from 24 to 132 months. Interest
            waived if repaid in 365 days. 18.58% fixed APR, effective as of
            August 1, 2019, subject to change. Interest starts accruing when the
            loan closes.
          </p>
        </div>
        <div style="width:300px;">
          <a
            href="https://application.enerbank.com/#/link?spnum=8664057600&cid=78291&promo=6995YRE33&loamt="
            ><img
              src="https://enerbank.com/online-app-integration/images/banner6.png"
          /></a>
          <p
            style="font-size:10px;line-height:10px;color:#000; text-align: justify;-moz-text-align-last: center; text-align-last: center; margin:10px 0;font-weight:400;"
          >
            *Loans provided by EnerBank USA, Member FDIC, (1245 Brickyard Rd.,
            Suite 600, Salt Lake City, UT 84106) on approved credit, for a
            limited time. Repayment term is 60 months. 6.99% fixed APR. Minimum
            loan amounts apply. The first monthly payment will be due 30 days
            after the loan closes.
          </p>
        </div>
      </div>
    </section>
    <section>
      <h5 class="font-weight-bold mb-3">
        Financing Information
      </h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          No liens, collateral, equity or down payments
        </li>
        <li class="list-group-item">
          No prepayment penalties
        </li>
        <li class="list-group-item">
          Minimum credit score of 640 needed for approval
        </li>
        <li class="list-group-item">
          For Same-As-cash loan, there are no payments required
        </li>
        <li class="list-group-item">
          For 5 Year Loan, first payment is due within 30-90 days of the
          project's completion
        </li>
        <li class="list-group-item">
          Our Contractor ID number is
          <span class="font-weight-bold">#78291</span>
        </li>
        <li class="list-group-item">
          The codes for the loans we offer are Same-As-Cash (<span
            class="font-weight-bold"
            >821177</span
          >) and 5 Year Loan (<span class="font-weight-bold">6995YRE33</span>)
        </li>
      </ul>
    </section>
  </div>
</div>
