<ng-container *ngIf="colors != null">
  <p class="mb-0 mt-2 ml-1 font-weight-bold" [innerHTML]="colors.name"></p>
  <div class="row no-gutters">
    <div
      class="col-3 col-md-2"
      *ngFor="let color of colors.values | keys; index as j"
    >
      <div
        *ngIf="color.value[0] === '#'"
        class="square border border-dark"
        [mdbTooltip]="color.key"
        [ngStyle]="{ background: color.value }"
        placement="bottom"
        data-toggle="modal"
        data-target="#colorModal"
        (click)="show(j)"
      ></div>
      <div
        *ngIf="color.value[0] === '/'"
        class="square border border-dark"
        [mdbTooltip]="color.key"
        [ngStyle]="{
          'background-image': 'url(' + color.value + ')',
          'background-size': 'cover'
        }"
        placement="bottom"
        data-toggle="modal"
        data-target="#colorModal"
        (click)="show(j)"
      ></div>
      <div
        mdbModal
        #ColorModal="mdb-modal"
        class="modal fade"
        id="colorModal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modalBox" role="img">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn btn-danger waves-light"
                data-dismiss="modal"
                (click)="ColorModal.hide()"
                mdbWavesEffect
              >
                X
              </button>
            </div>
            <div *ngIf="modalImagePath" class="text-center">
              <div
                *ngIf="modalImagePath[0] === '#'"
                class="square-lg"
                [ngStyle]="{ background: modalImagePath }"
                placement="bottom"
              ></div>
              <div
                *ngIf="modalImagePath[0] === '/'"
                class="square-lg"
                [ngStyle]="{
                  'background-image': 'url(' + modalImagePath + ')',
                  'background-size': 'cover'
                }"
                placement="bottom"
              ></div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary waves-light"
                (click)="previous()"
                mdbWavesEffect
              >
                <span
                  aria-hidden="true"
                  class="carousel-control-prev-icon"
                ></span>
              </button>
              <h4 class="modalColorTitle">{{ currentName }}</h4>
              <button
                type="button"
                class="btn btn-primary waves-light"
                (click)="next()"
                mdbWavesEffect
              >
                <span
                  aria-hidden="true"
                  class="carousel-control-next-icon"
                ></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
