<footer *ngIf="this.turnMeOn" class="page-footer font-small unique-color-dark pt-0">
  <div class="mmbg">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h5 class="my-0 py-3 text-dark font-weight-bold">
            Get connected with us on social networks!
          </h5>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a href="https://www.indeed.com/cmp/Mike's-Mobile-Services"
            style="padding: 18px; align-self: center; align-content: center; justify-self: center; justify-content: center;"><img
              src="assets/images/socialIcon/IndeedLogoV2.svg" alt="indeed logo"
              style="max-width: 2em !important; margin-bottom: 20px;" />
          </a>
          <a href="https://www.instagram.com/mikesmobilescreens/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/MikesMobileScreenAndChimneyService/"><i class="fab fa-facebook"></i></a>
          <a href="https://www.yelp.com/biz/mikes-mobile-screen-and-chimney-service-sacramento"><i
              class="fab fa-yelp"></i></a>
          <a href="https://maps.google.com/maps?cid=9523909510710830456"><i class="fab fa-google"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 pt-3">
        <a mdbPageScroll pageScrollDuration="350" href="#backToTop">
          <h3 class="text-center">
            <i class="fa fa-angle-up" aria-hidden="true"></i>Back to top<i class="fa fa-angle-up"
              aria-hidden="true"></i>
          </h3>
        </a>
      </div>
    </div>
  </div>
  <div class="container mt-3 mb-4 text-md-left">
    <div class="row mt-3">
      <div class="col-6 col-lg-3 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Mike's Mobile</strong>
        </h6>
        <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;" />
        <p>
          Mike's Mobile Screens and Chimney Services specializes in window
          screens, screen doors, Solar Screens, security doors and more!
        </p>
        <p>We serve the Sacramento, Stockton, Modesto, Napa and Bay areas</p>
      </div>
      <div class="col-6 col-lg-3 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Our Services</strong>
        </h6>
        <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;" />
        <p>
          <a routerLink="/about/chimney-services">Chimney Services</a>
        </p>
        <p>
          <a routerLink="/about/security-doors-and-windows">Home Security</a>
        </p>
        <p><a routerLink="/about/door-screens">Screen Doors</a></p>
        <p>
          <a routerLink="/about/security-doors">Security Screen Doors</a>
        </p>
        <p>
          <a routerLink="/products/security-windows">Security Window Screens</a>
        </p>
        <p><a routerLink="/about/window-screens">Window Screens</a></p>
        <!-- <p><a routerLink="/about/awnings">Awnings</a></p> -->
      </div>
      <div class="col-6 col-lg-3 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Useful links</strong>
        </h6>
        <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;" />
        <p><a routerLink="/about">About Us</a></p>
        <!-- <p><a routerLink="/service-area/contact-us">Contact Us</a></p> -->
        <p><a routerLink="/contract">Contract</a></p>
        <p><a routerLink="/financing">Financing</a></p>
        <p><a routerLink="/fireplace-manuals">Fireplace Manuals</a></p>
        <p><a routerLink="/privacy">Privacy Policy</a></p>
        <p><a routerLink="/service-area">Service Area</a></p>
        <!-- <p><a routerLink="/awningPriceCalc">Awnings Price Calculator</a></p>
        <p><a routerLink="/dropRollPriceCalc">Drop Roll Price Calculator</a></p> -->
      </div>
      <div class="col-6 col-lg-3 col-xl-3" id="contact">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Contact us</strong>
        </h6>
        <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;" />
        <p class="mb-0 font-weight-bold text-white">Sacramento</p>
        <hr class="orange mb-0 mt-0 d-inline-block mx-auto" style="width: 60px;" />
        <p>
          <a target="_blank" rel="noopener" href="https://goo.gl/maps/xJ6vETMoxXH2">9912 Business Park Dr. Ste
            175<br />Sacramento, CA. 95827</a>
        </p>
        <p class="mb-0 font-weight-bold text-white">Stockton</p>
        <hr class="orange mb-0 mt-0 d-inline-block mx-auto" style="width: 60px;" />
        <p>
          <a target="_blank" rel="noopener" href="https://goo.gl/maps/u66zSj8e1adyTyqg9">1401 W Fremont St
            <br />Stockton, CA 95203</a>
        </p>
        <p>
          <!-- <a id="emailLink" href="mailto:office@mikesmobile.com">office@mikesmobile.com</a> -->
          <a style="overflow-wrap: anywhere;" href="mailto:office@mikesmobile.com">office@mikesmobile.com</a>

        </p>
        <p><a href="tel:+1{{this.phone}}">{{this.phone}}</a></p>
        <!-- <a routerLink="/contact"><button type="button" class="btn btn-lg orange btn-rounded waves-light"
            mdbRippleRadius>
            Contact us
          </button></a> -->
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center">
    <div class="container-fluid py-1">
      <small>© 2020 Copyright -
        <a href="http://mikesmobile.com">MikesMobile.com</a></small>
    </div>
  </div>
</footer>


<footer *ngIf="this.central" class="page-footer font-small unique-color-dark pt-0">
  <div class="mmbg">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h5 class="my-0 py-3 text-dark font-weight-bold">
            Get connected with us on social networks!
          </h5>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a href="https://www.indeed.com/cmp/Mike's-Mobile-Services"
            style="padding: 18px; align-self: center; align-content: center; justify-self: center; justify-content: center;"><img
              src="assets/images/socialIcon/IndeedLogoV2.svg" alt="indeed logo"
              style="max-width: 2em !important; margin-bottom: 20px;" />
          </a>
          <a href="https://www.instagram.com/mikesmobilescreens/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/MikesMobileScreenAndChimneyService/"><i class="fab fa-facebook"></i></a>
          <a href="https://www.yelp.com/biz/mikes-mobile-screen-and-chimney-service-sacramento"><i
              class="fab fa-yelp"></i></a>
          <a href="https://maps.google.com/maps?cid=9523909510710830456"><i class="fab fa-google"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 pt-3">
        <a mdbPageScroll pageScrollDuration="350" href="#backToTop">
          <h3 class="text-center">
            <i class="fa fa-angle-up" aria-hidden="true"></i>Back to top<i class="fa fa-angle-up"
              aria-hidden="true"></i>
          </h3>
        </a>
      </div>
    </div>
  </div>

  <div class="container mt-3 mb-4 text-md-left">
    <div class="row mt-3 d-flex justify-content-evenly">
      <div class="col-12 col-lg-3 mb-4">
        <h6 class="text-uppercase font-weight-bold text-center">
          <strong>Mike's Mobile</strong>
        </h6>
        <hr class="blue" />
        <p>
          Mike's Mobile specializes in installing premium Security Screen Doors and Security Window Screens.
        </p>
        <p>We serve communities throughout Northern and Central California.</p>
      </div>
      <div class="col-12 col-lg-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-center">
          <strong>Service Area</strong>
        </h6>
        <hr class="blue" />

        <div class="row">

          <div class="col-6">
            <p>Bakersfield</p>
            <p>Hanford</p>
            <p>Kettleman City</p>
            <p>King City</p>
            <p>Lemoore</p>
          </div>
          <div class="col-6">
            <p>San Luis Obispo</p>
            <p>Tulare</p>
            <p>Visalia</p>
            <p>+ More!</p>
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-3 text-center" id="contact">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Contact us</strong>
        </h6>
        <hr class="blue" />

        <p><a href="tel:+1{{this.phone}}" style="text-decoration: underline">{{this.phone}}</a></p>
        <p><a style="overflow-wrap: anywhere; text-decoration: underline;"
            href="mailto:office@mikesmobile.com">office@mikesmobile.com</a></p>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center">
    <div class="container-fluid py-1">
      <small>© 2020 Copyright -
        <a href="http://mikesmobile.com">MikesMobile.com</a></small>
    </div>
  </div>
</footer>

<footer *ngIf="this.south" class="page-footer font-small unique-color-dark pt-0">
  <div class="mmbg">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h5 class="my-0 py-3 text-dark font-weight-bold">
            Get connected with us on social networks!
          </h5>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a href="https://www.indeed.com/cmp/Mike's-Mobile-Services"
            style="padding: 18px; align-self: center; align-content: center; justify-self: center; justify-content: center;"><img
              src="assets/images/socialIcon/IndeedLogoV2.svg" alt="indeed logo"
              style="max-width: 2em !important; margin-bottom: 20px;" />
          </a>
          <a href="https://www.instagram.com/mikesmobilescreens/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/MikesMobileScreenAndChimneyService/"><i class="fab fa-facebook"></i></a>
          <a href="https://www.yelp.com/biz/mikes-mobile-screen-and-chimney-service-sacramento"><i
              class="fab fa-yelp"></i></a>
          <a href="https://maps.google.com/maps?cid=9523909510710830456"><i class="fab fa-google"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 pt-3">
        <a mdbPageScroll pageScrollDuration="350" href="#backToTop">
          <h3 class="text-center">
            <i class="fa fa-angle-up" aria-hidden="true"></i>Back to top<i class="fa fa-angle-up"
              aria-hidden="true"></i>
          </h3>
        </a>
      </div>
    </div>
  </div>

  <div class="container mt-3 mb-4 text-md-left">
    <div class="row mt-3 d-flex justify-content-evenly">
      <div
        *ngIf="currentRoute === '/about/our-security-screen-doors/ventura' || currentRoute === '/regions/ventura/security'"
        class="col-12 col-lg-3 mb-4">
        <h6 class="text-uppercase font-weight-bold text-center">
          <strong>Mike's Mobile</strong>
        </h6>
        <hr class="blue" />
        <p>
          Mike's Mobile Security Doors specializes in installing premium Security Screen Doors and Security Window
          Screens to California residents.
        </p>
        <p>We serve communities throughout California including Ventura County, Santa Barbara County, Los Angeles
          County.</p>
      </div>
      <div
        *ngIf="currentRoute === '/about/our-security-screen-doors/los-angeles' || currentRoute === '/regions/los-angeles/security'"
        class="col-12 col-lg-3 mb-4">
        <h6 class="text-uppercase font-weight-bold text-center">
          <strong>Mike's Mobile</strong>
        </h6>
        <hr class="blue" />
        <p>
          Mike's Mobile Security Doors specializes in installing premium Security Screen Doors and Security Window
          Screens to California residents.
        </p>
        <p>We serve communities throughout Southern California including Los Angeles County, Orange County, and San
          Bernardino County.</p>
      </div>
      <div
        *ngIf="currentRoute === '/about/our-security-screen-doors/san-diego' || currentRoute === '/regions/san-diego/security'"
        class="col-12 col-lg-3 mb-4">
        <h6 class="text-uppercase font-weight-bold text-center">
          <strong>Mike's Mobile</strong>
        </h6>
        <hr class="blue" />
        <p>
          Mike's Mobile Security Doors specializes in installing premium Security Screen Doors and Security Window
          Screens to Southern California residents.

        </p>
        <p>We serve communities throughout California including San Diego County.</p>
      </div>
      <div class="col-12 col-lg-4 mx-auto">
        <h6 class="text-uppercase font-weight-bold text-center">
          <strong>Service Area</strong>
        </h6>
        <hr class="blue" />
        <div
          *ngIf="currentRoute === '/about/our-security-screen-doors/san-diego' || currentRoute === '/regions/san-diego/security'">
          <div class="row">
            <div class="col-4">
              <p>Carlsbad</p>
              <p>Chula Vista</p>
              <p>Del Mar</p>
              <p>El Cajon</p>
            </div>
            <div class="col-4">
              <p>Encinitas</p>
              <p>Escondido</p>
              <p>La Jolla</p>
              <p>National City</p>
            </div>
            <div class="col-4">
              <p>Oceanside</p>
              <p>San Diego</p>
              <p>San Marcos</p>
              <p>Vista</p>
            </div>
          </div>
        </div>
        <div
          *ngIf="this.currentRoute === '/about/our-security-screen-doors/ventura' || this.currentRoute === '/regions/ventura/security' ">
          <div class="row">
            <div class="col-4">
              <p>Burbank</p>
              <p>Calabasas</p>
              <p>Carpinteria</p>
              <p>Isla Vista</p>
              <p>Lancaster</p>
              <p>Malibu</p>
            </div>
            <div class="col-4">
              <p>Northridge</p>
              <p>Orcutt</p>
              <p>Oxnard</p>
              <p>Palmdale</p>
              <p>San Fernando</p>
              <p>Santa Barbara</p>
            </div>
            <div class="col-4">
              <p>Santa Clarita</p>
              <p>Santa Maria</p>
              <p>Simi Valley</p>
              <p>Thousand Oaks</p>
              <p>Ventura</p>
              <p> + nearby!</p>
            </div>
          </div>
        </div>
        <div
          *ngIf="this.currentRoute === '/about/our-security-screen-doors/los-angeles' || this.currentRoute === '/regions/los-angeles/security' ">
          <div class="row">
            <div class="col-4">
              <p>Anaheim</p>
              <p>Beverly Hills</p>
              <p>Covina</p>
              <p>Hollywood</p>
              <p>Huntington Beach</p>
              <p>Irvine</p>
            </div>
            <div class="col-4">
              <p>Laguna Beach</p>
              <p>Long Beach</p>
              <p>Los Angeles</p>
              <p>Newport Beach</p>
              <p>Orange</p>
              <p>Pasadena</p>
            </div>
            <div class="col-4">
              <p>Riverside</p>
              <p>San Bernadino</p>
              <p>Santa Monica</p>
              <p>Torrance</p>
              <p>Venice</p>
              <p> + More!</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-3 text-center" id="contact">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Contact us</strong>
        </h6>
        <hr class="blue" />

        <p><a href="tel:+1{{this.phone}}" style="text-decoration: underline">{{this.phone}}</a></p>
        <p><a style="overflow-wrap: anywhere; text-decoration: underline;"
            href="mailto:office@mikesmobile.com">office@mikesmobile.com</a></p>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center">
    <div class="container-fluid py-1">
      <small>© 2020 Copyright -
        <a href="http://mikesmobile.com">MikesMobile.com</a></small>
    </div>
  </div>
</footer>

<footer *ngIf="this.firepit" class="page-footer font-small unique-color-dark pt-0">
  <div class="mmbg">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h5 class="my-0 py-3 text-dark font-weight-bold">
            Get connected with us on social networks!
          </h5>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a href="https://www.indeed.com/cmp/Mike's-Mobile-Services"
            style="padding: 18px; align-self: center; align-content: center; justify-self: center; justify-content: center;"><img
              src="assets/images/socialIcon/IndeedLogoV2.svg" alt="indeed logo"
              style="max-width: 2em !important; margin-bottom: 20px;" />
          </a>
          <a href="https://www.instagram.com/mikesmobilescreens/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/MikesMobileScreenAndChimneyService/"><i class="fab fa-facebook"></i></a>
          <a href="https://www.yelp.com/biz/mikes-mobile-screen-and-chimney-service-sacramento"><i
              class="fab fa-yelp"></i></a>
          <a href="https://maps.google.com/maps?cid=9523909510710830456"><i class="fab fa-google"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 pt-3">
        <a mdbPageScroll pageScrollDuration="350" href="#backToTop">
          <h3 class="text-center">
            <i class="fa fa-angle-up" aria-hidden="true"></i>Back to top<i class="fa fa-angle-up"
              aria-hidden="true"></i>
          </h3>
        </a>
      </div>
    </div>
  </div>

  <div class="container mt-3 mb-4 text-md-left">
    <div class="row mt-3 d-flex justify-content-evenly">
      <div class="col-12 col-lg-3 mb-4">
        <h6 class="text-uppercase font-weight-bold text-center">
          <strong>Mike's Mobile</strong>
        </h6>
        <hr class="blue" />
        <p>
          Mike's Mobile Screens and Chimney Services is a full service chimney and brick masonry company that is
          licensed, bonded, and insured. We specialize in chimney repairs, fireplace hearth restoration,
          brick/block/stone veneer, and outdoor hardscaping.
        </p>
        <p>Our service area covers the Sacramento, Stockton, Modesto, Fresno, Napa, and Bay areas.</p>
      </div>
      <div class="col-12 col-lg-4 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-center">
          <strong>Service Area</strong>
        </h6>
        <hr class="blue" />

        <div class="row">

          <div class="col-4">
            <p class="mb-1">Antioch</p>
            <p class="mb-1">Danville</p>
            <p class="mb-1">Elk Grove</p>
            <p class="mb-1">Folsom</p>
            <p class="mb-1">Fresno</p>
            <p class="mb-1">Fremont</p>
            <p class="mb-1">Hayward</p>
          </div>
          <div class="col-4">
            <p class="mb-1">Madera</p>
            <p class="mb-1">Merced</p>
            <p class="mb-1">Modesto</p>
            <p class="mb-1">Napa</p>
            <p class="mb-1">Oakland</p>
            <p class="mb-1">Richmond</p>
            <p class="mb-1">Roseville</p>
          </div>
          <div class="col-4">
            <p class="mb-1">Sacramento</p>
            <p class="mb-1">San Jose</p>
            <p class="mb-1">Sonora</p>
            <p class="mb-1">Stockton</p>
            <p class="mb-1">Tracy</p>
            <p class="mb-1">Walnut Creek</p>
            <p class="mb-1">Yuba City</p>
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-3 text-center" id="contact">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Contact us</strong>
        </h6>
        <hr class="blue" />

        <p><a href="tel:+1{{this.phone}}" style="text-decoration: underline">{{this.phone}}</a></p>
        <p><a style="overflow-wrap: anywhere; text-decoration: underline;"
            href="mailto:office@mikesmobile.com">office@mikesmobile.com</a></p>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center">
    <div class="container-fluid py-1">
      <small>© 2020 Copyright -
        <a href="http://mikesmobile.com">MikesMobile.com</a></small>
    </div>
  </div>
</footer>

<footer *ngIf="this.securityFooter" class="page-footer font-small unique-color-dark pt-0">
  <div class="mmbg">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h5 class="my-0 py-3 text-dark font-weight-bold">
            Get connected with us on social networks!
          </h5>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a href="https://www.indeed.com/cmp/Mike's-Mobile-Services"
            style="padding: 18px; align-self: center; align-content: center; justify-self: center; justify-content: center;"><img
              src="assets/images/socialIcon/IndeedLogoV2.svg" alt="indeed logo"
              style="max-width: 2em !important; margin-bottom: 20px;" />
          </a>
          <a href="https://www.instagram.com/mikesmobilescreens/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/MikesMobileScreenAndChimneyService/"><i class="fab fa-facebook"></i></a>
          <a href="https://www.yelp.com/biz/mikes-mobile-screen-and-chimney-service-sacramento"><i
              class="fab fa-yelp"></i></a>
          <a href="https://maps.google.com/maps?cid=9523909510710830456"><i class="fab fa-google"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 pt-3">
        <a mdbPageScroll pageScrollDuration="350" href="#backToTop">
          <h3 class="text-center">
            <i class="fa fa-angle-up" aria-hidden="true"></i>Back to top<i class="fa fa-angle-up"
              aria-hidden="true"></i>
          </h3>
        </a>
      </div>
    </div>
  </div>

  <div class="container mt-3 mb-4 text-md-left">
    <div class="row mt-3 d-flex justify-content-evenly">
      <div class="col-12 col-lg-3 mb-4">
        <h6 class="text-uppercase font-weight-bold text-center">
          <strong>Mike's Mobile</strong>
        </h6>
        <hr class="blue" />
        <p>
          Mike's Mobile specializes in installing premium Security Screen Doors and Security Window Screens.
        </p>
        <p>We serve communities throughout Northern and Central California.</p>
      </div>
      <div class="col-12 col-lg-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold text-center">
          <strong>Service Area</strong>
        </h6>
        <hr class="blue" />

        <div *ngIf="!cityNameSplit" class="row">
          <div class="col-12 text-center">
            <p *ngFor="let city of cityNames">{{city}}</p>
          </div>
        </div>

        <div *ngIf="cityNameSplit" class="row">
          <div class="col-6">
            <p *ngFor="let city of cityNames | slice:0:5">{{city}}</p>
          </div>
          <div class="col-6">
            <p *ngFor="let city of cityNames | slice:5">{{city}}</p>

          </div>
        </div>

      </div>
      <div class="col-12 col-lg-3 text-center" id="contact">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Contact us</strong>
        </h6>
        <hr class="blue" />

        <p><a href="tel:+1{{this.phone}}" style="text-decoration: underline">{{this.phone}}</a></p>
        <p><a style="overflow-wrap: anywhere; text-decoration: underline;"
            href="mailto:office@mikesmobile.com">office@mikesmobile.com</a></p>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center">
    <div class="container-fluid py-1">
      <small>© 2020 Copyright -
        <a href="http://mikesmobile.com">MikesMobile.com</a></small>
    </div>
  </div>
</footer>