<!--Footer-->
<footer class="page-footer font-small unique-color-dark pt-0 mt-4">
    <div style="background-color: #00aeef;">
        <div class="container">
            <!--Grid row-->
            <div class="row d-flex align-items-center">
                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h5 class="my-0 py-3 white-text">Get connected with us on social networks!</h5>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0" href="https://www.facebook.com/MikesMobileScreenAndChimneyService/"><i class="fa fa-facebook s-icons"> </i></a>
                    <!--Twitter-->
                    <a class="gplus1-ic" href="https://plus.google.com/+MikesMobileScreenChimneyServiceStockton"><i class="fa fa-google-plus-square s-icons"> </i></a>
                    <!--Google +-->
                    <a class="gplus-ic" href="https://plus.google.com/+MikesMobileScreenChimneyServiceSacramento"><i class="fa fa-google-plus s-icons"> </i></a>
                    <!--Linkedin-->
                    <a class="li-ic" href="https://www.yelp.com/biz/mikes-mobile-screen-and-chimney-service-sacramento"><i class="fa fa-yelp s-icons"> </i></a>
                    <!--Youtube-->
                    <a class="ins-ic" href="https://www.youtube.com/channel/UCm9zVDyFkzYydZxzjHMOUdQ"><i class="fa fa-youtube-play s-icons"> </i></a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>

    <!-- Back to top -->
    <div class="container">
        <div class="row">
            <div class="col-12 pt-3">
                <a mdbPageScroll pageScrollDuration=250 href="#backToTop">
                    <h3 class="text-center"><i class="fa fa-angle-up" aria-hidden="true"></i>Back to top<i class="fa fa-angle-up" aria-hidden="true"></i></h3>
                </a>
            </div>
        </div>
    </div>
    <!-- Back to top -->

    <!--Footer Links-->
    <div class="container mt-3 mb-4 text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-6 col-lg-3 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Mike's Mobile</strong></h6>
                <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Mike's Mobile Screens and Chimney Services specializes in window screens, screen doors, Solar Screens, security doors, retractable awnings and more!</p>
                <p>We serve the Sacramento, Stockton, Modesto, East Bay and Napa areas </p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-6 col-lg-3 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Our Services</strong></h6>
                <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a [routerLink]="['/about/door-and-window-screens']">Door and Window Screens</a></p>
                <p><a [routerLink]="['/about/door-screens']">Screen Doors</a></p>
                <p><a [routerLink]="['/about/window-screens']">Window Screens</a></p>
                <p><a [routerLink]="['/about/chimney-services']">Chimney Services</a></p>
                <p><a [routerLink]="['/about/security-doors-and-windows']">Home Security</a></p>
                <p><a [routerLink]="['/about/security-doors']">Security Doors</a></p>
                <p><a [routerLink]="['/about/security-windows']">Security Windows</a></p>
                <p><a [routerLink]="['/about/awnings']">Awnings</a></p>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-6 col-lg-3 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Useful links</strong></h6>
                <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a (click)="basicModal.show()" class="orange-text" mdbRippleRadius>Get a Free Quote</a></p>
                <p><a [routerLink]="['/about']">About Us</a></p>
                <p><a [routerLink]="['/contact']">Contact Us</a></p>
                <p><a target="_blank" href="https://www.mikesmobile.com/sitemap.xml" >SiteMap</a></p>
                <p><a [routerLink]="['/privacy']" >Privacy Policy</a></p>
                <p><a [routerLink]="['/regions']">Regional Services</a></p>
                <p><a [routerLink]="['/contract']">Contract</a></p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-6 col-lg-3 col-xl-3" id="contact">
                <h6 class="text-uppercase font-weight-bold"><strong>Contact us</strong></h6>
                <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="mb-0 font-weight-bold text-white">Sacramento</p>
                <hr class="orange mb-0 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a target="_blank"  href="https://goo.gl/maps/xJ6vETMoxXH2">9941 Horn Rd Suite A<br>Sacramento, CA. 95827</a></p>
                <p class="mb-0 font-weight-bold text-white">Stockton</p>
                <hr class="orange mb-0 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a target="_blank"  href="https://goo.gl/maps/uaYixbEZSCJ2">8130 Lorraine Ave #312,<br>Stockton, CA 95210</a></p>
                <p><a href="mailto:office@mikesmobile.com">office@mikesmobile.com</a></p>
                <p><a href="tel:+1-916-372-8783">+1 (916) 372-8783</a></p>
                <a [routerLink]="['/contact']"><button type="button" class="btn btn-lg peach-gradient btn-rounded waves-light" mdbRippleRadius>Contact us</button></a> 
                <!-- <a href="https://goo.gl/maps/nzqakuzWTft"><button type="button" class="btn btn-lg peach-gradient btn-rounded waves-light" mdbRippleRadius>Google maps</button></a>  -->
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright text-center">
        <div class="container-fluid">
            <small>© 2018 Copyright - <a href="http://mikesmobile.com">MikesMobile.com</a></small>
        </div>
    </div>
    <!--/.Copyright -->

</footer>
<!--/.Footer-->

<!--QuoteForm Modal-->
<div class="container">
    <div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Get a Free Quote Now! <br/><span class="orange-text">1-877-520-3595</span></h4>
                </div>
                <div class="modal-body">
                    <!-- <div class="md-form form-sm">
                        <mdb-select [options]="optionsSelect" [multiple]="true" placeholder="What service were you interested in?"></mdb-select>
                    </div> -->
                    <div class="md-form form-sm">                        
                        <mdb-select [options]="groupOptionsSelect" placeholder="Choose your option" class="colorful-select dropdown-primary"></mdb-select>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="fullName" class="">Full Name</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="city" class="">City</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="phone" class="">Phone</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="email" class="">Email</label>
                    </div>
                    <div class="md-form">
                        <textarea mdbActive type="text" id="form7" class="md-textarea"></textarea>
                        <label for="form7">How can we help</label>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <button type="button" class="btn gray waves-light w-100" aria-label="Close" (click)="basicModal.hide()" mdbRippleRadius>Close</button>
                    <button type="button" class="btn blue relative waves-light w-100" mdbRippleRadius>Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/QuoteForm Modal-->