<div class="container-fluid">

  <div class="row">

    <div class="col-12 mx-0 px-0">
      <mdb-carousel [isControls]="false" class="carousel img-fluid" [interval]="2000" [animation]="fade">

        <mdb-carousel-item>
          <img class="d-block w-100" src='../../assets/images/home/nofocus.png' alt='img'>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img id="door" class="d-block w-100" src='../../assets/images/home/doorfocus.png' alt="image">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img id='window' class="d-block w-100" src='../../assets/images/home/windowfocus.png' alt="image">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img id='chim' class="d-block w-100" src='../../assets/images/home/chimfocus.png' alt="image">
        </mdb-carousel-item>

      </mdb-carousel>
    </div>

    <!-- <a data-aos="fade-up" data-aos-delay="500">
      <img src='../../assets/images/home/btnShape.png' class="img-fluid" alt="">
    </a> -->
    <div class="col-12" style="z-index: 2; margin-top: -90px;">
      <div class="d-flex justify-content-around">
        <a data-aos="fade-up" data-aos-delay="500" class="btn whiteBlueBtn">Security Doors</a>
        <a data-aos="fade-up" data-aos-delay="500" class="btn whiteBlueBtn">Window</a>
        <a data-aos="fade-up" data-aos-delay="500" class="btn whiteBlueBtn">Chimney</a>
      </div>
      
    </div>
  </div>
</div>