
<mdb-carousel [isControls]="false" class="carousel" [interval]="2000" [animation]="fade">
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../assets/images/home/nofocus.png" alt="House without any security products">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../assets/images/home/windowfocus.png" alt="Security Screens">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../assets/images/home/doorfocus.png" alt="Viewguard Security Screen Door">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../assets/images/home/chimfocus.png" alt="Chimney with a Mike's Mobile Cap and Waterproofing!">
  </mdb-carousel-item>
</mdb-carousel>
 