
@import '../../sass/modules/_mixins.sass'
@import '../../sass/modules/_variables.sass'

.whiteBgBlueBorderBtn
    background-image: url('../../assets/images/home/btnShape.png')
    background-size: cover

.whiteBlueBtn
    background-color: white
    font-weight: bold
    color: black !important
    border: 3px solid $mmblue
.whiteBlueBtn:hover
    background-color: $mmblue
    border: 3px solid #fff

.transformScale
    transform: scale(1.2)

.bgPicWindow
    background: url('../../assets/images/home/windowfocus.png')
    background-size: cover
    height: 100px
    background-position-y: 50%

.bgPicDoor


.bgPicFireplace
