<ng-container *ngIf="service">


  <ng-container *ngIf="service.slug === 'window-screen-services' || service.slug === 'our-window-screen-services' || service.slug === 'window-screen-repair'">

    <div class="container-fluid">
      <!-- Main -->
      <div class="row">
        <div class="order-2 order-lg-1 order-xl-2 col-12 col-lg-6 d-flex p-3 p-xl-5 justify-content-center align-items-center">
          <div class="m-0 m-md-3 m-xl-5 px-xl-5 pb-xl-5 paddingNoneHeader">
            <h1 class="fontResponseh1  font-weight-bold">Getting fresh air shouldn’t be hard.</h1>
            <p style="font-size: 25px;">We make replacing your window screens fast and easy.</p>
            <div class="d-flex justify-content-center">
              <button class="btn mikesBlueBtn mt-3" (click)="openQuoteForm()">Schedule Online</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2 order-xl-3 px-0 d-flex justify-content-end">
          <img data-aos="fade" data-aos-duration="1000" class="img-fluid" src="../../assets/images/landing/windowServices/openWindow.png"
            alt="Woman opening a window" />
        </div>
      </div>
    </div>
    <!-- check with words -->
    <div class="container-fluid">
      <div class="row mb-5">

        <div class="col-12 col-lg-4 py-5 bluishBackground">
          <p style="overflow: hidden; white-space: nowrap;" data-aos="fade-left" class="text-center subtitleBold mb-0">
            ✓ Keep Bugs Out
          </p>
        </div>

        <!-- vv These two are the exact same but are different at certain sizes vv -->
        <div class="d-none d-lg-block col-12 col-lg-4 py-5 bluishBackground"
          style="border-left: solid 2px #fff; border-right: solid 2px #fff;">
          <p style="overflow: hidden; white-space: nowrap;" data-aos="fade-left" class="text-center subtitleBold mb-0">
            ✓ Enjoy The Breeze
          </p>
        </div>
        <div class="d-lg-none col-12 col-lg-4 py-5 bluishBackground"
          style="border-bottom: solid 2px #fff; border-top: solid 2px #fff;">
          <p style="overflow: hidden; white-space: nowrap;" data-aos="fade-right" class="subtitleBold text-center mb-0">
            ✓ Enjoy The Breeze
          </p>
        </div>
        <!-- ^^These two are the exact same but are different at certain sizes ^^ -->

        <div class="col-12 col-lg-4 py-5 bluishBackground">
          <p style="overflow: hidden; white-space: nowrap;" data-aos="fade-left" class="subtitleBold text-center mb-0">
            ✓ Save Time
          </p>
        </div>
      </div>
    </div>
    <!-- unordered list of stuff -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 d-flex justify-content-center">
          <img height='300px' src="../../assets/images/landing/windowServices/brokenScreen.png" alt="Broken Screen" />
        </div>

        <div class="col-12 col-lg-6">
          <h2 style="font-size:40px">Sound familiar? If so, we can help.</h2>
          <br>
          <ul style="font-size: 20px;">
            <li class="mb-3">Your windows are missing screens</li>
            <li class="mb-3">Your window screens are torn</li>
            <li class="mb-3">You don’t have time to DIY</li>
          </ul>
          <div class="col-12 d-flex justify-content-center">
            <a class="btn mikesBlueBtn" href="tel:+1{{service.phone}}">Call Now</a>
          </div>
        </div>
      </div>
    </div>

    <!-- review section -->
    <div class="container-fluid bluishBackground py-5 my-5">
      <div class="container">
        <!-- Upgrading -->
        <div class="row">
          <div class="col-12 mb-3">
            <h2 style="font-size:40px;" class="text-center mb-3">Getting new window screens shouldn’t be difficult…</h2>

            <p style="font-size:20px;" class="text-center">Since 2002, Mike’s Mobile has proudly helped over 50,000
              homeowners across California with their <br class="d-none d-md-block"> home renovation projects.</p>
          </div>
        </div>

        <!-- reviews -->
        <div class="row text-center mx-0 mb-4">
          <div class="col-12 col-md-4 mb-2 px-5 py-2 px-md-2 p-lg-5">
            <img data-aos="fade-right"  data-aos-anchor-placement="bottom-bottom" src="../../assets/images/landing/windowServices/review1.png" class="img-fluid"
              alt="A Mike's Mobile Review">
          </div>
          <div class="col-12 col-md-4 mb-2 px-5 py-2 px-md-2 p-lg-5">
            <img data-aos="fade"  data-aos-anchor-placement="bottom-bottom" src="../../assets/images/landing/windowServices/elkGroveReview.png" class="img-fluid"
              alt="A Mike's Mobile Review">
          </div>
          <div class="col-12 col-md-4 mb-2 px-5 py-2 px-md-2 p-lg-5">
            <img data-aos="fade-left"  data-aos-anchor-placement="bottom-bottom" src="../../assets/images/landing/windowServices/modestoReview.png" class="img-fluid"
              alt="A Mike's Mobile Review">
          </div>
        </div>

        <!-- icons -->
        <div class="row">
          <div class="order-xl-2 d-none d-xl-block col-xl"></div>
          <div
            class="order-2 order-md-1 order-xl-2 col-6 col-md-4 col-xl-2 mb-2 d-flex justify-content-center align-items-center">
            <a href="https://www.cslb.ca.gov/" target="_blank">
              <img class="img-fluid" src="../../assets/images/landing/securityscreen/docacslb.png"
                alt="Department of Consumer Affairs Contractors State License Board logo">
            </a>
          </div>
          <div class="order-1 order-md-2 order-xl-3 col-12 col-md-4 col-xl-3 mb-2 d-flex justify-content-center px-2">
            <a href="https://www.expertise.com/CA/elk-grove/doors-windows-contractors" target="_blank"
              style="display:inline-block; border:0;"><img style="width:150px; display:block;" width="150" height="120"
                src="https://res.cloudinary.com/expertise-com/image/upload/f_auto,fl_lossy,q_auto/w_auto/remote_media/awards/ca_elk-grove_doors-windows-contractors_2021_transparent.svg"
                alt="Window & Doors Contractors near me" /></a>

            <a href="https://www.expertise.com/CA/stockton/doors-windows-contractors" target="_blank"
              style="display:inline-block; border:0;"><img style="width:150px; display:block;" width="150" height="120"
                src="https://res.cloudinary.com/expertise-com/image/upload/f_auto,fl_lossy,q_auto/w_auto/remote_media/awards/ca_stockton_doors-windows-contractors_2021_transparent.svg"
                alt="Window & Doors Contractors near me" /></a>
          </div>
          <div class="order-3 col-6 col-md-4 order-xl-4 col-xl-2 mb-2 d-flex justify-content-center align-items-center">
            <a href="https://www.hpba.org/" target="_blank">
              <img class="img-fluid" src="../../assets/images/landing/securityscreen/logo-hpba.png"
                alt="Hearth Patio And BBQ Association Logo">
            </a>
          </div>
          <div class="d-none d-xl-block col-xl order-xl-4"></div>
        </div>

        <!-- Call Now Phone -->
        <div class="row">
          <div class="col-12 d-flex justify-content-center mt-4">
            <a class="btn mikesBlueBtn" href="tel:+1{{service.phone}}">Call Now</a>
          </div>
        </div>


      </div>

    </div>

    <!-- How We Make It Easy, 1 , 2 , 3 -->
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center mb-3">
          <h2 id="triggerEasy" style="font-size:40px;">How We Make It Easy:</h2>
        </div>
      </div>
      <div class="container">

        <div class="row d-flex justify-content-evenly">
          <div class="col-lg"></div>
          <div class="col-12 col-lg-3 mb-3" data-aos-anchor="#triggerEasy" data-aos="fade-up"  data-aos-anchor-placement="top-center" data-aos-delay="200">
            <img class="img-fluid" src="../../assets/images/landing/securityscreen/csr.png"
              alt="Call Us! One of our Amazing CSR's will be able to get you on our schedule!">
            <p class="subtitleBold mt-2 mb-1">1. Call Us Today</p>
            <p style="font-size:20px;" class="lineSpacing">We listen to your goals and schedule a visit</p>
          </div>
          <div class="col-12 col-lg-3 mb-3" data-aos-anchor="#triggerEasy" data-aos="fade-up"  data-aos-anchor-placement="top-center" data-aos-delay="700">
            <img class="img-fluid" src="../../assets/images/landing/windowServices/wecometoyou.png"
              alt="One of our outstanding technicians will be able to install your security screens to perfection!">
            <p class="subtitleBold mt-2 mb-1">2. We Come To You</p>
            <p style="font-size:20px;" class="lineSpacing">Our experts build and install your screens on-site</p>
          </div>
          <div class="col-12 col-lg-3 mb-3" data-aos-anchor="#triggerEasy" data-aos="fade-up"  data-aos-anchor-placement="top-center" data-aos-delay="1200">
            <img class="img-fluid" src="../../assets/images/landing/windowServices/lovelive.png"
              alt="Happy Family">
            <p class="subtitleBold mt-2 mb-1">3. Enjoy The Breeze</p>
            <p style="font-size:20px;" class="lineSpacing">Relax and let in the fresh air</p>
          </div>
          <div class="col-lg"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <a class="btn mikesBlueBtn" href="tel:+1{{service.phone}}">Call Now</a>
        </div>
      </div>
    </div>

    <!-- Free Consultation -->
    <div class="container-fluid bluishBackground py-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-xl-1"></div>
          <div class="col-12 col-lg-6 col-xl-5 d-flex justify-content-center">
            <img height="450px" src="../../assets/images/landing/windowServices/mikeHank.png"
              alt="Some of our amazing technicians, ready to make your home more secure!">
          </div>

          <div class="col-12 col-lg-6 col-xl-5 px-2 mt-4">
            <h2 style="font-size:40px;">We Get it Done in <br class="d-none d-lg-block"> One Visit</h2>
            <br>
            <p style="font-size:20px;" class="lineSpacing">We understand that your time is valuable. <br
                class="d-none d-lg-block"> That’s why we offer
              convenient and fast <br class="d-none d-lg-block"> on-site service, so you can cross your <br
                class="d-none d-lg-block">
              window screens off your list in no time!</p>
            <button class="btn mikesBlueBtn" (click)="openQuoteForm()">Schedule Online</button>
          </div>
          <div class="col-xl-1"></div>

        </div>
      </div>
    </div>

    <!-- Our Guarantee -->
    <div class="container my-4">
      <div class="row">
        <div class="order-xl-1 d-none d-xl-block col-xl-1"></div>
        <div class="order-2 order-lg-1 order-xl-2 col-12 col-lg-6 col-xl-6 px-2 mt-5 px-md-5">
          <h2 style='font-size: 40px;'>Our Guarantee</h2>
          <br>

          <ul style="font-size: 18px;">
            <li class="mb-3">Save time & money - your project will be done right the first time</li>
            <li class="mb-3">Professional installation - no cracks, gaps, or screens falling off</li>
            <li class="mb-3">Convenience - we take care of you from start to finish</li>
          </ul>

          <a class="btn mikesBlueBtn" href="tel:+1{{service.phone}}">Call Now</a>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 order-1 order-lg-2 order-xl-3">
          <img data-aos="fade-left" data-aos-anchor-placement="center-bottom" class='img-fluid' src="../../assets/images/landing/mapNoBakersfield.png"
            alt="Map of our Service Area!">
        </div>
        <div class="order-xl-4 d-none d-xl-block col-xl-1"></div>

      </div>
    </div>

    <!-- Contact Form -->
    <div class="container-fluid bluishBackground">

      <!-- <div class="container pb-5"> -->
      <div class="row">
        <div class="d-none d-lg-block col-8 contactImg"></div>
        <div class="d-none d-lg-block col-4 py-4">
          <h2 style="font-size:40px;" class="pl-2 pl-xl-3 font-weight-bold">Love Where You Live</h2>
          <app-contact-form></app-contact-form>
        </div>
      </div>

      <div class="d-lg-none row">
        <div class="col-12 contactImg">
          <h2 style="font-size:40px;" class="pl-2 pl-xl-3 pt-4 font-weight-bold BlurBg mb-0">Love Where You Live</h2>
          <app-contact-form></app-contact-form>
        </div>
      </div>

      <!-- </div> -->
    </div>

  </ng-container>

  <ng-container *ngIf="service.slug === 'chimney-cleaning' ">

    <div class="container-fluid">
      <!-- Main -->
      <div class="row">
        <div class="order-2 order-lg-1 order-xl-2 col-12 col-lg-6 d-flex p-3 p-xl-5 justify-content-center align-items-center">
          <div class="m-0 m-md-3 m-xl-5 px-xl-5 pb-xl-5 paddingNoneHeader">
            <h1 class="fontResponseh1 font-weight-bold">Your fireplace is the heart of your home.</h1>
            <p style="font-size: 25px;">We make sure it stays that way.</p>
            <div class="d-flex justify-content-center">
              <button class="btn mikesBlueBtn mt-3" (click)="openQuoteForm()">Schedule Online</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2 order-xl-3 px-0 d-flex justify-content-end">
          <img data-aos="fade" data-aos-duration="1000" class="img-fluid" src="../../assets/images/landing/chimServices/fireplaceChill.png"
            alt="A couple hanging out on a couch in front of a fireplace" />
        </div>
      </div>
    </div>
    <!-- check with words -->
    <div class="container-fluid">
      <div class="row mb-5">

        <div class="col-12 col-lg-4 py-5 bluishBackground">
          <p style="overflow: hidden; white-space: nowrap;" data-aos="fade-left" class="text-center subtitleBold mb-0">
            ✓ Enjoy Your Fireplace
          </p>
        </div>
        <div class="d-none d-lg-block col-12 col-lg-4 py-5 bluishBackground"
          style="border-left: solid 2px #fff; border-right: solid 2px #fff;">
          <p style="overflow: hidden; white-space: nowrap;" data-aos="fade-left" class="text-center subtitleBold mb-0">
            ✓ Protect Your Home
          </p>
        </div>
        <div class="d-lg-none col-12 col-lg-4 py-5 bluishBackground"
          style="border-bottom: solid 2px #fff; border-top: solid 2px #fff;">
          <p style="overflow: hidden; white-space: nowrap;" data-aos="fade-right" class="subtitleBold text-center mb-0">
            ✓ Protect Your Home
          </p>
        </div>
        <div class="col-12 col-lg-4 py-5 bluishBackground">
          <p style="overflow: hidden; white-space: nowrap;" data-aos="fade-left" class="subtitleBold text-center mb-0">
            ✓ Make Memories
          </p>
        </div>
      </div>
    </div>

    <!-- Avoiding Fireplace -->
    <div class="container">
      <div class="row">
        <div class="col-12 text-center mb-4">
          <h2 style="font-size:40px;">Are you avoiding using your fireplace because…</h2>
        </div>
      </div>
      <div class="row">
        <div class="d-none d-lg-block col-lg"></div>
        <div class="col-12 col-sm-4 col-lg-3 mb-2">
          <p style="font-size: 20px;" class="text-center font-italic">
            It makes you feel unsafe or intimidated
          </p>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 mb-2">
          <p style="font-size: 20px;" class="text-center font-italic">
            You’re worried about experiencing a <br class="d-none d-md-block">chimney fire, backdrafts, or smoke
          </p>

        </div>
        <div class="col-12 col-sm-4 col-lg-3 mb-2">

          <p style="font-size: 20px;" class="text-center font-italic">
            You’re just not happy with how your <br class="d-none d-md-block">fireplace looks or functions
          </p>
        </div>
        <div class="d-none d-lg-block col-lg"></div>

      </div>
      <div class="row">

        <div class="col-12 d-flex justify-content-center mt-4 mb-5">
          <a class="btn mikesBlueBtn" href="tel:+1{{service.phone}}">Call Now</a>
        </div>
      </div>
    </div>

    <!-- review section -->
    <div class="container-fluid bluishBackground py-5">

      <!-- Upgrading -->
      <div class="container">

        <div class="row">
          <div class="col-12 mb-3">
            <h2 style="font-size:40px;" class="text-center mb-3">Your fireplace should bring you joy - not stress</h2>

            <p style="font-size: 18px;" class="mb-1 text-center">• 20+ years in business •</p>
            <p style="font-size: 18px;" class="mb-1 text-center">• trusted by over 50,000 homeowners •</p>
            <p style="font-size: 18px;" class="mb-1 text-center">• most CSIA-certified technicians in California •</p>
          </div>
        </div>

        <!-- reviews -->
        <div class="row text-center mx-0 mb-4">
          <div class="col-12 col-md-4 mb-2 px-5 py-2 px-md-2 p-lg-5">
            <img data-aos="fade-right"  data-aos-anchor-placement="bottom-bottom" src="../../assets/images/landing/chimServices/one1.png" class="img-fluid" alt="A Mike's Mobile Review">
          </div>
          <div class="col-12 col-md-4 mb-2 px-5 py-2 px-md-2 p-lg-5">
            <img data-aos="fade"  data-aos-anchor-placement="bottom-bottom" src="../../assets/images/landing/chimServices/two1.png" class="img-fluid" alt="A Mike's Mobile Review">
          </div>
          <div class="col-12 col-md-4 mb-2 px-5 py-2 px-md-2 p-lg-5">
            <img data-aos="fade-left"  data-aos-anchor-placement="bottom-bottom" src="../../assets/images/landing/chimServices/three1.png" class="img-fluid"
              alt="A Mike's Mobile Review">
          </div>
        </div>

        <div class="row">
          <div class="d-none d-xl-block col-xl"></div>
          <div class="col-12 col-md-4 col-xl-3 mb-2 d-flex justify-content-center">
            <a href="https://www.csia.org/" target="_blank">
              <img src="../../assets/images/landing/chimServices/csia.png" class="img-fluid"
                alt="Chimney Safety Institute of America logo">
            </a>
            <a href="https://www.ncsg.org/" target="_blank">
              <img src="../../assets/images/landing/chimServices/NCSG.png" class="img-fluid"
                alt="National Chimney Sweep Guild Member logo">
            </a>
          </div>
          <div class="col-6 col-md-4 col-xl-2 mb-2 d-flex justify-content-center align-items-center">
            <a href="https://www.cslb.ca.gov/" target="_blank">
              <img class="img-fluid" src="../../assets/images/landing/securityscreen/docacslb.png"
                alt="Department of Consumer Affairs Contractors State License Board logo">
            </a>
          </div>
          <div class="col-6 col-md-4 col-xl-2 mb-2 d-flex justify-content-center align-items-center">
            <a href="https://www.hpba.org/" target="_blank">
              <img class="img-fluid" src="../../assets/images/landing/securityscreen/logo-hpba.png"
                alt="Hearth Patio And BBQ Association Logo">
            </a>
          </div>
          <div class="d-none d-xl-block col-xl"></div>

          <div class="col-12 d-flex justify-content-center mt-4">
            <a class="btn mikesBlueBtn" href="tel:+1{{service.phone}}">Call Now</a>
          </div>
        </div>
      </div>

    </div>

    <!-- How We Make It Easy, 1 , 2 , 3 -->
    <div class="container py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-center mb-3">
            <h2 style="font-size:40px;">How we make it easy:</h2>
          </div>
        </div>
        <div class="container">

          <div class="row" style="display:flex; justify-content: space-evenly">
            <div class="col-12 col-lg-3 mb-3" id="trigger-makeEasy" data-aos-anchor="#trigger-makeEasy" data-aos="fade-up"  data-aos-anchor-placement="bottom-bottom" data-aos-delay="200">
              <img class="img-fluid" src="../../assets/images/landing/chimServices/CallToday.png"
                alt="Call Us! One of our Amazing CSR's will be able to get you on our schedule!">
              <p class="subtitleBold mt-2 mb-1">1. Call Us Today</p>
              <p style="font-size:20px;" class="lineSpacing">We’ll listen to your goals and schedule a visit</p>
            </div>
            <div class="col-12 col-lg-3 mb-3" data-aos-anchor="#trigger-makeEasy" data-aos="fade-up"  data-aos-anchor-placement="bottom-bottom" data-aos-delay="700">
              <img class="img-fluid" src="../../assets/images/landing/chimServices/DanC.png"
                alt="One of our amazing technicians, Dan C">
              <p class="subtitleBold mt-2 mb-1">2. We Come To You</p>
              <p style="font-size:20px;" class="lineSpacing">
                Our team of experts come out and do what they do best
              </p>
            </div>
            <div class="col-12 col-lg-3 mb-3" data-aos-anchor="#trigger-makeEasy" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="1200">
              <img class="img-fluid" src="../../assets/images/landing/chimServices/loveLive.png" alt="Happy Family">
              <p class="subtitleBold mt-2 mb-1">3. Love Where You Live</p>
              <p style="font-size:20px;" class="lineSpacing">Feel the joy of living in your dream home</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <a class="btn mikesBlueBtn" href="tel:+1{{service.phone}}">Call Now</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Guarantee -->
    <div class="container-fluid bluishBackground py-5 mt-5">

      <div class="container">
        <div class="row">
          <div class="order-xl-1 d-none d-xl-block col-xl-1"></div>
          <div class="order-2 order-lg-1 order-xl-2 col-12 col-lg-6 col-xl-6 px-2 mt-5">
            <h2 style="font-size:40px">Our Guarantee</h2>
            <br>
            <ul style="font-size: 18px;">
              <li class="mb-3">Save time and money - your projects will be done right the first time</li>
              <li class="mb-3">We do everything fireplace and chimney so you won’t have to call anyone else.</li>
              <li class="mb-3">Each solution we provide will be tailored to <u>your</u> needs</li>
            </ul>
            <div class="col-12 d-flex justify-content-center">
              <a class="btn mikesBlueBtn" href="tel:+1{{service.phone}}">Call Now</a>
            </div>
          </div>

          <div class="order-1 order-lg-2 order-xl-3 col-12 col-lg-6 col-xl-4 p-lg-5">
            <img data-aos="fade-left" class='img-fluid' data-aos-anchor-placement="center-bottom" src="../../assets/images/landing/mapNoBakersfield.png"
              alt="Map of our Service Area!">
          </div>
          <div class="order-xl-4 d-none d-xl-block col-xl-1"></div>

        </div>
      </div>
    </div>

    <!-- Contact Form -->
    <div class="container-fluid familyBg py-5">

      <div class="container pb-5">
        <div class="row d-flex">
          <div class="col-lg-6"></div>
          <div class="col-12 col-lg-4 p-2">
            <h2 style="font-size:40px; margin-bottom:0px; padding-top: 10px;"
              class="font-weight-bold d-flex justify-content-center BlurBg">Love Where You Live</h2>
            <app-contact-form></app-contact-form>
          </div>
          <div class="col-lg-2"></div>
        </div>

      </div>
    </div>

    <app-quote-form></app-quote-form>
  </ng-container>

  <div *ngIf="service.slug !== 'window-screen-services' && service.slug !== 'our-window-screen-services' && service.slug !== 'chimney-cleaning' && service.slug !== 'window-screen-repair'" class="container pb-4">
    <!-- <nav *ngIf="service.slug !== 'window-screen-repair' " class="breadcrumb mt-2">
      <a class="breadcrumb-item" routerLink="/">Home</a>
      <a *ngIf="service.category === 'Door and Window Screens'" class="breadcrumb-item"
        routerLink="/about/door-and-window-screens">Door and Window Screens</a>
      <a *ngIf="service.category === 'Screen Doors'" class="breadcrumb-item" routerLink="/about/door-screens">Screen
        Doors</a>
      <a *ngIf="service.category === 'Window Screens'" class="breadcrumb-item" routerLink="/about/window-screens">Window
        Screens</a>
      <a *ngIf="service.category === 'Chimney Services'" class="breadcrumb-item"
        routerLink="/about/chimney-services">Chimney Services</a>
      <a *ngIf="service.category === 'Repair'" class="breadcrumb-item" routerLink="/grid/chimney-repairs">Chimney
        Repair</a>
      <a *ngIf="service.category === 'gasServices'" class="breadcrumb-item"
        routerLink="/about/gas-fireplace-repair-and-service">Gas Fireplace repair & Service</a>
      <a *ngIf="service.category === 'Accessories'" class="breadcrumb-item"
        routerLink="/grid/chimney-accessories">Chimney Accessories</a>
      <a *ngIf="service.category === 'Masonry'" class="breadcrumb-item" routerLink="/grid/masonry-services">Masonry
        Services</a>
      <a *ngIf="service.category === 'Security Screen Doors and Windows'" class="breadcrumb-item"
        routerLink="/about/security-doors-and-windows">Security Screen Doors and Windows</a>
      <a *ngIf="service.category === 'Security Screen Doors'" class="breadcrumb-item"
        routerLink="/about/security-doors">Security Screen Doors</a>
      <a *ngIf="service.category === 'Security Window Screens'" class="breadcrumb-item"
        routerLink="/about/security-windows">Security Window Screens</a>
      <a *ngIf="service.category === 'electric fireplaces'" class="breadcrumb-item"
        routerLink="/about/electric-fireplaces">Electric Fireplaces</a>
      <a *ngIf="service.category === 'Awnings'" class="breadcrumb-item" routerLink="/about/awnings">Awnings</a>
      <span class="breadcrumb-item active" [innerHTML]="service.title"></span>
    </nav> -->



    <section *ngIf="service.slug !== 'ascent-electric-fireplace' && service.slug !== 'cinema-log-series'"
      class="section extra-margins">
      <div class="row"
        *ngIf="service.slug !== 'gas-fireplace-annual-service' && service.slug !== 'our-window-screen-services' && service.slug !== 'window-screen-repair' ">
        <div class="col-12">
          <h1 class="text-left h2 mb-2 pageTitle" [innerHTML]="service.title"></h1>
        </div>
      </div>
      <div *ngIf="price && service.slug === 'gas-fireplace-annual-service'"
        class="d-flex flex-column align-items-end flex-md-row">
        <h1 class="text-left h1 pageTitle">
          {{ service.title }}
        </h1>

        <h3 *ngFor="let item of price.price" class="mx-2 h3">
          <a mdbPageScroll href="#disclaimer" mdbRippleRadius [pageScrollDuration]="400" [pageScrollOffset]="110">
            -{{ item.type }} Starts at
            <span class="price h1">{{ item.price }}<span class="text-dark">*</span></span>
          </a>
        </h3>
      </div>


      <hr *ngIf="service.slug !== 'our-window-screen-services' " />



      <div class="row">
        <div class="col-lg-6 col-xl-6 pr-lg-5 pb-5">
          <div *ngIf="service.slug !== 'our-window-screen-services' && service.slug !== 'window-screen-repair'"
            class="main-image">
            <app-img *ngIf="service.tileImage" [src]="img" class="img-fluid z-depth-2 serviceDetailImage"></app-img>
          </div>
          <h4 *ngIf="service.serviceImgCaption" class="p-2 text-center light-gray-text"
            [innerHTML]="service.serviceImgCaption"></h4>
          <div *ngIf="service.video" class="row">
            <iframe *ngIf="service.video" width="100%" height="400px"
              [src]="sanitizer.bypassSecurityTrustResourceUrl(service.video)" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-lg-6 col-xl-6 pl-lg-5 pb-4">
          <div class="row mb-4" id="serviceInfo">
            <div class="col-12">

              <h3 *ngIf="service.slug === 'dryer-vent-cleaning'" class="text-center font-weight-bold font-italic">
                We help prevent dryer fires!
              </h3>
              <h5 *ngIf="service.slug === 'chimney-inspections'" class="text-center font-weight-bold font-italic">
                Our detailed inspection reports will help you get the right
                repairs to fix your chimney!
              </h5>
              <h5 *ngIf="service.slug === 'chimney-liner'" class="text-center font-weight-bold font-italic">
                Cracks in your chimney liner only grow over time! We re-line
                chimneys to stop cracks from spreading!
              </h5>
              <h5 *ngIf="service.slug === 'refractory-panels'" class="text-center font-weight-bold font-italic">
                Cracks only grow over time! We can help you replace your cracked
                refractory panels!
              </h5>
              <h5 *ngIf="service.slug === 'masonry-repair'" class="text-center font-weight-bold font-italic">
                We work with brick and stone to complete your masonry projects!
              </h5>
              <h5 *ngIf="service.slug === 'fireplace-hearth'" class="text-center font-weight-bold font-italic">
                We restore and repair fireplace hearths!
              </h5>
              <h5 *ngIf="service.slug === 'hardscape'" class="text-center font-weight-bold font-italic">
                We repair brick patios, stone walls, and other hardscaping!
              </h5>
              <h5 *ngIf="service.slug === 'tuckpointing'" class="text-center font-weight-bold font-italic">
                We tuckpoint brickwork by filling the joints with fresh mortar!
              </h5>
              <h5 *ngIf="service.slug === 'waterproofing'" class="text-center font-weight-bold font-italic">
                Keep leaks out for good! We offer full chimney waterproofing!
              </h5>
              <h5 *ngIf="service.slug === 'crown-seal'" class="text-center font-weight-bold font-italic">
                Don't leave your chimney crown unprotected! Our crown coats help
                stop leaks!
              </h5>
              <h5 *ngIf="service.slug === 'rear-firewall-heat-damage'" class="text-center font-weight-bold font-italic">
                Cracks in your firebox only grow over time! We can help you get
                cracks in your fireplace fixed today!
              </h5>
              <h5 *ngIf="service.slug === 'chimney-de-glazing'" class="text-center font-weight-bold font-italic">
                Hardened soot can cause your chimney to smoke! We remove glazed
                creosote!
              </h5>
              <h5 *ngIf="service.slug === 'retractable-patio-awnings'" class="text-center font-weight-bold font-italic">
                Does your patio get too much sun? Our retractable awnings will
                keep you cool and shaded when you need it!
              </h5>
              <h5 *ngIf="service.slug === 'drop-roll-sunscreens'" class="text-center font-weight-bold font-italic">
                Our sunscreen drop rolls will shade in your deck or patio, so
                you can enjoy summer without the sunburn!
              </h5>
              <h5 *ngIf="service.slug === 'gas-fireplace-annual-service'"
                class="text-center font-weight-bold font-italic">
                Keep your Gas Fireplace working like new any time of the year!
              </h5>
              <h5 *ngIf="service.slug === 'gas-fireplace-repair'" class="text-center font-weight-bold font-italic">
                Let us get your Gas Fireplace working like it's brand new!
              </h5>
              <h5 *ngIf="service.slug === 'chimney-rebuild'" class="text-center font-weight-bold font-italic">
                We can help make your chimney brand new!
              </h5>
              <h5 *ngIf="service.slug === 'gas-log-sets'" class="text-center font-weight-bold font-italic">
                Experience all the ambience and warmth of a wood-burning fire
                without the mess and maintenance!
              </h5>
              <h5 *ngIf="service.slug === 'chimney-caps-and-spark-arrestor'"
                class="text-center font-weight-bold font-italic">
                Keep sparks inside your chimney, while keeping rain and critters
                out!
              </h5>
              <h5 *ngIf="service.slug === 'fireplace-grate'" class="text-center font-weight-bold font-italic">
                Enjoy easier fire starting and a better quality burn with our
                firebox grates!
              </h5>
              <h5 *ngIf="service.slug === 'fireplace-glass-doors'" class="text-center font-weight-bold font-italic">
                Glass door sets help you keep sparks inside your chimney while
                enhacing the look of your fireplace!
              </h5>
              <h5 *ngIf="service.slug === 'radiant-fireback'" class="text-center font-weight-bold font-italic">
                Keep your home warm while avoiding costly repairs with radiant
                fire brick!
              </h5>
              <hr *ngIf="service.slug !== 'our-window-screen-services' " />
              <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
                <mdb-item *ngFor="let item of service.textList; index as i">
                  <mdb-item-head>{{ item.title }}</mdb-item-head>
                  <mdb-item-body>{{ item.description }}</mdb-item-body>
                </mdb-item>
              </mdb-squeezebox>
              <mdb-squeezebox *ngIf="price && service.slug !== 'gas-fireplace-annual-service'" class="pricesTag">
                <mdb-item>
                  <mdb-item-head class="pricesTag rounded text-white">Prices</mdb-item-head>
                  <mdb-item-body>
                    <table mdbTable borderless="true">
                      <tbody>
                        <tr mdbTableCol *ngFor="let item of price.price">
                          <td class="py-0">{{ item.name }}</td>
                          <td class="price py-0">{{ item.price }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <p *ngIf="price.disclaimer" class="text-center">
                      *{{ price.disclaimer }}
                    </p>
                  </mdb-item-body>
                </mdb-item>
              </mdb-squeezebox>
              <div *ngIf=" service.slug !== 'our-window-screen-services' && service.slug !== 'window-screen-repair' && service.slug !== 'chimney-cleaning' ">
                <button class="btn mikesBlueBtn btn-block my-3" (click)="openQuoteForm()">Schedule Now!</button>
                <div class="row text-center mb-3"
                  *ngIf="service.slug !== 'chimney-inspections' ">
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="col-8">
                        <a routerLink="/financing">
                          <img src="/assets/images/main/financingButton.png" class="img-fluid" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row text-center">
                <div class="col-md-12">
                  <a *ngIf="service.slug === 'retractable-patio-awnings'" routerLink="/awningPriceCalc">
                    <h4 class="m-3 orange-text">
                      Check Out Our Awning Price Calculator
                    </h4>
                  </a>
                  <a *ngIf="service.slug === 'drop-roll-sunscreens'" routerLink="/dropRollPriceCalc">
                    <h4 class="m-3 orange-text">
                      Check Out Our Drop Roll Price Calculator
                    </h4>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <ng-container *ngIf="service.slug === 'fireplace-glass-doors'">
            <h3 class="py-2 light-gray-text">
              Here are some of the colors we offer
            </h3>
            <div class="row">
              <div class="col-md-4">
                <app-img src="/assets/images/chimneys/accessories/fireplace-glass-doors/black.png" class="img-fluid"
                  alt="Black Fireplace Glass Doors"></app-img>
                <p class="text-center">Black</p>
              </div>
              <div class="col-md-4">
                <app-img src="/assets/images/chimneys/accessories/fireplace-glass-doors/black-nickel.png"
                  class="img-fluid" alt="Black Nickel Fireplace Glass Doors"></app-img>
                <p class="text-center">Black Nickel</p>
              </div>
              <div class="col-md-4">
                <app-img src="/assets/images/chimneys/accessories/fireplace-glass-doors/brass.png" class="img-fluid"
                  alt="Brass Fireplace Glass Doors"></app-img>
                <p class="text-center">Brass</p>
              </div>
              <div class="col-md-4">
                <app-img src="/assets/images/chimneys/accessories/fireplace-glass-doors/gun-metal.png" class="img-fluid"
                  alt="Gun Metal Fireplace Glass Doors"></app-img>
                <p class="text-center">Gun Metal</p>
              </div>
              <div class="col-md-4">
                <app-img src="/assets/images/chimneys/accessories/fireplace-glass-doors/nickelGlassDoor.png"
                  class="img-fluid" alt="Nickel Fireplace Glass Doors"></app-img>
                <p class="text-center">Nickel</p>
              </div>
            </div>
          </ng-container>

          <div class="row" *ngIf="service.colorSet">
            <div class="col-12">
              <h4>
                Color Selection &nbsp;
                <span class="small">(click to zoom)</span>
              </h4>
              <ng-container *ngFor="let colorSet of service.colorSet">
                <app-color-swatch [swatchType]="colorSet"></app-color-swatch>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="service.slug === 'ascent-electric-fireplace'" class="section extra-margins">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Ascent Electric Fireplace</h1>
            <hr />
          </div>
        </div>
        <div class="row justify-content-around">
          <div class="col-4">
            <img class="img-fuild" alt="Ascent Electric Fireplace"
              src="/assets/images/electric-fireplace/ascentFireplace.png" />
          </div>
          <div class="col-6">
            <h5 class="mx-4">
              The Napoleon Ascent™ Electric Fireplace Series imitates the look of a traditional masonry fireplace with
              all the convenience of simply plugging it in. Our flame technology randomly adjusts the flame effect,
              color, height, and speed creating the illusion of a true wood burning fire. The ULTRA BRIGHT™ LED lights
              and convenient remote control enhance the allure of the Ascent™ Electric Fireplace. Perfect for any room
              in a house, condo, apartment or office.
            </h5>
          </div>
        </div>
        <div class="row featureSection">
          <div class="col -6">
            <h4>Specification</h4>
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h5>Fuel Type: </h5>
                  <h5>View Type: </h5>
                  <h5>Available Models: </h5>
                </div>
                <div class="col-4">
                  <h5>Electric</h5>
                  <h5>Single Sided</h5>
                  <h5>33 & 40</h5>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-8">
                  <img class="img-fluid" src='/assets/images/electric-fireplace/sizeChartAscent.png' />
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <h4>Key Series Features</h4>
            <ul class="h5">
              <li class="my-2">Up to 9,000 BTU's</li>
              <li class="my-2">Can be plugged in or hardwired 120V/240V</li>
              <li class="my-2">ULTRA BRIGHT™ LED Lights</li>
              <li class="my-2">WHISPER QUIET™ fan and heater</li>
              <li class="my-2">Non-reflective backing</li>
              <li class="my-2">NIGHT LIGHTS™ feature</li>
              <li class="my-2">Can be set to Fahrenheit or Celsius settings</li>
              <li class="my-2">Self trimming flange</li>
              <li class="my-2">Realistic brick panels, glowing logs and ember bed</li>
              <li class="my-2">Self Diagnostic LED Light Indicates when any Issues Arise</li>
            </ul>
          </div>
        </div>
        <h2 class="pb-3 text-center animated pulse infinite orange-text cursor-pointer m-2" (click)="openQuoteForm()">
          Book Us Now!
        </h2>
        <div class="row text-center mb-3">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-8">
                <a routerLink="/financing">
                  <img src="/assets/images/main/financingButton.png" class="img-fluid" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="service.slug === 'cinema-log-series'" class="section extra-margins">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Cinema™ Log Series</h1>
            <hr />
          </div>
        </div>
        <div class="row justify-content-around">
          <div class="col-4">
            <img class="img-fuild" alt="Ascent Electric Fireplace"
              src="/assets/images/electric-fireplace/cinemaLogFireplace.png" />
          </div>
          <div class="col-6">
            <h5 class="mx-4">
              The Napoleon Cinema™ Series Built-In Electric Fireplace sets a rich and inviting tone for any room in the
              house. A scintillating topaz glass ember bed or realistic burning logs will dazzle all with their
              flickering flames. This modern electric fireplace is ready to use out of the box and can be placed into a
              décor mantel or fully customize by installing it into a wall. With the push of a button, it is easy to
              adjust flame brightness and heat intensity and doesn't require chimneys or venting.
            </h5>
          </div>
        </div>
        <div class="row featureSection">
          <div class="col -6">
            <h4>Specification</h4>
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h5>Fuel Type: </h5>
                  <h5>View Type: </h5>
                  <h5>Available Models: </h5>
                </div>
                <div class="col-4">
                  <h5>Electric</h5>
                  <h5>Single Sided</h5>
                  <h5>24, 27, & 29</h5>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-8">
                  <img class="img-fluid" src='/assets/images/electric-fireplace/series-size-chart-cinema.png' />
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <h4>Key Series Features</h4>
            <ul class="h5">
              <li class="my-2">Up to 5,000 BTU's</li>
              <li class="my-2">1,500 Watts</li>
              <li class="my-2">Can be plugged in or hardwired 120V</li>
              <li class="my-2">NIGHT LIGHT™ settings</li>
              <li class="my-2">Realistic molded log set and ember bed (log units)</li>
              <li class="my-2">Adjustable flame and ember light control (log units)</li>
              <li class="my-2">Topaz glass ember bed (glass units)</li>
              <li class="my-2">Four heat settings</li>
              <li class="my-2">Eco-friendly</li>
              <li class="my-2">Safe to touch - never hot enough to burn</li>
              <li class="my-2">Whisper Quiet™ Operation</li>
            </ul>
          </div>
        </div>
        <h2 class="pb-3 text-center animated pulse infinite orange-text cursor-pointer m-2" (click)="openQuoteForm()">
          Book Us Now!
        </h2>
        <div class="row text-center mb-3">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-8">
                <a routerLink="/financing">
                  <img src="/assets/images/main/financingButton.png" class="img-fluid" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="row text-center" *ngIf="service.slug === 'chimney-caps-and-spark-arrestor'">
      <section class="section feature-box">
        <h1 class="section-heading h1 light-gray-text text-center">
          We offer these types of caps
        </h1>
        <div class="row features-big">
          <!-- <div class="col-md-3 mb-r">
            <app-img src="/assets/images/chimneys/accessories/chimney-cap/1.png" class="img-fluid"></app-img>
            <h5 class="feature-title">Masonry Chimney Caps</h5>
            <p class="light-gray-text p-2">
              Masonry Chimney caps connect to the top of your brick/masonry
              chimney. We sell black galvanized chimney caps that have a spark
              arrestor build in. You'll get 2 for the price of one with this
              cap. Fits all standard chimney flue sizes: 8" x 8", 8" x 13", 8" x
              17", 13" x 13", 13" x 17" - We can also order custom size chimney
              caps. Contact us today and find out how!
            </p>
          </div> -->
          <div class="col-md-6 mb-r">
            <app-img src="/assets/images/chimneys/accessories/chimney-cap/2.png" class="img-fluid"></app-img>
            <h5 class="feature-title">Prefab/Zero Clearance Chimney Cap</h5>
            <p class="light-gray-text p-2">
              We offer prefab or Zero Clearance chimney caps for sizes: 6", 8",
              and 10". All sizes are available in Solid pack and Air Cooled
              options. Contact us today for custom sizes. We can do it!
            </p>
          </div>
          <!-- <div class="col-md-3 mb-r">
            <app-img src="/assets/images/chimneys/accessories/chimney-cap/3.png" class="img-fluid"></app-img>
            <h5 class="feature-title">Lock Top Damper</h5>
            <p class="light-gray-text p-2">
              If you are tired of that old masonry throat damper or you are
              looking to become more efficient and save some money on your
              energy bill, you can invest in a Lock Top Damper. This top mount
              damper seals shut with a rubber seal and keeps the cold air out of
              your chimney and out of your home.
            </p>
          </div> -->
          <div class="col-md-6 mb-r">
            <app-img src="/assets/images/chimneys/accessories/chimney-cap/4.png" class="img-fluid"></app-img>
            <h5 class="feature-title">Flue Extender Caps</h5>
            <p class="light-gray-text p-2">
              Many masonry chimneys do not meet minimum code-height requirements
              and have the potential to be a serious fire hazard. Also, many
              draft issues can be attributed to a chimney being too short. These
              caps keep sparks off your roof and assist in a strong chimney
              draft.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="container" *ngIf="
        service.slug === 'chimney-inspections'
      ">
      <div class="row">
        <div class="col-md-5 pt-4">
          <div class="container text-center blue text-white">
            <div class="row">
              <div class="col">
                <h2>Why Our Chimney Inspection Reports Are Better!</h2>
              </div>
            </div>
            <div class="row text-left">
              <div class="col px-4">
                <h5>
                  <i class="fas fa-check-square"></i> EVERY Technician is CSIA
                  Certified
                </h5>
                <h5>
                  <i class="fas fa-check-square"></i> Fully Licensed, Bonded and
                  Insured
                </h5>
                <h5>
                  <i class="fas fa-check-square"></i> Instant Digital Reports
                </h5>
                <h5>
                  <i class="fas fa-check-square"></i> Full Service - We Can
                  Perform Any Repairs
                </h5>
                <h5><i class="fas fa-check-square"></i> Video Scan</h5>
                <h5>
                  <i class="fas fa-check-square"></i> Licensed Masonry
                  Contractor
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <app-img src="/assets/images/chimneyInspection/report.png" class="img-fluid"></app-img>
        </div>
      </div>
    </div>
    <div *ngIf="service.slug === 'gas-log-sets'">
      <app-tab-nav [details]="service.details"></app-tab-nav>
    </div>

    <div class="container" *ngIf="service.recentInstallImages">
      <section class="text-center section feature-box">
        <div class="container text-center" *ngIf=" service.slug !== 'window-screen-repair'">
          <h2>See Our Recent Work!</h2>
        </div>
        <app-footer-gallery [Images]="service.recentInstallImages"></app-footer-gallery>
      </section>
    </div>
    
    <div *ngIf="price && service.slug === 'gas-fireplace-annual-service'"
      class="row mt-5 justify-content-center text-center">
      <div class="col-12">
        <p id="disclaimer">
          {{ price.disclaimer }}
        </p>
      </div>

    </div>
  </div>

</ng-container>

<app-quote-form></app-quote-form>