form
  background-color: #ffffff9a
  color: black !important 
  padding: 15px

textarea#message
  padding: 2.5rem 0
  color: black !important

.placeholder
  color: black !important

.quote-form__submit--error
  background: #f2a296
  padding: 1rem

.quoteFormContainer
  max-width: 500px !important

.center
  display: flex
  justify-content: center

.resetButtonColor
  color: #b6b6b6
.resetButtonColor:hover
  color: #FFF

input
  background-color: #ffffff65;
  color: black !important
::placeholder
  color:black !important
