<!-- <div class="container pt-md-4">
  <div class="jumbotron text-center mb-0">
    <img class="img-fluid" src="/assets/images/landing/groupPhoto.png" />
    <h1 class="h2-responsive mt-2 mb-3">
      <strong>About Mike's Mobile</strong>
    </h1>

    <div class="mx-auto" style="max-width: 43rem;">
      <p class="mb-3">
        Mike’s Mobile started in 2002 and is locally owned and operated. Since
        then we have collected a staggering amount of experience installing
        window screens, solar screens and security doors and repairing
        and maintaining chimneys and fireplaces.
      </p>
      <p class="mb-3">
        People love the California weather and they love taking advantage of the
        crisp morning air. Our window screens, solar screens, screen doors and
        security doors offer the perfect way to take advantage of the cool air.
      </p>
      <p class="mb-3">
        Each year in October we start to see a shift to our chimney side of the
        business. We are a full service Chimney Sweep company that specializes
        in masonry repair, chimney sweeps and chimney inspections. Over the
        years we have come across thousands of chimney issues and solutions.
        Give us a call today and find out why our customers love us!
      </p>
    </div>
    <section>
      <h1 class="pt-5 pb-3 font-weight-bold">
        Ok, So Why Mike's Mobile ?
      </h1>
      <p class="px-5 mb-5 pb-3 lead grey-text">
        Security through premier products and top-tier installation
      </p>
      <div class="row">
        <div class="col-md-4">
          <div class="row mb-2">
            <div class="col-2">
              <i class="fas fa-wind fa-2x blue-text"></i>
            </div>
            <div class="col-10 text-left">
              <h5 class="font-weight-bold">Fresh air</h5>
              <p class="grey-text">
                People love the California weather and they love taking
                advantage of the crisp morning air. Our window screens, solar
                screens, screen doors and security doors offer the perfect way
                to take advantage of the cool air.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row mb-2">
            <div class="col-2">
              <i class="fa fa-2x fa-magic blue-text"></i>
            </div>
            <div class="col-10 text-left">
              <h5 class="font-weight-bold">Experience and efficiency</h5>
              <p class="grey-text">
                Minimal intrusion to your home. Our techs save your time by being experts and what they do. Have the
                peace of mind that a certiefied experienced profesional is working on your home. All our technicians are
                CSIA certified chimney technicians.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row mb-2">
            <div class="col-2">
              <i class="fas fa-2x fa-phone-volume blue-text"></i>
            </div>
            <div class="col-10 text-left">
              <h5 class="font-weight-bold">Contact Us!</h5>
              <p class="grey-text">
                Mike’s Mobile Screen & Chimney Service has never been easier to
                hire for all of your Screen, Security Door and Chimney needs.
                Simply visit our
              </p>
              <div class="flex-row mt-2 d-none d-md-block cursor-pointer text-center" (click)="openQuoteForm()">
                <h4 class="animated pulse infinite orange-text pb-1">
                  &nbsp; Contact us Now!
                </h4>
              </div>
              <div class="flex-row d-md-none text-center">
                <a class="white-text" href="tel:+18009929938">
                  <h4 class="animated pulse infinite orange-text pl-4 pb-3 cursor-pointer">
                    <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; Call
                    Now!
                  </h4>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-faq-list></app-faq-list>
  </div>
</div>

<app-quote-form></app-quote-form> -->

<img class="img-fluid container-fluid px-0" src="/assets/images/landing/groupPhoto.png"
  alt="Company Photo with Mike's Mobile Trucks" />
<div class="container-fluid onTopOfPic">
  <div class="row">
    <div class="col-12 text-center text-white">
      <h1 class="headerFontSize">Mike's Mobile Screen and Chimney Service</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <h2 class="text-center">Our Story</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, officiis deleniti earum, nobis cumque
        deserunt quasi consequuntur fugiat maxime delectus aliquid? Consequuntur dolor, laudantium, dignissimos enim,
        animi minima dolore quia doloremque provident similique expedita pariatur non. Maxime, nobis corrupti! A saepe
        laudantium deleniti amet, autem necessitatibus. Corrupti, tempora quis nihil nisi magni distinctio repudiandae
        quam id eveniet quaerat! Alias accusamus minus ratione tenetur iste dolorem obcaecati iusto in, labore facilis
        pariatur voluptas cupiditate quisquam cumque architecto molestiae cum, eos temporibus? Consequuntur ratione
        possimus, perspiciatis veniam hic dolor reiciendis veritatis provident. Unde nostrum quam quia nobis illum minus
        consectetur perferendis. Consectetur?</p>
    </div>
  </div>

  <div class="row pt-4">
    <!-- First Row -->
    <div class="mb-2 mb-lg-4 order-1 col-12 col-lg-6">
      <div class="firstImg" aria-label="Mike's Mobile Technician Servicing Chimney"></div>
    </div>
    <div class="mb-2 mb-lg-4 order-2 col-12 col-lg-6">
      <h2>Our Mission</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatibus, laboriosam nam perferendis mollitia
        sapiente commodi necessitatibus sunt adipisci fugit beatae fugiat consectetur quo corrupti odit iste consequatur
        pariatur, repudiandae facilis modi in id impedit, cumque dolore. Quia unde, vero quasi saepe optio rem itaque
        veniam dolor est aliquid consectetur et aliquam iure accusantium sint? Ratione, commodi explicabo deserunt alias
        ad excepturi rerum ut odio, at asperiores</p>
    </div>
    <!-- Second Row -->
    <div class="mb-2 mb-lg-4 order-4 order-lg-3 col-12 col-lg-6">
      <h2>Our Purpose</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab excepturi officiis illo architecto dolore quisquam,
        nostrum facilis fuga quidem eius eveniet porro facere quae sed non reiciendis pariatur? Officia temporibus
        accusamus voluptatem cum sequi voluptatibus quisquam illo, sunt provident vel voluptas facere quibusdam dolores
        praesentium suscipit aperiam corrupti perferendis incidunt distinctio maiores. Totam explicabo hic officia
        molestias temporibus. </p>
    </div>
    <div class="mb-2 mb-lg-4 order-3 order-lg-4 col-lg-6">
      <div class="secondImg" aria-label="Mike's Mobile Trucks"></div>
    </div>
    <!-- Third Row -->
    <div class="mb-2 mb-lg-4 order-5 col-12 col-lg-6">
      <div class="thirdImg" aria-label="Joseph from Mike's Mobile fixing up a chimney"></div>
    </div>
    <div class="mb-2 mb-lg-4 order-6 col-12 col-lg-6">
      <h2>Our Qualifications</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius error corrupti rem, fuga ipsam ea inventore,
        exercitationem quod deserunt saepe cumque quam tenetur facilis esse nisi nesciunt harum sunt doloribus?
        Perspiciatis sed autem ipsam laudantium dignissimos. Sequi debitis, tempore ducimus nihil magnam, alias
        architecto ex ipsam incidunt placeat dolorum velit perferendis, eaque repellat quidem quisquam consectetur
        impedit reiciendis odio libero? Quae, illum! Sequi adipisci nostrum suscipit libero. Quisquam, ea quas!</p>
    </div>
  </div>
</div>

<!-- Team -->
<div class="container mt-4">


  <div class="row mb-2 pt-3">
    <div class="col-12 text-center">
      <h2>Meet Our Team</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/mikeFasy.jpg" alt="The CEO Of Mike's Mobile, Mike Fasy">
      <h3 class="text-center">Mike Fasy</h3>
      <p class="text-center titleStyle">CEO</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/mikeRice.jpg" alt="MIke's Mobile President, Mike Rice">
      <h3 class="text-center">Mike Rice</h3>
      <p class="text-center titleStyle">President</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/danA.jpg" alt="Ops Manager, Dan A.">
      <h3 class="text-center">Dan A.</h3>
      <p class="text-center titleStyle">Ops Manager</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/markA.jpg" alt="Gas Lead and Safety Manager, Mark A.">
      <h3 class="text-center">Mark A.</h3>
      <p class="text-center titleStyle">Gas Lead / Safety Manager</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/danC.jpg" alt="Technician Manager, Daniel C.">
      <h3 class="text-center">Daniel C.</h3>
      <p class="text-center titleStyle">Technician Manager</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/joeD.jpg" alt="Mike's Mobile Technician, Joseph D.">
      <h3 class="text-center">Joseph D.</h3>
      <p class="text-center titleStyle">Sales Trainer Lead Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/anthonyW.jpg" alt="Mike's Mobile Technician, Anthony W.">
      <h3 class="text-center">Anthony W.</h3>
      <p class="text-center titleStyle">Gas Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/recoS.jpg" alt="Mike's Mobile Technician, Reco S.">
      <h3 class="text-center">Reco S.</h3>
      <p class="text-center titleStyle">Gas Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/timM.jpg" alt="Mike's Mobile Technician, Tim T">
      <h3 class="text-center">Tim M.</h3>
      <p class="text-center titleStyle">Door Install Lead Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/austinH.jpg" alt="Mike's Mobile Technician, Austin H.">
      <h3 class="text-center">Austin H.</h3>
      <p class="text-center titleStyle">Door Install Technician</p>
    </div>

    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/hankS.jpg" alt="Mike's Mobile Technician, Hank S.">
      <h3 class="text-center">Hank S.</h3>
      <p class="text-center titleStyle">Repair Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/michaelM.jpg" alt="Mike's Mobile Technician, Michael M.">
      <h3 class="text-center">Michael M.</h3>
      <p class="text-center titleStyle">Sales Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/vincentZ.jpg" alt="Mike's Mobile Technician, Vincent Z">
      <h3 class="text-center">Vincent Z.</h3>
      <p class="text-center titleStyle">Sales Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/ronH.jpg" alt="Warehouse Foreman, Ron H.">
      <h3 class="text-center">Ron H.</h3>
      <p class="text-center titleStyle">Warehouse Foreman</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/billI.jpg" alt="Mike's Mobile Technician, Bill I.">
      <h3 class="text-center">Bill I.</h3>
      <p class="text-center titleStyle">Metal Shop / Assistant Mechanic</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/superShannon.jpg"
        alt="Recruiting and Project Manager, Shannon H.">
      <h3 class="text-center">Shannon H.</h3>
      <p class="text-center titleStyle">Recruiting and Project Manager</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/angelicaW.jpg" alt="Human Resources Specialist, Angelica W.">
      <h3 class="text-center">Angelica W.</h3>
      <p class="text-center titleStyle">Human Resources Specialist</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/zacW.jpg" alt="Senior Software Engineer, Zac W.">
      <h3 class="text-center">Zac W.</h3>
      <p class="text-center titleStyle">Senior Software Engineer</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/melissaG.jpg" alt="Customer Service Manager, Melissa G">
      <h3 class="text-center">Melissa G.</h3>
      <p class="text-center titleStyle">Customer Service Manager</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/crystalA.jpg" alt="Service Administrator, Crystal A.">
      <h3 class="text-center">Crystal A.</h3>
      <p class="text-center titleStyle">Service Administrator</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/alexisC.jpg"
        alt="Customer Service Assistant Manager, Alexis C.">
      <h3 class="text-center">Alexis C.</h3>
      <p class="text-center titleStyle">Customer Service Assistant Manager</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/airealeW.jpg" alt="CSR Aireale W.">
      <h3 class="text-center">Aireale W.</h3>
      <p class="text-center titleStyle">Customer Service Representative</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/chadwickJ.jpg" alt="CSR, Chadwick J">
      <h3 class="text-center">Chadwick J.</h3>
      <p class="text-center titleStyle">Customer Service Representative</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/taylorW.jpg" alt="CSR Taylor W.">
      <h3 class="text-center">Taylor W.</h3>
      <p class="text-center titleStyle">Customer Service Representative</p>
    </div>
  </div>
    <!-- Contact Box -->
  <div class="row d-flex justify-content-center mt-4">
    <div class="col-12 col-xl-10 blue-border-box p-3 p-md-5">
      <h2 class="text-center">Our Connection With You!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, laborum perferendis. Ad et voluptates porro quam harum asperiores! Veritatis porro ea cupiditate libero laudantium nostrum sint dignissimos minima vitae incidunt, aliquam natus quidem quos voluptates adipisci hic illo, reiciendis veniam laboriosam aperiam voluptatum illum recusandae. Non aliquam assumenda quis recusandae?</p>
      <div class="d-flex justify-content-center my-4">
        <a class="btn oj" (click)="openQuoteForm()">Free Quote</a>
        <a class="btn mikesBlueBtn" href="">Join Our Team!</a>
      </div>
      <h3 class="fontSize25">Contact Us</h3>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mb-2">
          <h4>Sacramento</h4>
          <a target="_blank" href="https://g.page/MikesMobile?share" class="text-underline">9912 Business Park Dr. Ste 175<br>Sacramento, CA. 95827</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-2">
          <h4>Stockton</h4>
          <a target="_blank" href="https://g.page/MikesMobileStockton?share" class="text-underline">8130 Lorraine Ave
            #312,<br>Stockton, CA 95210</a>
        </div>
        <div class="col-12 col-md-4 mb-2">
          <h4>Call Or Email Us</h4>
          <a href="mailto:office@mikesmobile.com?subject=I%20would%20like%20more%20information%20about%20Mike's%20Mobile!"
            class="text-underline">office@mikesmobile.com</a>
          <br>
          <a class="text-underline" href="tel:+19163728783">+1 (916) 372-8783</a>
        </div>
      </div>

    </div>
  </div>

</div>

<app-quote-form></app-quote-form>