<div class="container pt-md-4">
  <div class="jumbotron text-center mb-0">
    <img class="img-fluid" src="/assets/images/landing/groupPhoto.png" />
    <h1 class="h2-responsive mt-2 mb-3">
      <strong>About Mike's Mobile</strong>
    </h1>

    <div class="mx-auto" style="max-width: 43rem;">
      <p class="mb-3">
        Mike’s Mobile started in 2002 and is locally owned and operated. Since
        then we have collected a staggering amount of experience installing
        window screens, solar screens, awnings and security doors and repairing
        and maintaining chimneys and fireplaces.
      </p>
      <p class="mb-3">
        People love the California weather and they love taking advantage of the
        crisp morning air. Our window screens, solar screens, screen doors and
        security doors offer the perfect way to take advantage of the cool air.
      </p>
      <p class="mb-3">
        Each year in October we start to see a shift to our chimney side of the
        business. We are a full service Chimney Sweep company that specializes
        in masonry repair, chimney sweeps and chimney inspections. Over the
        years we have come across thousands of chimney issues and solutions.
        Give us a call today and find out why our customers love us!
      </p>
    </div>
    <section>
      <h1 class="pt-5 pb-3 font-weight-bold">
        Ok, So Why Mike's Mobile ?
      </h1>
      <p class="px-5 mb-5 pb-3 lead grey-text">
        Well, lots of reasons, but most importantly because..
      </p>
      <div class="row">
        <div class="col-md-4">
          <div class="row mb-2">
            <div class="col-2">
              <i class="fas fa-wind fa-2x blue-text"></i>
            </div>
            <div class="col-10 text-left">
              <h5 class="font-weight-bold">Fresh air</h5>
              <p class="grey-text">
                People love the California weather and they love taking
                advantage of the crisp morning air. Our window screens, solar
                screens, screen doors and security doors offer the perfect way
                to take advantage of the cool air.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row mb-2">
            <div class="col-2">
              <i class="fa fa-2x fa-magic blue-text"></i>
            </div>
            <div class="col-10 text-left">
              <h5 class="font-weight-bold">Experience and efficiency</h5>
              <p class="grey-text">
                We are a full service Chimney Sweep company that specializes in
                masonry repair, chimney sweeps and chimney inspections. Over the
                years we have come across thousands of chimney issues and
                solutions.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row mb-2">
            <div class="col-2">
              <i class="fas fa-2x fa-phone-volume blue-text"></i>
            </div>
            <div class="col-10 text-left">
              <h5 class="font-weight-bold">Contact Us!</h5>
              <p class="grey-text">
                Mike’s Mobile Screen & Chimney Service has never been easier to
                hire for all of your Screen, Security Door and Chimney needs.
                Simply visit our
              </p>
              <a
                routerLink="/contact"
                type="button"
                class="btn btn-lg orange btn-rounded waves-light"
                mdbRippleRadius
              >
                Contact us page
              </a>
              <p>Or</p>
              <div
                class="flex-row mt-2 d-none d-md-block cursor-pointer text-center"
                (click)="openQuoteForm()"
              >
                <h4 class="animated pulse infinite orange-text pb-1">
                  &nbsp; Get a Free Quote Now!
                </h4>
              </div>
              <div class="flex-row d-md-none ml-5 pl-5">
                <a class="white-text" href="tel:+18009929938">
                  <h4
                    class="animated pulse infinite orange-text pl-4 pb-3 cursor-pointer"
                  >
                    <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; Call
                    Now!
                  </h4>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-faq-list></app-faq-list>
  </div>
</div>

<app-quote-form></app-quote-form>
