<img class="img-fluid container-fluid px-0" src="/assets/images/landing/groupPhoto.png"
  alt="Company Photo with Mike's Mobile Trucks" />
<div class="container-fluid onTopOfPic">
  <div class="row">
    <div class="col-12 text-center text-white">
      <h1 class="headerFontSize">Mike's Mobile Screen and Chimney Service</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <h2 class="text-center">Our Story</h2>
      <p>Mike's mobile started in 2002 as one of the only locally owned and operated chimney companies in the Sacramento area.  Since then we have grown to service a majority of northern California, and collected a staggering amount of experience installing window screens, security doors, repairing fireplaces, and maintaining chimneys.  We specialize in getting the most out of California’s weather. Enjoy the brisk morning air, without worrying about your door being open, with one of our amazing security screen doors.  Keep your house cooler during the day and save money on your electricity bill, with our solar screens.  What’s better than sitting by a warm fire on a cold winter night? Give us a call today and find out why our customers love us, and we love California.</p>
    </div>
  </div>

  <div class="row pt-4">
    <!-- First Row -->
    <div class="mb-2 mb-lg-4 order-1 col-12 col-lg-6">
      <div class="firstImg" aria-label="Mike's Mobile Technician with Customer"></div>
    </div>
    <div class="mb-2 mb-lg-4 order-2 col-12 col-lg-6">
      <h2>Our Mission</h2>
      <p class="font-weight-bold">Mike’s Mobile values our employees first. Then, as a team, we improve the homes of our customers and provide them with an exceptional experience that we would want for our own families.</p>
      <p>To us, these words mean that our team relies on values, such as integrity and a desire to ensure customer satisfaction, in every interaction we have. We want our customers to feel supported and cared for from the moment they call us until the final touches are put on their homes!</p>
    </div>
    <!-- Second Row -->
    <div class="mb-2 mb-lg-4 order-4 order-lg-3 col-12 col-lg-6">
      <h2>Our Reach</h2>
      <p>Our service areas currently stretch from Yuba City to Fresno, covering Napa, San Jose, and the East Bay Area. Our main offices are located in Sacramento and Stockton, but all of our technicians are fully mobile and ready to come to your home regardless of where you fall in our service areas!</p>
    </div>
    <div class="mb-2 mb-lg-4 order-3 order-lg-4 col-lg-6">
      <div class="secondImg" aria-label="Mike's Mobile Truck"></div>
    </div>
    <!-- Third Row -->
    <div class="mb-2 mb-lg-4 order-5 col-12 col-lg-6">
      <div class="thirdImg" aria-label="Mike's Mobile Training"></div>
    </div>
    <div class="mb-2 mb-lg-4 order-6 col-12 col-lg-6">
      <h2>Our Qualifications</h2>
      <p>Your peace of mind and trust is of the utmost importance to us. This is why we ensure that all of our chimney and fireplace technicians are certified by the Chimney Safety Institute of America. We also prioritize ongoing education and training for all of our employees to make sure that our entire team is prepared to handle your needs and concerns.</p>
    </div>
  </div>
</div>

<!-- Team -->
<div class="container mt-4">


  <div class="row mb-2 pt-3">
    <div class="col-12 text-center">
      <h2>Meet Our Team</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/mikeFasy.jpg" alt="The CEO Of Mike's Mobile, Mike Fasy">
      <h3 class="text-center">Mike Fasy</h3>
      <p class="text-center titleStyle">CEO</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/mikeRice.jpg" alt="MIke's Mobile President, Mike Rice">
      <h3 class="text-center">Mike Rice</h3>
      <p class="text-center titleStyle">President</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/danA.jpg" alt="Operations Manager, Dan A.">
      <h3 class="text-center">Dan A.</h3>
      <p class="text-center titleStyle">Operations Manager</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/markA.jpg" alt="Gas Lead and Safety Manager, Mark A.">
      <h3 class="text-center">Mark A.</h3>
      <p class="text-center titleStyle">Gas Lead / Safety Manager</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/danC.jpg" alt="Technician Manager, Daniel C.">
      <h3 class="text-center">Daniel C.</h3>
      <p class="text-center titleStyle">Technician Manager</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/joeD.jpg" alt="Mike's Mobile Technician, Joseph D.">
      <h3 class="text-center">Joseph D.</h3>
      <p class="text-center titleStyle">Sales Trainer Lead Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/anthonyW.jpg" alt="Mike's Mobile Technician, Anthony W.">
      <h3 class="text-center">Anthony W.</h3>
      <p class="text-center titleStyle">Gas Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/recoS.jpg" alt="Mike's Mobile Technician, Reco S.">
      <h3 class="text-center">Reco S.</h3>
      <p class="text-center titleStyle">Gas Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/timM.jpg" alt="Mike's Mobile Technician, Tim T">
      <h3 class="text-center">Tim M.</h3>
      <p class="text-center titleStyle">Door Install Lead Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/austinH.jpg" alt="Mike's Mobile Technician, Austin H.">
      <h3 class="text-center">Austin H.</h3>
      <p class="text-center titleStyle">Door Install Technician</p>
    </div>

    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/hankS.jpg" alt="Mike's Mobile Technician, Hank S.">
      <h3 class="text-center">Hank S.</h3>
      <p class="text-center titleStyle">Repair Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/michaelM.jpg" alt="Mike's Mobile Technician, Michael M.">
      <h3 class="text-center">Michael M.</h3>
      <p class="text-center titleStyle">Sales Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/vincentZ.jpg" alt="Mike's Mobile Technician, Vincent Z">
      <h3 class="text-center">Vincent Z.</h3>
      <p class="text-center titleStyle">Sales Technician</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/ronH.jpg" alt="Warehouse Foreman, Ron H.">
      <h3 class="text-center">Ron H.</h3>
      <p class="text-center titleStyle">Warehouse Foreman</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/billI.jpg" alt="Mike's Mobile Technician, Bill I.">
      <h3 class="text-center">Bill I.</h3>
      <p class="text-center titleStyle">Metal Shop / Assistant Mechanic</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/superShannon.jpg"
        alt="Recruiting and Project Manager, Shannon H.">
      <h3 class="text-center">Shannon H.</h3>
      <p class="text-center titleStyle">Recruiting and Project Manager</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/angelicaW.jpg" alt="Human Resources Specialist, Angelica W.">
      <h3 class="text-center">Angelica W.</h3>
      <p class="text-center titleStyle">Human Resources Specialist</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/zacW.jpg" alt="Senior Software Engineer, Zac W.">
      <h3 class="text-center">Zac W.</h3>
      <p class="text-center titleStyle">Senior Software Engineer</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/melissaG.jpg" alt="Customer Service Manager, Melissa G">
      <h3 class="text-center">Melissa G.</h3>
      <p class="text-center titleStyle">Customer Service Manager</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/crystalA.jpg" alt="Service Administrator, Crystal A.">
      <h3 class="text-center">Crystal A.</h3>
      <p class="text-center titleStyle">Service Administrator</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/alexisC.jpg"
        alt="Customer Service Assistant Manager, Alexis C.">
      <h3 class="text-center">Alexis C.</h3>
      <p class="text-center titleStyle">Customer Service Assistant Manager</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/airealeW.jpg" alt="CSR Aireale W.">
      <h3 class="text-center">Aireale W.</h3>
      <p class="text-center titleStyle">Customer Service Representative</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/chadwickJ.jpg" alt="CSR, Chadwick J">
      <h3 class="text-center">Chadwick J.</h3>
      <p class="text-center titleStyle">Customer Service Representative</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 center mb-3">
      <img class="img-fluid" src="../../assets/images/team/taylorW.jpg" alt="CSR Taylor W.">
      <h3 class="text-center">Taylor W.</h3>
      <p class="text-center titleStyle">Customer Service Representative</p>
    </div>
  </div>
    <!-- Contact Box -->
  <div class="row d-flex justify-content-center mt-4">
    <div class="col-12 col-xl-10 blue-border-box p-3 p-md-5">
      <h2 class="text-center">Our Connection With You!</h2>
      <div class="d-flex justify-content-center my-4">
        <div class="row">
          <div class="mt-3 mt-md-2 col-12 col-md-6 o-border-right center">
            <p>Click below to talk with one of our expert customer service representatives, and take that first step on your next project!</p>
            <div class='d-flex justify-content-center'>
              <a class="btn oj" (click)="openQuoteForm()">Free Quote!</a>
            </div>

          </div>
          <div class="mt-3 mt-md-2 col-12 col-md-6 center">
            <p>Want to join our winning team?<br>Find out more below!</p>
            <div class='d-flex justify-content-center'>
              <a class="btn mikesBlueBtn" href="https://www.indeed.com/cmp/Mike's-Mobile-Services" target="_blank">Join Our Team!</a>
            </div>

          </div>
        </div>
      </div>
      <h3 class="fontSize25">Contact Us</h3>
      <hr>
      <div class="row">
        <div class="col-12 col-md-4 mb-2">
          <h4>Call Or Email Us</h4>
          <a href="mailto:office@mikesmobile.com?subject=I%20would%20like%20more%20information%20about%20Mike's%20Mobile!"
            class="text-underline">office@mikesmobile.com</a>
          <br>
          <a class="text-underline" href="tel:+19163728783">+1 (916) 372-8783</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-2">
          <h4>Sacramento</h4>
          <a target="_blank" href="https://g.page/MikesMobile?share" class="text-underline">9912 Business Park Dr. Ste 175<br>Sacramento, CA. 95827</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-2">
          <h4>Stockton</h4>
          <a target="_blank" href="https://g.page/MikesMobileStockton?share" class="text-underline">8130 Lorraine Ave
            #312,<br>Stockton, CA 95210</a>
        </div>
      </div>

    </div>
  </div>

</div>

<app-quote-form></app-quote-form>