<app-action-buttons></app-action-buttons>

<ng-container [ngSwitch]="service.slug">
  <ng-container *ngSwitchCase="'swinging-screen-doors'">
    <div class="container">
      <section class="section pb-3">
        <h1 class="section-heading h1 pt-md-4" [innerHTML]="service.title"></h1>
        <hr />
        <p class="section-description" [innerHTML]="service.description"></p>
        <div class="row text-center">
          <hr />
          <ng-container
            *ngFor="
              let item of serviceList | findByCategory: 'Swinging Screen Door'
            "
          >
            <div class="col-6 col-md-4 col-lg-3 my-3 service-list">
              <div class="card">
                <a [routerLink]="['/', item.type, item.slug]">
                  <div class="view overlay">
                    <app-img
                      [src]="item.tileImage"
                      class="img-fluid doorImages serviceImage"
                      [alt]="item.title"
                    ></app-img>
                    <div class="mask rgba-white-light"></div>
                  </div>
                </a>
                <div class="card-body text-center">
                  <h4 class="card-title">
                    <strong
                      ><a
                        [routerLink]="['/', item.type, item.slug]"
                        [innerHTML]="item.title"
                      ></a
                    ></strong>
                  </h4>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </section>
      <div class="container mt-4">
        <section class="text-center section feature-box">
          <app-footer-gallery
            [Images]="service.recentInstallImages"
          ></app-footer-gallery>
        </section>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'titan-security-doors'">
    <div class="container">
      <section class="section pb-3">
        <nav class="breadcrumb mt-2">
          <a class="breadcrumb-item" routerLink="/">Home</a>
          <a
            class="breadcrumb-item"
            routerLink="/about/security-doors-and-windows"
            >Security Screen Doors and Windows</a
          >
          <span class="breadcrumb-item active"
            >Titan Security Screen Doors</span
          >
        </nav>

        <div class="row">
          <div class="col-12 col-md-7 pb-3">
            <app-main-gallery
              [Images]="service.recentInstallImages"
            ></app-main-gallery>
          </div>
          <div class="col-12 col-md-5 productInfo">
            <h1 class="text-left h5">Security Screen Doors</h1>
            <h2 class="text-left h3">Titan Security Screen Doors</h2>
            <div class="container">
              <ul class="pb-3">
                <li class="l2">
                  Available in 40 different designs.
                  <a class="blue-text" mdbPageScroll href="#titanGallery"
                    >Click or scroll here to see them all</a
                  >
                </li>
                <li class="l2">
                  Aluminum alloy construction is up to 6 times stronger than
                  steel and cannot rust
                </li>
                <li class="l2">
                  Welded hinges and mitered corners add strength, enhance
                  appearance and increase security
                </li>
              </ul>
            </div>

            <div class="flex-row my-4 text-center" (click)="openQuoteForm()">
              <h4
                class="animated pulse infinite orange-text pb-3 cursor-pointer"
              >
                &nbsp; Get a Free Quote Now!
              </h4>
            </div>
            <div class="row">
              <div class="col-12">
                <h4>
                  Color Selection &nbsp;
                  <span class="small">(click to zoom)</span>
                </h4>
                <app-color-swatch
                  swatchType="titanSecurityColors"
                ></app-color-swatch>
                <app-color-swatch
                  swatchType="titanAluminumColors"
                ></app-color-swatch>
                <app-color-swatch swatchType="meshtecColor"></app-color-swatch>
              </div>
            </div>
          </div>
        </div>
        <hr class="mt-4" />
        <p
          class="my-5 section-description"
          [innerHTML]="service.description"
        ></p>
        <div id="titanGallery" class="row justify-content-center">
          <ng-container
            *ngFor="
              let item of serviceList
                | findByCategory: 'Titan Security Screen Doors'
            "
          >
            <div
              class="card col-6 col-md-4 col-lg-2"
              (click)="openSlideShowModal(item.title)"
            >
              <div class="view overlay">
                <app-img
                  [src]="item.tileImage"
                  class="img-fluid serviceImage titanImage"
                  [alt]="item.title"
                ></app-img>
                <div class="mask rgba-white-light"></div>
              </div>

              <div class="card-body text-center">
                <h4 class="card-title">
                  <strong
                    ><a
                      (click)="openSlideShowModal(item.title)"
                      [innerHTML]="item.title"
                    ></a
                  ></strong>
                </h4>
              </div>
            </div>
          </ng-container>
        </div>
      </section>
    </div>
    <app-slideShowModal></app-slideShowModal>
    <app-quote-form></app-quote-form>
  </ng-container>
  <ng-container *ngSwitchCase="'chimney-repairs'">
    <div class="container">
      <section class="section pb-3">
        <h1 class="section-heading h1 mt-md-4">Chimney Repair</h1>
        <hr />
        <p class="section-description" [innerHTML]="service.description"></p>
        <div class="row text-center">
          <ng-container
            *ngFor="let item of serviceList | findByCategory: 'Repair'"
          >
            <div class="col-6 col-md-4 col-lg-3 mb-4 service-list">
              <div class="flip-container">
                <a
                  class="flipper d-block"
                  [routerLink]="['/', item.type, item.slug]"
                >
                  <div class="front">
                    <div class="view waves-light" mdbRippleRadius>
                      <app-img
                        [src]="item.tileImage"
                        class="img-fluid serviceImage"
                        [alt]="item.title"
                      ></app-img>
                    </div>
                    <h5
                      class="card-title px-4 py-2"
                      [innerHTML]="item.title"
                    ></h5>
                  </div>
                  <div class="back">
                    <h4
                      class="text-center card-back-title"
                      [innerHTML]="item.title"
                    ></h4>
                    <div class="divider dropdown-divider pt-0 mt-0"></div>
                    <p
                      class="p-1 mb-0 text-center"
                      [innerHTML]="item.tileText"
                    ></p>
                  </div>
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </section>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'masonry-services'">
    <div class="container">
      <section class="section pb-3">
        <h1 class="section-heading h1 pt-md-4" [innerHTML]="service.title"></h1>
        <hr />
        <p class="section-description" [innerHTML]="service.description"></p>
        <div class="row text-center">
          <ng-container
            *ngFor="let item of serviceList | findByCategory: 'Masonry'"
          >
            <div class="col-6 col-md-4 col-lg-3 my-3 service-list">
              <div class="flip-container">
                <a
                  class="flipper d-block"
                  [routerLink]="['/', item.type, item.slug]"
                >
                  <div class="front">
                    <div class="view waves-light" mdbRippleRadius>
                      <app-img
                        [src]="item.tileImage"
                        class="img-fluid serviceImage"
                        [alt]="item.title"
                      ></app-img>
                    </div>
                    <h5
                      class="card-title px-4 py-2"
                      [innerHTML]="item.title"
                    ></h5>
                  </div>
                  <div class="back">
                    <h4
                      class="text-center card-back-title"
                      [innerHTML]="item.title"
                    ></h4>
                    <div class="divider dropdown-divider pt-0 mt-0"></div>
                    <p
                      class="p-1 mb-0 text-center"
                      [innerHTML]="item.tileText"
                    ></p>
                  </div>
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </section>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'chimney-accessories'">
    <div class="container">
      <section class="section pb-3">
        <h1 class="section-heading h1 pt-md-4" [innerHTML]="service.title"></h1>
        <hr />
        <p class="section-description" [innerHTML]="service.description"></p>
        <div class="row text-center">
          <ng-container
            *ngFor="let item of serviceList | findByCategory: 'Accessories'"
          >
            <div class="col-6 col-md-4 col-lg-3 my-3 service-list">
              <div class="flip-container">
                <a
                  class="flipper d-block"
                  [routerLink]="['/', item.type, item.slug]"
                >
                  <div class="front">
                    <div class="view waves-light" mdbRippleRadius>
                      <app-img
                        [src]="item.tileImage"
                        class="img-fluid serviceImage"
                        [alt]="item.title"
                      ></app-img>
                    </div>
                    <h5
                      class="card-title px-4 py-2"
                      [innerHTML]="item.title"
                    ></h5>
                  </div>
                  <div class="back">
                    <h4
                      class="text-center card-back-title"
                      [innerHTML]="item.title"
                    ></h4>
                    <div class="divider dropdown-divider pt-0 mt-0"></div>
                    <p
                      class="p-1 mb-0 text-center"
                      [innerHTML]="item.tileText"
                    ></p>
                  </div>
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </section>
    </div>
  </ng-container>
</ng-container>
