@import '../../sass/modules/_mixins.sass'
@import '../../sass/modules/_variables.sass'

.cursor-pointer
  cursor: pointer

.productInfo
  h1, h2, h4
    font-family: 'Open Sans', sans-serif
    font-weight: lighter
  h1
    font-weight: bold
  ul
    padding-left: 25px
    .l2
      padding: 5px 0

.breadcrumb
  background: none
  a
    color: #4083BB
    &:hover
      color: $orange

.mask:hover
  cursor: pointer

.card
  background: none
  box-shadow: none

.priceOff
  font-weight: 500 !important
  color: $orange
