@import '../../sass/modules/_mixins.sass'
@import '../../sass/modules/_variables.sass'

.doorImages, #titanGallery img
  height: 400px
  position: relative
  left: 50%
  transform: translate(-50%, 0)
  cursor: pointer
  object-fit: contain

#titanGallery img
  object-fit: cover

.cursor-pointer
  cursor: pointer

#productInfo
  h1
    font-family: 'Open Sans', sans-serif
    font-weight: bold
  h2, h4
    font-family: 'Open Sans', sans-serif
    font-weight: lighter
  ul
    padding-left: 25px
    #l1
      padding: 10px 0
    #l2
      padding: 5px 0

.breadcrumb
  background: none
  a
    color: #4083BB
    &:hover
      color: $orange

.mask:hover
  cursor: pointer

.card
  border-radius: 2.5px
  background: none
  box-shadow: none

ngx-gallery
  padding: 10px 0 0 0
  border: 1px solid #e3e3e3
  @include breakpoint(md)
    border: none

ngx-gallery /deep/ .ngx-gallery-arrow
  color: #000000

/deep/ .ngx-gallery-thumbnail.ngx-gallery-active
  border: $mmblue solid 2px
  border-radius: 5px
  box-shadow: 0px 0px 15px 1px $mmblue
  transition: 0.5s

.card-back-title
  font-size: 1.2em !important
  text-align: center !important
  padding: 0.3em !important
  background-color: $mmblue !important
  color: white !important
