<div class="bag">
  <div class="overlay"></div>
  <div class="container">
    <div class="col-md-12 text-center animate-box fadeInUp animated thanks">
      <h3>THANK YOU FOR YOUR INTEREST IN DEN DEFENDERS! </h3>
      <p>
        We will be contacting you shortly.
        <br />
        Remember to check us out on Facebook and Instagram for our latest news, products, and deals! <br />
        <a class="social m-3" href="https://www.facebook.com/MikesMobileScreenAndChimneyService/"><i
            class="fab fa-facebook"></i></a>
        <a class="social m-3" href="https://www.instagram.com/mikesmobilescreens/?hl=en">
          <i class="fab fa-instagram"></i>
        </a>
      </p>
    </div>
  </div>
</div>

<app-quote-form></app-quote-form>