<div class="bag">
  <div class="overlay"></div>
  <div class="container">
    <div class="col-md-12 text-center animate-box fadeInUp animated thanks">
      <h3>Thank You</h3>
      <p>
        Thanks for contacting us. <br />We will get in touch with you shortly.
        <br />
        Don't forget to follow us on on facebook and instagram for latest our
        latest news and deals <br />
        <a
          class="social m-3"
          href="https://www.facebook.com/MikesMobileScreenAndChimneyService/"
          ><i class="fab fa-facebook"></i
        ></a>
        <a
          class="social m-3"
          href="https://www.instagram.com/mikesmobilescreens/?hl=en"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </p>
    </div>
  </div>
</div>

<app-quote-form></app-quote-form>
