<ng-container *ngIf="Images">
  <div class="container text-center">
    <h2>See Our Recent Work!</h2>
    <hr />
    <app-img
      *ngFor="let image of Images; let i = index"
      [alt]="image.alt"
      type="image"
      class="footerThumb"
      [src]="image.big"
      data-toggle="modal"
      data-target="#footerModal"
      (click)="show(i)"
      mdbWavesEffect
    ></app-img>

    <div
      mdbModal
      #footerContent="mdb-modal"
      class="modal fade"
      id="footerModal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class=" modal-dialog" role="img">
        <div class="modal-content w-100">
          <div class="modal-header">
            <button
              type="button"
              class="btn btn-danger waves-light"
              data-dismiss="modal"
              (click)="footerContent.hide()"
              mdbWavesEffect
            >
              X
            </button>
          </div>
          <div class="text-center">
            <app-img [src]="modalImagePath" class="galleryImg"></app-img>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary waves-light"
              (click)="previous()"
              mdbWavesEffect
            >
              <span
                aria-hidden="true"
                class="carousel-control-prev-icon"
              ></span>
            </button>
            <button
              type="button"
              class="btn btn-primary waves-light"
              (click)="next()"
              mdbWavesEffect
            >
              <span
                aria-hidden="true"
                class="carousel-control-next-icon"
              ></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
