<app-action-buttons></app-action-buttons>
<h1 class="pt-5 font-weight-bold text-center title">
  Fireplace Products Manuals
</h1>
<h5 class="pb-5 text-center">Select To display the Manuals as a "PDF"</h5>
<div class="container">
  <mdb-tabset
    class="menu"
    buttonClass="md-tabs blue tabs-3"
    content-class="card"
  >
    <mdb-tab
      *ngFor="let section of manualsSections; let i = index"
      [heading]="section.category"
    >
      <div *ngFor="let manuals of section.manuals" class="container">
        <h4 class="pt-4" [innerHTML]="manuals.subcategory"></h4>
        <hr />
        <ul class="pt-2">
          <li *ngFor="let i of manuals.pdf | keys">
            <a target="_blank" [href]="i.value" [innerHTML]="i.key"></a>
          </li>
        </ul>
      </div>
    </mdb-tab>
  </mdb-tabset>
</div>
