<app-action-buttons></app-action-buttons>

<div class="container">
  <h1 class="text-center m-4">Chimney FAQ</h1>
  <hr />
  <h4 class="text-center">
    Here is a list of some of our most commonly asked questions. <br />Feel free
    to give us a call if you need any more assistance!
  </h4>
  <div *ngFor="let faq of faqs" class="m-4">
    <h5 class="font-weight-bold" [innerHTML]="faq.question"></h5>
    <div [ngSwitch]="faq.type">
      <div *ngSwitchCase="'p'">
        <p *ngFor="let p of faq.body" [innerHTML]="p"></p>
      </div>
      <div *ngSwitchCase="'list'">
        <ul class="list-group mb-5">
          <li
            *ngFor="let l of faq.bullets"
            class="list-group-item"
            [innerHTML]="l"
          ></li>
        </ul>
      </div>
      <div *ngSwitchCase="'image-list'" class="service-list">
        <p [innerHTML]="faq.body"></p>
        <div class="row">
          <div
            *ngFor="let i of faq.images"
            class="col-6 col-md-4 col-lg-3 flip-container"
          >
            <div class="flipper">
              <div class="front">
                <div class="view waves-light" mdbRippleRadius>
                  <img [src]="i.src" class="img-fluid" [alt]="i.alt" />
                </div>
              </div>
              <div class="back">
                <h4
                  class="text-center card-back-title"
                  [innerHTML]="i.title"
                ></h4>
              </div>
            </div>
          </div>
        </div>
        <ul class="list-group mb-5">
          <li
            *ngFor="let bullet of faq.bullets"
            class="list-group-item"
            [innerHTML]="bullet"
          ></li>
        </ul>
      </div>
    </div>
  </div>
</div>
