<ng-container *ngIf="product">
  <div class="container pb-4">
    <nav class="breadcrumb mt-2">
      <a class="breadcrumb-item" routerLink="/">Home</a>
      <a
        *ngIf="product.category === 'Swinging Screen Door'"
        class="breadcrumb-item"
        routerLink="/grid/swinging-screen-doors"
        >Swinging Screen Doors</a
      >
      <a
        *ngIf="product.category === 'Titan Security Screen Doors'"
        class="breadcrumb-item"
        routerLink="/grid/titan-security-doors"
        >Titan Security Screen Doors</a
      >
      <a
        *ngIf="product.category === 'Door and Window Screens'"
        class="breadcrumb-item"
        routerLink="/about/door-and-window-screens"
        >Doors and Window Screens</a
      >
      <a
        *ngIf="product.category === 'Screen Doors'"
        class="breadcrumb-item"
        routerLink="/about/door"
        >Screen Doors</a
      >
      <a
        *ngIf="product.category === 'Window Screens'"
        class="breadcrumb-item"
        routerLink="/about/window-screens"
        >Window Screens</a
      >
      <a
        *ngIf="product.category === 'Chimney Services'"
        class="breadcrumb-item"
        routerLink="/about/chimney-services"
        >Chimney Services</a
      >
      <a
        *ngIf="product.category === 'Security Screen Doors and Windows'"
        class="breadcrumb-item"
        routerLink="/about/security-doors-and-windows"
        >Security Screen Doors and Windows</a
      >
      <a
        *ngIf="product.category === 'Security Screen Doors'"
        class="breadcrumb-item"
        routerLink="/about/security-doors"
        >Security Screen Doors</a
      >
      <a
        *ngIf="product.category === 'Security Window Screens'"
        class="breadcrumb-item"
        routerLink="/about/security-windows"
        >Security Window Screens</a
      >
      <a
        *ngIf="product.category === 'Awnings'"
        class="breadcrumb-item"
        routerLink="/about/awnings"
        >Awnings</a
      >
      <span class="breadcrumb-item active" [innerHTML]="product.title"></span>
    </nav>
    <div
      *ngIf="price && product.slug !== 'pet-doors'"
      class="d-flex flex-column align-items-end flex-md-row"
    >
      <h1 class="text-left h1 pageTitle">
        {{ product.title }}
      </h1>

      <h3 *ngFor="let item of price.price" class="mx-2 h3">
        <a
          mdbPageScroll
          href="#disclaimer"
          mdbRippleRadius
          [pageScrollDuration]="400"
          [pageScrollOffset]="110"
        >
          -{{ item.type }} Starts at
          <span class="price h1"
            >{{ item.price }}<span class="text-dark">*</span></span
          >
        </a>
      </h3>
    </div>
    <div
      *ngIf="!price || product.slug === 'pet-doors'"
      class="d-flex flex-column flex-md-row mb-0"
    >
      <h1 class="text-left h1 pageTitle mb-0">
        {{ product.title }}
      </h1>
    </div>
    <hr />
    <div class="row">
      <div class="col-12 col-md-7 pb-3">
        <ng-container *ngIf="product.slug === 'sliding-security-doors'">
          <div class="col-12">
            <div class="lower-zindex">
              <mdb-tabset #staticTabs buttonClass="md-tabs light-blue tabs-3">
                <mdb-tab heading="Single Stainless Steel Mesh">
                  <div class="row">
                    <div class="col-12">
                      <app-img
                        src="/assets/images/security/sliding/display-photos/Single-Stainless-Steel-Sliding-Security-Door.jpg"
                        class="img-fluid centered-sq"
                      ></app-img>
                    </div>
                  </div>
                </mdb-tab>
                <mdb-tab heading="Double Stainless Steel Mesh">
                  <div class="row">
                    <div class="col-12">
                      <app-img
                        src="/assets/images/security/sliding/display-photos/Double-Stainless-Steel-Sliding-Security-Door.jpg"
                        class="img-fluid centered-sq"
                      ></app-img>
                    </div>
                  </div>
                </mdb-tab>
              </mdb-tabset>
            </div>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            product.category === 'Swinging Screen Door' ||
            (product.category === 'Titan Security Screen Doors' &&
              !gallery_images)
          "
        >
          <app-img
            (click)="doorModal.show()"
            [src]="product.tileImage"
            class="img-fluid z-depth-2 main-image"
          >
          </app-img>
          <p class="text-center p-2">(Click Image to Enlarge)</p>
          <div
            mdbModal
            #doorModal="mdb-modal"
            class="modal fade"
            tabindex="-1"
            role="dialog"
            aria-labelledby="doorModal"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="close pull-right"
                    aria-label="Close"
                    (click)="doorModal.hide()"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4
                    class="modal-title w-100 text-center"
                    [innerHTML]="product.title"
                  ></h4>
                </div>
                <div class="modal-body">
                  <app-img
                    mdbRippleRadius
                    class="galleryImg"
                    [src]="product.tileImage"
                  ></app-img>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container
          *ngIf="product.slug !== 'sliding-security-doors' && gallery_images"
        >
          <app-main-gallery [Images]="gallery_images"></app-main-gallery>
        </ng-container>

        <div
          *ngIf="product.slug === 'viewguard-security-doors'"
          class="container-fluid text-center justify-content-center"
        >
          <div class="row text-center">
            <div class="col-12 text-center justify-content-center">
              <div
                class="embed-responsive mx-auto video embed-responsive-16by9"
              >
                <iframe
                  class="embed-responsive-item"
                  src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FMikesMobileScreenAndChimneyService%2Fvideos%2F1264548423571761%2F&show_text=0&width=560"
                  allow="autoplay; encrypted-media"
                  allowfullscreen
                ></iframe>
              </div>
              <h6>These things are seriously tough!</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5">
        <h5
          *ngIf="product.slug === 'solar-screens'"
          class="text-left font-weight-bold font-italic"
        >
          Our solar screens block out UV rays so that you can keep your home
          cool!
        </h5>
        <h5
          *ngIf="product.slug === 'pet-doors'"
          class="text-left font-weight-bold font-italic"
        >
          Tired of getting up to let the dog out? Let us install a pet door so
          that you don't have to!
        </h5>
        <h5
          *ngIf="product.slug === 'lifestyle-garage-screen'"
          class="text-left font-weight-bold font-italic"
        >
          Our garage screen doors will turn any garage into an extra room!
        </h5>
        <h5
          *ngIf="product.slug === 'retractable-screen-doors'"
          class="text-left font-weight-bold font-italic"
        >
          The perfect screen when you need it, disappears when you don't!
        </h5>
        <h5
          *ngIf="product.slug === 'vista-fixed'"
          class="text-left font-weight-bold font-italic"
        >
          Don't make your house look like a prison! We provide window security
          without the bars!
        </h5>
        <h5
          *ngIf="product.slug === 'vista-quick-escape'"
          class="text-left font-weight-bold font-italic"
        >
          Don't make your house look like a prison! We provide window security
          without the bars!
        </h5>
        <h5
          *ngIf="product.slug === 'tru-view-security-doors'"
          class="text-left font-weight-bold font-italic"
        >
          Looking for a stylish screen door with increased durablity? The
          TruView is for you!
        </h5>
        <h5
          *ngIf="product.slug === 'viewguard-security-doors'"
          class="text-left font-weight-bold font-italic"
        >
          The Viewguard offers heavy-duty security with maximum airflow, so you
          can keep your family safe!
        </h5>
        <hr />
        <div class="container my-4" *ngIf="product.textList">
          <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
            <mdb-item *ngFor="let item of product.textList; index as i">
              <mdb-item-head>{{ item.title }}</mdb-item-head>
              <mdb-item-body>
                <p [innerHTML]="item.description"></p>
              </mdb-item-body>
            </mdb-item>
          </mdb-squeezebox>
        </div>
        <div class="container" *ngIf="product.bullets">
          <ul class="pb-3">
            <li
              *ngFor="let bullet of product.bullets"
              [innerHTML]="bullet"
            ></li>
          </ul>
        </div>
        <mdb-squeezebox
          *ngIf="price && product.slug === 'pet-doors'"
          class="pricesTag"
        >
          <mdb-item>
            <mdb-item-head class="pricesTag rounded mb-2 text-white"
              >Prices</mdb-item-head
            >
            <mdb-item-body>
              <table mdbTable borderless="true">
                <tbody>
                  <tr mdbTableCol *ngFor="let item of price.price">
                    <td class="py-0">{{ item.name }}</td>
                    <td class="price py-0">{{ item.price }}</td>
                  </tr>
                </tbody>
              </table>
              <p *ngIf="price.disclaimer" class="text-center">
                *{{ price.disclaimer }}
              </p>
            </mdb-item-body>
          </mdb-item>
        </mdb-squeezebox>
        <div
          class="flex-row mt-2 d-none d-md-block cursor-pointer text-center"
          (click)="openQuoteForm()"
        >
          <h4 class="animated pulse infinite orange-text pb-1">
            &nbsp; Get a Free Quote Now!
          </h4>
        </div>
        <div class="flex-row d-md-none ml-5 pl-5">
          <a class="white-text" href="tel:+18009929938">
            <h4
              class="animated pulse infinite orange-text pl-4 pb-3 cursor-pointer"
            >
              <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; Call Now!
            </h4>
          </a>
        </div>
        <div class="row text-center mb-3">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-8">
                <a routerLink="/financing">
                  <img
                    src="/assets/images/main/financingButton.png"
                    class="img-fluid"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="product.colorSet">
          <div class="col-12">
            <h4>
              Color Selection &nbsp; <span class="small">(click to zoom)</span>
            </h4>
            <ng-container *ngFor="let i of product.colorSet">
              <app-color-swatch [swatchType]="i"></app-color-swatch>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-tab-nav [details]="product.details"></app-tab-nav>
  <app-footer-gallery
    [Images]="product.recentInstallImages"
  ></app-footer-gallery>
  <div class="row mt-5 justify-content-center text-center">
    <div class="col-12">
      <p *ngIf="price" id="disclaimer">{{ price.disclaimer }}</p>
    </div>
  </div>
</ng-container>

<app-quote-form></app-quote-form>
