@import '../../sass/modules/_mixins.sass'
@import '../../sass/modules/_variables.sass'

hr
  background-color: $orange

.productInfo
  h1, h2, h4
    font-family: 'Open Sans', sans-serif
    font-weight: lighter
  h1
    font-weight: bold
  ul
    padding-left: 25px
    .l2
      padding: 5px 0

.breadcrumb
  background: none
  a
    color: #4083BB
    &:hover
      color: $orange

.modal-open .modal
  overflow-x: auto !important
  overflow-y: auto

.main-image-modal
  height: 70vh
  position: relative
  left: 50%
  transform: translate(-50%, 0)

.centered-sq
  position: relative
  width: 100%
  left: 50%
  transform: translate(-50%, 0)
  box-shadow: 1px 1px 7px rgba(0,0,0,0.1)

.modal-content
  background: #f2f2f2 !important

.lower-zindex
  position: relative !important
  z-index: 0 !important

.cursor-pointer
  cursor: pointer

.pageTitle
  font-family: 'didact gothic', sans-serif !important

.small
  font-size: .75em

.price
  font-weight: 600 !important
  color: $orange

.makeNewLine
  max-width: 100%
  @include breakpoint(md)
    max-width: 417px

.video
  max-width: 550px !important

.pricesTag
  background-color: $mmblue

.grayBackGround
  background-color: #f4f4f4 !important

.priceImage
  height: 65px
  max-width: 150px
  background-image: url("/assets/images/priceTags/blankTag.png")
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.ctaCol
  max-width: 225px
 

.waterProofPackage
  max-width: 500px

.galleryDiv 
  max-height: 600px

.mobileCenter 
  align-text: center !important


.videoModal
  max-width: 100%
  margin: 1.75rem auto
  @include breakpoint(md)
    max-width: 600px

.tableLink
  display: block
  

.borderTop
  border-top: 1px solid #dee2e6;
  
  
.borderBottom
  border-bottom: 1px solid #dee2e6;

.table th, .table td
  border: none
  
.smaller
  max-height: 120px;

.hideIndicators li
  display: none;
 
.heroContainer
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/gasFireplacepages/Hero.png");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include breakpoint(md)
   height: 500px


.heroText
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
 @include breakpoint(md)
  top: 60%;
  width: 60%;

.boldText
  font-weight: 800 !important;

.heroHr 
  background-color: white;

.table thead th 
  border-bottom: 2px solid #fbad17;

.fa-star
  color: #F9A602
