<div *ngIf="clicked == 'Sacramento'" class=" info-box" [@infobox]="state">
  <div class="card">
    <h3 class="card-header mmbg text-dark">Sacramento Office</h3>
    <div class="card-body">
      <h4 class="desktop-disappear">Schedule Now</h4>
      <p class="card-text">
        9912 Business Park Dr. Ste 175,
        <br />Sacramento, CA 95827 <br />Phone: (916) 318-9845 <br />Fax: (916)
        358-7873 <br />office@mikesmobile.com <br />Mon-Sat 8AM-7PM
      </p>
      <a class="btn mikesBlueBtn" (click)="openQuoteForm()" mdbWavesEffect>Schedule Now!</a>
    </div>
  </div>
</div>
<div *ngIf="clicked == 'Stockton'" class="info-box" [@infobox]="state">
  <div class="card">
    <h3 class="card-header mmbg text-dark">Stockton Office</h3>
    <div class="card-body">
      <p class="card-text">
        1401 W Fremont St <br />Stockton, CA 95203 <br />Phone:(209)
        815-6085 <br />Fax: (916) 358-7873 <br />office@mikesmobile.com
        <br />Mon-Sat 8AM-7PM
      </p>
      <a class="btn mikesBlueBtn" (click)="openQuoteForm()" mdbWavesEffect>Schedule Now!</a>
    </div>
  </div>
</div>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" style="height: 600px" [scrollwheel]="scrollwheel"
  (mapClick)="mapClicked($event)">
  <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
    (markerClick)="clickedMarker(m.label)"></agm-marker>
  <agm-polygon [paths]="screenAndChimMap" [strokeWeight]="0" clickable="false" [fillColor]="chimColor"></agm-polygon>
</agm-map>

<h2 class="text-center pt-md-3 font-weight-bold">Service Areas (All Services)</h2>

<div class="container justify-content-center my-5">
  <div class="row text-center justify-content-center">
    <div *ngFor="let region of regions" class="col-6 col-lg-3 text-center py-1">
      <a [routerLink]="['/regions/', region.slug]" class="text-center justify-content-center">
        <button class="btn blue btn-rounded waves-light">
          {{ region.region }}
        </button>
      </a>
    </div>
  </div>
</div>


<agm-map [latitude]="35.093528" [longitude]="-118.843732" [zoom]="zoom2" style="height: 600px"
  [scrollwheel]="scrollwheel" (mapClick)="mapClicked($event)">
  <!-- <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
    (markerClick)="clickedMarker(m.label)"></agm-marker> -->
  <agm-polygon [paths]="screenMap" [strokeWeight]="0" clickable="false" [fillColor]="screenColor"></agm-polygon>
</agm-map>


<h2 class="text-center pt-md-3 font-weight-bold" style="color: #535456">Service Areas (Security Products Only)</h2>

<div class="container justify-content-center my-5">
  <div class="row text-center justify-content-center">
    <div *ngFor="let region of regionSecurityOnly" class="col-6 col-lg-3 text-center py-1">
      <a [routerLink]="'/regions/' + region.slug + '/security'" class="text-center justify-content-center">
        <button class="btn btn-rounded waves-light" style="background-color: #FBAD17; color: #535456">
          {{ region.region }}
        </button>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" id="contact-us">
    <div class="col"></div>
    <div class="col-8">
      <hr>
    </div>
    <div class="col"></div>
    <div class="col-md-12">
      <h3 class="text-center font-weight-bold h2-responsive mt-2 mb-3">
        Contact Us
      </h3>

      <div class="d-flex justify-content-center">
        <p class="card-text mb-3" style="max-width: 43rem;">
          Mike’s Mobile Screen & Chimney Service is California’s premier home service company. We specialize in a
          variety of services including chimney inspections and repairs, security screen installations, and
          fireplace maintenance. Contact us today!
        </p>
      </div>
    </div>
    <div class="col"></div>
    <div class="col-8 d-flex justify-content-center">
      <mdb-tabset #staticTabs buttonClass="md-tabs light-blue tabs-3">
        <mdb-tab heading="<i class='fa fa-map'></i> Address">
          <div class="row">
            <div class="col-6 text-center">
              <h6>Sacramento Showroom:</h6>
              <hr class="my-2" />
              <a target="_blank" rel="noopener" href="https://goo.gl/maps/xJ6vETMoxXH2">
                <p>
                  9912 Business Park Dr. Ste 175
                </p>
                <p>
                  Sacramento, CA. 95827
                </p>
              </a>
            </div>
            <div class="col-6 text-center">
              <h6>Stockton Showroom:</h6>
              <hr class="my-2" />
              <a target="_blank" rel="noopener" href="https://goo.gl/maps/u66zSj8e1adyTyqg9">
                <p>
                  1401 W Fremont St
                </p>
                <p>
                  Stockton, CA 95203
                </p>
              </a>
            </div>
          </div>
        </mdb-tab>
        <mdb-tab heading="<i class='fa fa-phone'></i> Phone">
          <div class="row">
            <div class="col-12 text-center">
              <p>
                To schedule an appointment faster you can click “Schedule Now”
                to send us all of your information. A customer service
                representative will get back to you shortly with days and
                times available for your appointment.
              </p>
              <a href="tel:+1(916) 318-9845">
                <button type="button" class="btn mikesBlueBtn">
                  (916) 318-9845
                </button>
              </a>
            </div>
          </div>
        </mdb-tab>
        <mdb-tab heading="<i class='fa fa-envelope'></i> E-Mail">
          <div class="row">
            <div class="col-12 text-center">
              <p>
                Send us an email and we will respond within one business day.
              </p>
            </div>
          </div>
          <div class="row text-center">
            <a class="email" href="mailto:office@mikesmobile.com">
              <button type="button" class="btn mikesBlueBtn">
                office@mikesmobile.com
              </button>
            </a>
          </div>
        </mdb-tab>
      </mdb-tabset>
    </div>
    <div class="col"></div>

  </div>
</div>




<app-quote-form></app-quote-form>