<div class="container">
  <!--Card-->
  <div class="card card-cascade wider reverse my-4">
    <!--Card image-->
    <div class="view hm-grey-light waves-light" style="height: 500px" mdbRippleRadius>
      <div>
        <span class="h1 orange-text">404 Error</span>
        <h1>
          The page you're looking for isn't here
        </h1>
        <button class="btn orange waves-light">
          <a href="https://mikesmobile.com">Return home</a>
        </button>
      </div>
    </div>
    <!--/Card image-->
  </div>
  <!--/.Card-->
</div>