<app-action-buttons></app-action-buttons>

<div *ngIf="clicked == 'Sacramento'" class=" info-box" [@infobox]="state">
  <div class="card">
    <h3 class="card-header primary-color white-text">Sacramento Office</h3>
    <div class="card-body">
      <h4 class="desktop-disappear">Get a Quote Now</h4>
      <p class="card-text">
        9941 Horn Rd Suite A,
        <br />Sacramento, CA 95827 <br />Phone: (916) 823-3388 <br />Fax: (916)
        358-7873 <br />office@mikesmobile.com <br />Mon-Sat 8AM-7PM
      </p>
      <a
        class="btn btn-primary waves-light"
        (click)="openQuoteForm()"
        mdbWavesEffect
        >Free Quote</a
      >
    </div>
  </div>
</div>
<div *ngIf="clicked == 'Stockton'" class="info-box" [@infobox]="state">
  <div class="card">
    <h3 class="card-header primary-color white-text">Stockton Office</h3>
    <div class="card-body">
      <h4 class="desktop-disappear">Get a Quote Now</h4>
      <p class="card-text">
        8130 Lorraine Ave #312, <br />Stockton, CA 95210 <br />Phone:(209)
        815-6085 <br />Fax: (916) 358-7873 <br />office@mikesmobile.com
        <br />Mon-Sat 8AM-7PM
      </p>
      <a
        class="btn btn-primary waves-light"
        (click)="openQuoteForm()"
        mdbWavesEffect
        >Free Quote</a
      >
    </div>
  </div>
</div>
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  style="height: 600px"
  [scrollwheel]="scrollwheel"
  (mapClick)="mapClicked($event)"
>
  <agm-marker
    *ngFor="let m of markers; let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    (markerClick)="clickedMarker(m.label)"
  ></agm-marker>
</agm-map>
<div class="container pt-md-4">
  <div class="jumbotron text-center mb-0">
    <h1 class="h2-responsive mt-2 mb-3">
      <strong>Contact Us</strong>
    </h1>

    <div class="d-flex justify-content-center">
      <p class="card-text mb-3" style="max-width: 43rem;">
        Mike’s Mobile Screen & Chimney Service is the premier home service
        company. We offer over 10 different services which makes us YOUR go-to
        company for all of your chimney, window and door coverings, window
        washing, dryer vent cleaning, gutter cleaning and awning needs!
      </p>
    </div>

    <hr class="my-4" />

    <mdb-tabset #staticTabs buttonClass="md-tabs light-blue tabs-3">
      <mdb-tab heading="<i class='fa fa-map'></i> Address">
        <div class="row">
          <div class="col-12">
            <img
              src="assets/images/main/single-chimney.jpg"
              alt="..."
              class="img-thumbnail"
            />
            <br />
            <br />
            <p>
              Mike’s Mobile Screen & Chimney Service is the premier home service
              company. We offer over 10 different services which makes us YOUR
              go-to company for all of your chimney, window and door coverings,
              window washing, dryer vent cleaning, gutter cleaning and awning
              needs!
            </p>
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="<i class='fa fa-phone'></i> Phone">
        <div class="row">
          <div class="col-12">
            <p>
              To schedule an appointment faster you can click “Free Quote” to
              send us all of your information. A customer service representative
              will get back to you shortly with days and times available for
              your appointment.
            </p>
            <a href="tel:+1-916-372-8783">
              <button
                type="button"
                class="btn btn-lg peach-gradient btn-rounded waves-light"
                mdbRippleRadius
              >
                916-372-8783
              </button>
            </a>
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="<i class='fa fa-envelope'></i> E-Mail">
        <div class="row">
          <div class="col-12">
            <br />
            <p>
              Contacting us is as easy as filling out a form on our web site for
              giving us a call. We have superior customer service. Fill out one
              of our web forms and a customer service representative will get
              back to you within 1 business day. Send us a message during normal
              business hours and watch us respond within minutes!
            </p>
          </div>
        </div>
        <div class="row">
          <a class="email" href="mailto:office@mikesmobile.com">
            <button
              mdbBtn
              type="button"
              gradient="peach"
              rounded="true"
              class="waves-light"
              mdbWavesEffect
            >
              office@mikesmobile.com
            </button>
          </a>
        </div>
      </mdb-tab>
    </mdb-tabset>

    <hr class="my-4" />

    <h2 class="section-heading pt-md-3">Service Areas</h2>
    <mdb-tabset
      #staticTabs
      buttonClass="md-tabs tabs-4 pills-secondary white mb-2"
    >
      <mdb-tab heading="Sacramento">
        <div class="row">
          <div class="col-12">
            <br />
            <p>
              Antelope, Arden Arcade, Brooks, Cameron Park, Capay, Carbondale,
              Carmichael, Citrus Heights, Clarksburg, Clay, Conaway, Courtland,
              Davis, El Dorado Hills, El Macero, Elk Grove, Elverta, Esparto,
              Fair Oaks, Florin, Folsom, Foothill Farms, Granite Bay, Knights
              Landing, Lincoln, Loomis, Madison, Monument Hills, Newcastle,
              Penryn, Plainfield, Sacramento, West Sacramento, Woodland, Yolo,
              Zamora
            </p>
            <br />
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="Auburn">
        <div class="row">
          <div class="col-12">
            <br />
            <p>
              Amador City, Applegate, Auburn, Brooks, Bunker Hill, Cameron Park,
              Coloma, Cool, Drytown, Dunnigan, Fiddletown, Guinda, Ione,
              Jackson, Martell, Meadow Vista, New Chicago, North Auburn, Pilot
              Hill, Placerville, Plymouth, Rio Oso, River Pines, Rumsey,
              Sheridan, Sunnybrook, Sutter Creek, Sutter Hill, Wheatland
            </p>
            <br />
            <a href="tel:+1-530-692-5680">
              <button
                type="button"
                class="btn blue waves-light"
                mdbRippleRadius
              >
                530-692-5680
              </button>
            </a>
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="Antioch">
        <div class="row">
          <div class="col-12">
            <br />
            <p>
              Bay Point, Bethel Island, Brentwood, Byron, Clayton, Contra Costa
              Centre, Discovery Bay, Knightsen, Oakley, Pittsburg, Shell Ridge
            </p>
            <br />
            <a href="tel:+1-925-350-0501">
              <button
                type="button"
                class="btn blue waves-light"
                mdbRippleRadius
              >
                925-350-0501
              </button>
            </a>
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="Stockton">
        <div class="row">
          <div class="col-12">
            <br />
            <p>
              Acampo, Adela, Airport, Atlanta, August, Banta, Barton, Bonnefoy,
              Buena Vista, North Shore Lake Camanche, Camanche Village,
              Claribel, Clarsona, Claus, Clay, Clinton, Collierville, Courtland,
              Dagon, Del Rio, Dogtown, East Oakdale, Edwin, Electra, Escalon,
              Eugene, Farmington, Firebrick, French Camp, Garden Acres, Goodmans
              Corner, Kennedy, Knights Ferry, Langworth, Lathrop, Lincoln
              Village, Linden, Lockeford, Lodi, Manteca, McHenry, Morada,
              Mormon, Mountain House, Oakdale, Peters, Pine Acres, Pine Grove,
              Pioneer, Plasse, Red Corral, Ripon, Riverbank, Salida,
              Scottsville, Stockton, Taft Mosswood, Thornton, Tracy, Valley
              Home, Victor, Volcano, Waterloo, Woodbridge
            </p>
            <br />
            <a href="tel:+1-209-815-6085">
              <button
                type="button"
                class="btn blue waves-light"
                mdbRippleRadius
              >
                209-815-6085
              </button>
            </a>
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="Danville">
        <div class="row">
          <div class="col-12">
            <br />
            <p>
              Acalanes Ridge, Alamo, Ashland, Blackhawk, Camino Tassajara,
              Castro Valley, Castle Hill, Danville, Diablo, Dublin, Fremont,
              Hayward, Livermore, Moraga, Newark, Norris Canyon, Pleasanton, San
              Leandro, San Lorenzo, San Ramon, Sunol, Walnut Creek
            </p>
            <br />
            <a href="tel:+1-925-443-0700">
              <button
                type="button"
                class="btn blue waves-light"
                mdbRippleRadius
              >
                952-443-0700
              </button>
            </a>
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="Oakland">
        <div class="row">
          <div class="col-12">
            <br />
            <p>
              Alameda, Alhambra Valley, Albany, Beyview-Mountain, Berkeley,
              Canyon, Clyde, Concord, Crockett, East Richmond Heights, El
              Cerrito, El Sobrante, Emeryville, Hasford Heights, Hercules,
              Kensington, Lafayette, Martinez, North Richmond, Orinda, Pacheco,
              Piedmont, Pinole, Pleasant Hill, Port Costa, Reliez Valley,
              Richmond, Rodeo, Rollingwood, San Pablo, Tara Hills, Vine Hill
            </p>
            <br />
            <a href="tel:+1-510-277-5694">
              <button
                type="button"
                class="btn blue waves-light"
                mdbRippleRadius
              >
                510-227-5694
              </button>
            </a>
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="Modesto">
        <div class="row">
          <div class="col-12">
            <br />
            <p>
              Atwater, Bret Harte, Bystrom, Ceres, Crows Landing, Diablo Grande,
              Denair, Empire, Grayson, Hickman, Hills Ferry, Keys, Hughson,
              Livingston, La Grange, Los Banos, Merced, Modesto, Monterey Park
              Tract, Montpelier, New Jerusalem, Newman, Orestimba High School,
              Patterson, Riverdale Park, Roberts Ferry Grammer School,
              Shackelford, Turlock, Vernalis, Waterford, Westley, West Modesto
            </p>
            <br />
            <a href="tel:+1-209-957-9700">
              <button
                type="button"
                class="btn blue waves-light"
                mdbRippleRadius
              >
                209-957-9700
              </button>
            </a>
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="Napa">
        <div class="row">
          <div class="col-12">
            <br />
            <p>
              American Canyon, Atlas, Batoo, Benicia, Imola, Napa, Oak Knoll,
              Schellville, Sonoma, Union, Vallejo, Vineburg, Yountville
            </p>
            <br />
            <a href="tel:+1-707-812-1935">
              <button
                type="button"
                class="btn blue waves-light"
                mdbRippleRadius
              >
                707-812-1935
              </button>
            </a>
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="Fairfield">
        <div class="row">
          <div class="col-12">
            <br />
            <p>
              Allendale, Bahia, Birds Landing, Bucktown, Collinsville, Cordelia,
              Dixon, Elmira, Fairfield, Green Valley, Hartley, Maine Prairie,
              Rio Vista, Rockville, Terminous, Suisun City, Vacaville, Scandia
              Family Center, Winters
            </p>
            <br />
            <a href="tel:+1-707-812-1935">
              <button
                type="button"
                class="btn blue waves-light"
                mdbRippleRadius
              >
                707-812-1935
              </button>
            </a>
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="San Jose">
        <div class="row">
          <div class="col-12">
            <br />
            <p>
              Alamitos, Alum Rock, Alviso, Atherton, Cambrian Park, Campbell,
              Coyote, Cupertino, Emerald Hills, Evergreen, Los Altos Hills, Los
              Gatos, Loyola, Madrone, Menlo Park, Milpitas, Morgan Hill,
              Mountain View, Palo Alto, Permanente, Redwood City, Robertsville,
              San Martin, Santa Clara, Saratoga, Stanford, Sunnyvale, Woodside
            </p>
            <br />
          </div>
        </div>
      </mdb-tab>
    </mdb-tabset>
  </div>
</div>

<app-quote-form></app-quote-form>
