<app-action-buttons></app-action-buttons>

<div class="container">
  <div class="row">
    <div class="col-xl-6 col-lg-5 mt-3 summary">
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text" [innerHTML]="service.description"></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="w-100 text-center">
            <a
              class="btn btn-primary btn-rounded w-75"
              href="tel:{{ region.phone }}"
              ><i class="fas fa-phone left"></i> {{ region.phone }}</a
            >
            <p class="card-text">Call us for more information!</p>
          </div>
          <div class="office-hours mb-4 px-3 py-4">
            <h2 class="title pl-1">
              {{
                region.region === 'Sacramento' || region.region === 'Stockton'
                  ? region.region
                  : ''
              }}
              Office Hours
            </h2>
            <ul class="list-unstyled opening-hours">
              <li>Monday <span class="float-right">8AM-7PM</span></li>
              <li>Tuesday <span class="float-right">8AM-7PM</span></li>
              <li>Wednesday <span class="float-right">8AM-7PM</span></li>
              <li>Thursday <span class="float-right">8AM-7PM</span></li>
              <li>Friday <span class="float-right">8AM-7PM</span></li>
              <li>Saturday <span class="float-right">8AM-5PM</span></li>
              <li>Sunday <span class="float-right">Closed</span></li>
            </ul>
          </div>
          <ul class="area-list w-100 d-none d-lg-block">
            <li *ngFor="let area of region.areas" [innerHTML]="area"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col mt-3">
      <h1 class="h3 text-center">{{ service.title }} in {{ region.region }}</h1>
      <app-flipcard-list [cards]="service.cards"></app-flipcard-list>
      <h3 class="text-center">Other Services we offer in {{ region.region }}</h3>
      <app-flipcard-list [cards]="otherServiceCards"></app-flipcard-list>
    </div>
  </div>
  <hr />
  <div class="row">
    <h2 class="w-100 text-center my-4">
      {{ region.region }} loves Mike's Mobile <i class="fas fa-heart"></i>
    </h2>
    <blockquote class="blockquote" *ngFor="let review of region.reviews">
      <p class="mb-0" [innerHTML]="review.review"></p>
      <a [href]="review.link"
        ><footer
          class="blockquote-footer mb-3"
          [innerHTML]="review.author"
        ></footer
      ></a>
    </blockquote>
  </div>
  <div class="row d-block d-lg-none">
    <ul class="area-list w-100">
      <li *ngFor="let area of region.areas" [innerHTML]="area"></li>
    </ul>
  </div>
</div>
