@import '../../sass/modules/_mixins.sass'
@import '../../sass/modules/_variables.sass'

.cardContainer
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.tile
  display: flex
  width: 140px!important
  @include breakpoint(xs)
    width: 243px !important

.tileTitle
  height: 100%
  width: 140px !important
  margin: 0 
  padding: 0 !important
  @include breakpoint(md)
    height: 57.5px
    background-color: $orange
  @include breakpoint(xs)
    width: 243px !important

.card-img-overlay
  margin-top: 5rem !important

.tileListContainer
  border-top: solid 5px $orange
  border-bottom: solid 5px $orange
  background: rgba(0, 0, 0, 0.7)

.tileList
  color: white
  padding-top: 10px
  padding-right: 10px 
  list-style-type: disc !important
  list-style-position: outside !important


.tileBlurb
  line-height: 1.4 !important
  font-weight: normal !important
  color: white

.backGroundGrey
  background-color: #5b5d52 !important

.sectionHeaders
  background-color: $mmblue
  color: white !important

.tileInfo
  display: none

.tile:hover
  .tileInfo 
    @include breakpoint(md)
      display: inline

.pricesTag
  background-color: $mmblue

.tileOverlay 
  width: 140px
  padding: 5px, 10px
  color: $mmblue
  font-weight: bold
  @include breakpoint(xs)
    width: 243px !important

    
.listStyle
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000


.tileListItem
  padding: 0px
  list-style-type: disc !important