<div mdbModal #announcementModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="quoteFormTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content ">
            <div class="modal-header justify-content-start">
                <h4 class="modal-title text-start px-2" id="quoteFormTitle">
                    Covid-19 Precautionary Measures & Updates
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <ol>
                    <li>Mike's Mobile has been classified as an essential business, in all areas where a lock-down is in
                        effect, and will remain fully open and operational throughout the COVID-19 outbreak. If anything
                        changes we will contact you immediately. </li>
                    <li>In order to keep our customers and staff safe we are taking precautions that include the use of
                        gloves, masks & respirators, with frequent hand washing and hand sanitizer use.</li>
                    <li>We screen our employees for any sickness, and in the event they have symptoms we are not
                        allowing them to come to work until the doctors release them to do so.</li>
                    <li>These precautions are being taken until further notice. All updates will be posted here.</li>
                    <li>Thank you for your understanding and for trusting us with your home service needs! If you have
                        any questions, concerns, or need to have a service scheduled, please call us at 877-520-3595, so
                        that we can help!</li>
                </ol>
            </div>
        </div>
    </div>
</div>