<div class="container service-list mt-3">
  <div class="row">
    <ng-container *ngFor="let card of cardData">
      <div class="col-6 my-3">
        <div class="flip-container">
          <a class="flipper d-block" [routerLink]="card.link">
            <div class="front">
              <div class="view waves-light" mdbRippleRadius>
                <img
                  [src]="card.image"
                  [alt]="card.title"
                  [title]="card.title"
                />
              </div>
              <h4 class="card-title" [innerHTML]="card.title"></h4>
            </div>
            <div class="back">
              <h4
                class="text-center card-back-title"
                [innerHTML]="card.title"
              ></h4>
              <div class="divider dropdown-divider pt-0 mt-0"></div>
              <p class="mb-0 text-center" [innerHTML]="card.text"></p>
            </div>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
