<app-action-buttons></app-action-buttons>

<ng-container *ngIf="landing">
  <ng-container *ngIf="landing.slug === 'door-screens'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Mike’s Mobile offers a variety of window and door screens from sliding
        screen doors to security doors to Solar Screens which block out much of
        the sun’s heat. We even offer screen repair and replacement services.
        Contact us today so we can help you choose the perfect screen for your
        home.
      </p>
      <div class="row">
        <div class="col">
          <img
            src="/assets/images/screens/window-screen-repair/car-logo-2.jpg"
            class="img-fluid"
          />
        </div>
        <div class="col-md-3">
          <h4 class="p-2 text-center">Screen Doors</h4>
          <div class="d-flex flex-column">
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/products/retractable-screen-doors"
            >
              Retractable Screens
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/products/sliding-screen-doors"
            >
              Sliding Screens
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/grid/swinging-screen-doors"
            >
              Swinging Screens
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/products/pet-doors"
            >
              Pet doors
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/products/lifestyle-garage-screen"
            >
              Garage Screen Doors
            </a>
          </div>
        </div>
      </div>
      <hr />
      <p class="m-2">
        If you are in need of more security, please visit our
        <a class="orange-text" routerLink="/about/security-doors-and-windows"
          >Security Screen Doors</a
        >
        page! Mike’s Mobile has you covered no matter what application your home
        needs.
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'window-screens'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Mike’s Mobile offers a variety of window and door screens from sliding
        screen doors to security doors to Solar Screens which block out much of
        the sun’s heat. We even offer screen repair and replacement services.
        Contact us today so we can help you choose the perfect screen for your
        home.
      </p>
      <div class="row">
        <div class="col">
          <img
            src="/assets/images/screens/window-screen-repair/car-logo-2.jpg"
            class="img-fluid"
          />
        </div>
        <div class="col-md-3">
          <h4 class="p-2 text-center">Window Screens</h4>
          <div class="d-flex flex-column">
            <a
              class="btn blue my-2"
              mdbRippleRadius
              routerLink="/services/solar-screens"
            >
              Solar Screens
            </a>
            <a
              class="btn blue my-2"
              mdbRippleRadius
              routerLink="/services/window-screen-repair"
            >
              Window Screen Repair
            </a>
          </div>
        </div>
      </div>
      <hr />
      <p class="m-2">
        If you are in need of more security, please visit our
        <a class="orange-text" routerLink="/about/security-doors-and-windows"
          >Security Screen Doors</a
        >
        page! Mike’s Mobile has you covered no matter what application your home
        needs.
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'door-and-window-screens'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Mike’s Mobile offers a variety of window and door screens from sliding
        screen doors to security doors to Solar Screens which block out much of
        the sun’s heat. We even offer screen repair and replacement services.
        Contact us today so we can help you choose the perfect screen for your
        home.
      </p>
      <div class="row">
        <div class="col">
          <img
            src="/assets/images/screens/window-screen-repair/car-logo-2.jpg"
            class="img-fluid"
          />
        </div>
        <div class="col-md-3">
          <h4 class="p-2 text-center">Window Screens</h4>
          <div class="d-flex flex-column">
            <a
              class="btn blue my-2"
              mdbRippleRadius
              routerLink="/services/solar-screens"
            >
              Solar Screens
            </a>
            <a
              class="btn blue my-2"
              mdbRippleRadius
              routerLink="/services/window-screen-repair"
            >
              Window Screen Repair
            </a>
          </div>
          <h4 class="p-2 text-center">Screen Doors</h4>
          <div class="d-flex flex-column">
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/products/retractable-screen-doors"
            >
              Retractable Screens
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/products/sliding-screen-doors"
            >
              Sliding Screens
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/grid/swinging-screen-doors"
            >
              Swinging Screens
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/products/pet-doors"
            >
              Pet doors
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/products/lifestyle-garage-screen"
            >
              Garage Screen Doors
            </a>
          </div>
        </div>
      </div>
      <hr />
      <p class="m-2">
        If you are in need of more security, please visit our
        <a class="orange-text" routerLink="/about/security-doors-and-windows"
          >Security Screen Doors</a
        >
        page! Mike’s Mobile has you covered no matter what application your home
        needs.
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'chimney-services'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Did you know that chimneys need to be cleaned and inspected regularly in
        order for them to burn safely? Sooty buildup can lead to chimney fires
        that spread into the home. Even if you do not use your fireplace often,
        general deterioration or even animal nests can make it unsafe to use.
        Let Mike’s Mobile Chimney Service help you keep your fireplace safe and
        your home cozy.
      </p>
      <div class="row">
        <div class="col">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/PKxsbx7Z9Po"
              allow="autoplay; encrypted-media"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="p-2 text-center">Chimney Services</h4>
          <div class="d-flex flex-column">
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/services/chimney-inspections"
            >
              Chimney Inspections
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/services/chimney-cleaning"
            >
              Chimney Cleaning
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/grid/chimney-repairs"
            >
              Chimney Repair
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/grid/chimney-accessories"
            >
              Chimney Accessories
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/grid/masonry-services"
            >
              Masonry Services
            </a>
            <a
              class="btn orange my-2"
              mdbRippleRadius
              routerLink="/services/dryer-vent-cleaning"
            >
              Dryer Vent Cleaning
            </a>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'security-doors'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Upgrade your style along with security with our security doors. Whether
        you are looking for a traditional security door for safety or our high
        quality aluminum security doors to protect both your view and your home,
        Mike’s Mobile Screens has plenty of options for you.
      </p>
      <div class="row">
        <!-- Gallery -->
        <div class="col-12 col-md-7 pb-3">
          <app-main-gallery [Images]="security_door_gallery"></app-main-gallery>
        </div>

        <!-- Above-the-fold Text -->
        <div class="col-12 col-md-5">
          <h3 class="text-left">Front Security Screen Doors</h3>
          <div class="container">
            <ul class="pb-3">
              <li id="l2">
                Our high quality security doors are built to protect your home
              </li>
              <li id="l2">
                These doors keep intruders out without compromising the
                appearance of your home
              </li>
              <li id="l2">
                With security doors whose designs say "upscale" instead of
                "security" you can't go wrong with a Mike's Mobile security
                door!
              </li>
            </ul>
            <div class="d-flex flex-column">
              <a
                class="btn blue my-2"
                mdbRippleRadius
                routerLink="/grid/titan-security-doors"
              >
                Titan
              </a>
              <a
                class="btn blue my-2"
                mdbRippleRadius
                routerLink="/products/viewguard-security-doors"
              >
                Viewguard
              </a>
              <a
                class="btn blue my-2"
                mdbRippleRadius
                routerLink="/products/tru-view-security-doors"
              >
                Tru View
              </a>
            </div>
          </div>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="row">
        <div class="col-12 col-md-5">
          <h3 class="text-left">Patio Doors</h3>
          <div class="container">
            <p class="p-2">
              A sliding security door replaces your existing patio screen door.
              These doors come pre-assembled and tamper resistant. Enjoy the
              cool night air while sleeping in peace, quiet and safety. These
              sliding security doors are also pet resistant! No more ripped
              screens from pets.
            </p>
            <div class="d-flex flex-column">
              <a
                class="btn blue my-2"
                mdbRippleRadius
                routerLink="/products/sliding-security-doors"
              >
                Sliding Security Screen Doors
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7 pb-3">
          <a routerLink="/products/sliding-security-doors"
            ><img
              src="./assets/images/security/sliding/display-photos/Double-Stainless-Steel-Sliding-Security-Door.jpg"
              class="img-fluid"
              alt="Double Stainless Steel Sliding Security Door"
          /></a>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'security-windows'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />

      <div class="row">
        <!-- Gallery -->
        <div class="col-12 col-md-7 pb-3">
          <app-main-gallery
            [Images]="security_window_gallery"
          ></app-main-gallery>
        </div>

        <div class="col-12 col-md-5">
          <h3 class="text-left">Security Window Screens</h3>
          <div class="container">
            <p class="p-2">
              Security bars are an unattractive and potentially illegal way to
              secure your home from the outside. Here at Mike’s Mobile we offer
              an attractive and safe way to secure your home from the outside,
              while allowing your family to escape in case of a fire or other
              emergency.
            </p>
            <div class="d-flex flex-column">
              <a
                class="btn orange my-2"
                mdbRippleRadius
                routerLink="/products/crl-guarda-quick-escape"
              >
                CRL Guarda™ Quick Escape
              </a>
              <a
                class="btn orange my-2"
                mdbRippleRadius
                routerLink="/products/crl-guarda-fixed"
              >
                CRL Guarda™ Fixed
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'security-doors-and-windows'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Upgrade your style along with security with our security doors. Whether
        you are looking for a traditional security door for safety or our high
        quality aluminum security doors to protect both your view and your home,
        Mike’s Mobile Screens has plenty of options for you.
      </p>
      <div class="row">
        <div class="col-12 col-md-7 pb-3">
          <app-main-gallery [Images]="security_door_gallery"></app-main-gallery>
        </div>
        <div class="col-12 col-md-5">
          <h3 class="text-left">Front Security Screen Doors</h3>
          <div class="container">
            <ul class="pb-3">
              <li id="l2">
                Our high quality security doors are built to protect your home
              </li>
              <li id="l2">
                These doors keep intruders out without compromising the
                appearance of your home
              </li>
              <li id="l2">
                With security doors whose designs say "upscale" instead of
                "security" you can't go wrong with a Mike's Mobile security
                door!
              </li>
            </ul>
            <div class="d-flex flex-column">
              <a
                class="btn blue my-2"
                mdbRippleRadius
                routerLink="/grid/titan-security-doors"
              >
                Titan
              </a>
              <a
                class="btn blue my-2"
                mdbRippleRadius
                routerLink="/products/viewguard-security-doors"
              >
                Viewguard
              </a>
              <a
                class="btn blue my-2"
                mdbRippleRadius
                routerLink="/products/tru-view-security-doors"
              >
                Tru View
              </a>
            </div>
          </div>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="row">
        <div class="col-12 col-md-5">
          <h3 class="text-left">Patio Doors</h3>
          <div class="container">
            <p class="p-2">
              A sliding security door replaces your existing patio screen door.
              These doors come pre-assembled and tamper resistant. Enjoy the
              cool night air while sleeping in peace, quiet and safety. These
              sliding security doors are also pet resistant! No more ripped
              screens from pets.
            </p>
            <div class="d-flex flex-column">
              <a
                class="btn blue my-2"
                mdbRippleRadius
                routerLink="/products/sliding-security-doors"
              >
                Sliding Security Screen Doors
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7 pb-3">
          <a routerLink="/products/sliding-security-doors"
            ><img
              src="./assets/images/security/sliding/display-photos/Double-Stainless-Steel-Sliding-Security-Door.jpg"
              class="img-fluid"
              alt="Double Stainless Steel Sliding Security Door"
          /></a>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="row">
        <div class="col-12 col-md-7 pb-3">
          <app-main-gallery
            [Images]="security_window_gallery"
          ></app-main-gallery>
        </div>
        <div class="col-12 col-md-5">
          <h3 class="text-left">Security Window Screens</h3>
          <div class="container">
            <p class="p-2">
              Security bars are an unattractive and potentially illegal way to
              secure your home from the outside. Here at Mike’s Mobile we offer
              an attractive and safe way to secure your home from the outside,
              while allowing your family to escape in case of a fire or other
              emergency.
            </p>
            <div class="d-flex flex-column">
              <a
                class="btn orange my-2"
                mdbRippleRadius
                routerLink="/products/crl-guarda-quick-escape"
              >
                CRL Guarda™ Quick Escape
              </a>
              <a
                class="btn orange my-2"
                mdbRippleRadius
                routerLink="/products/crl-guarda-fixed"
              >
                CRL Guarda™ Fixed
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'awnings'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Your home is one-of-a-kind, and your window and door awnings should
        match and compliment it. Not only will your window and door awnings
        match your home, but they will also lower your energy bills, protect you
        from the weather while you open your door, and improve the appearance of
        your home..
      </p>
      <div class="row">
        <div class="col">
          <img
            src="/assets/images/awnings/folding-arm-awning.jpg"
            class="img-fluid"
          />
        </div>
        <div class="col-md-3">
          <h4 class="p-2 text-center">Awnings</h4>
          <div class="d-flex flex-column">
            <a
              class="btn blue my-2"
              mdbRippleRadius
              routerLink="/services/retractable-patio-awnings"
            >
              Retractable Patio Awnings
            </a>
            <a
              class="btn blue my-2"
              mdbRippleRadius
              routerLink="/services/drop-roll-sunscreens"
            >
              Drop Roll Sunscreens
            </a>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </ng-container>
</ng-container>
