<app-action-buttons></app-action-buttons>

<ng-container *ngIf="landing">
  <ng-container *ngIf="landing.slug === 'door-screens'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Mike’s Mobile offers a variety of window and door screens from sliding
        screen doors to security doors to Solar Screens which block out much of
        the sun’s heat. We even offer screen repair and replacement services.
        Contact us today so we can help you choose the perfect screen for your
        home.
      </p>
      <div class="row">
        <div class="col">
          <app-img src="/assets/images/screens/window-screen-repair/car-logo-2.jpg" class="img-fluid"></app-img>
        </div>
        <div class="col-md-3">
          <h4 class="p-2 text-center">Screen Doors</h4>
          <div class="d-flex flex-column">
            <a class="btn orange my-2" mdbRippleRadius routerLink="/products/retractable-screen-doors">
              Retractable Screens
            </a>
            <a class="btn orange my-2" mdbRippleRadius routerLink="/products/sliding-screen-doors">
              Sliding Screens
            </a>
            <a class="btn orange my-2" mdbRippleRadius routerLink="/grid/swinging-screen-doors">
              Swinging Screens
            </a>
            <a class="btn orange my-2" mdbRippleRadius routerLink="/products/pet-doors">
              Pet doors
            </a>
            <!-- <a class="btn orange my-2" mdbRippleRadius routerLink="/products/lifestyle-garage-screen">
              Garage Screen Doors
            </a> -->
          </div>
        </div>
      </div>
      <hr />
      <p class="m-2">
        If you are in need of more security, please visit our
        <a class="orange-text" routerLink="/about/security-doors-and-windows">Security Screen Doors</a>
        page! Mike’s Mobile has you covered no matter what application your home
        needs.
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'window-screens'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Mike’s Mobile offers a variety of window and door screens from sliding
        screen doors to security doors to Solar Screens which block out much of
        the sun’s heat. We even offer screen repair and replacement services.
        Contact us today so we can help you choose the perfect screen for your
        home.
      </p>
      <div class="row">
        <div class="col">
          <app-img src="/assets/images/screens/window-screen-repair/car-logo-2.jpg" class="img-fluid"></app-img>
        </div>
        <div class="col-md-3">
          <h4 class="p-2 text-center">Window Screens</h4>
          <div class="d-flex flex-column">
            <a class="btn blue my-2" mdbRippleRadius routerLink="/products/solar-screens">
              Solar Screens
            </a>
            <a class="btn blue my-2" mdbRippleRadius routerLink="/services/window-screen-repair">
              Window Screen Repair
            </a>
          </div>
        </div>
      </div>
      <hr />
      <p class="m-2">
        If you are in need of more security, please visit our
        <a class="orange-text" routerLink="/about/security-doors-and-windows">Security Screen Doors</a>
        page! Mike’s Mobile has you covered no matter what application your home
        needs.
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'door-and-window-screens'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Mike’s Mobile offers a variety of window and door screens from sliding
        screen doors to security doors to Solar Screens which block out much of
        the sun’s heat. We even offer screen repair and replacement services.
        Contact us today so we can help you choose the perfect screen for your
        home.
      </p>
      <div class="row">
        <div class="col">
          <app-img src="/assets/images/screens/window-screen-repair/car-logo-2.jpg" class="img-fluid"></app-img>
        </div>
        <div class="col-md-3">
          <h4 class="p-2 text-center">Window Screens</h4>
          <div class="d-flex flex-column">
            <a class="btn blue my-2" mdbRippleRadius routerLink="/products/solar-screens">
              Solar Screens
            </a>
            <a class="btn blue my-2" mdbRippleRadius routerLink="/services/window-screen-repair">
              Window Screen Repair
            </a>
          </div>
          <h4 class="p-2 text-center">Screen Doors</h4>
          <div class="d-flex flex-column">
            <a class="btn orange my-2" mdbRippleRadius routerLink="/products/retractable-screen-doors">
              Retractable Screens
            </a>
            <a class="btn orange my-2" mdbRippleRadius routerLink="/products/sliding-screen-doors">
              Sliding Screens
            </a>
            <a class="btn orange my-2" mdbRippleRadius routerLink="/grid/swinging-screen-doors">
              Swinging Screens
            </a>
            <a class="btn orange my-2" mdbRippleRadius routerLink="/products/pet-doors">
              Pet doors
            </a>
            <!-- <a class="btn orange my-2" mdbRippleRadius routerLink="/products/lifestyle-garage-screen">
              Garage Screen Doors
            </a> -->
          </div>
        </div>
      </div>
      <hr />
      <p class="m-2">
        If you are in need of more security, please visit our
        <a class="orange-text" routerLink="/about/security-doors-and-windows">Security Screen Doors</a>
        page! Mike’s Mobile has you covered no matter what application your home
        needs.
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'security-screen-doors-email'">
    <div class="container py-4">
      <h1 class="p-2">Meshtec is seriously tough!</h1>
      <hr />
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3jcvdpJwvzA?start=1" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="d-flex flex-column col-md-7">
          <h4 class="text-center mt-2">Meshtec Technology used across all of our Security Products</h4>
        </div>
        <div class="row justify-content-around">
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card tile my-2 rounded">
              <a class="d-block" routerLink="/grid/titan-security-doors">
                <div class="view waves-light" mdbRippleRadius>
                  <app-img src="/assets/images/tiles/titan-security-screen-doors.jpg" class="img-fluid card-img"
                    alt="Titan Security Screen Doors"></app-img>
                </div>
                <div class="card-img-overlay tileInfo mt-0">
                  <p class="mb-0 text-center tileBlurb text-white transparent-gray">Custom Titan Security Screen Doors
                    can take your home to the next level of style and security.
                  </p>
                </div>
                <div class="container d-table tileTitle text-center align-center w-100 mx-0">
                  <h4 class="card-title d-table-cell text-center w-100 align-middle m-0">Titan Security Screen Doors
                  </h4>
                </div>
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4 cardTiles">
            <div class="card tile my-2 rounded">
              <a class="d-block tile" routerLink="/products/viewguard-security-doors">
                <div class="view waves-light" mdbRippleRadius>
                  <app-img src="/assets/images/tiles/viewguard-security-screen-doors.jpg" class="img-fluid card-img"
                    alt="Viewguard Security Screen Doors"></app-img>
                </div>
                <div class="card-img-overlay tileInfo mt-0">
                  <p class="mb-0 text-center tileBlurb text-white transparent-gray">Your security screen door will be
                    the first point of protection for keeping your home safe and secure.
                  </p>
                </div>
                <div class="container d-table tileTitle text-center align-center w-100 mx-0">
                  <h4 class="card-title d-table-cell text-center w-100 align-middle m-0">Viewguard Security Screen
                    Doors
                  </h4>
                </div>
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card tile my-2 rounded">
              <a class="d-block" routerLink="/products/tru-view-security-doors">
                <div class="view waves-light" mdbRippleRadius>
                  <app-img src="/assets/images/tiles/truview-security-screen-doors.jpg" class="img-fluid card-img"
                    alt="TRU-View Security Screen Doors"></app-img>
                </div>
                <div class="card-img-overlay tileInfo mt-0">
                  <p class="mb-0 text-center tileBlurb text-white transparent-gray">With the Tru-View you can let the
                    cool breeze in and keep intruders out without compromising the appearance of your home.
                  </p>
                </div>
                <div class="container d-table tileTitle text-center align-center w-100 mx-0">
                  <h4 class="card-title d-table-cell text-center w-100 align-middle m-0">TRU-View Security Screen
                    Doors
                  </h4>
                </div>
              </a>
            </div>
          </div>

          <div class="col-6 col-md-4 col-lg-3 mb-4 cardTiles">
            <div class="card tile my-2 rounded">
              <a class="d-block tile" routerLink="/products/security-windows">
                <div class="view waves-light" mdbRippleRadius>
                  <app-img src="/assets/images/tiles/crl-guarda-fixed.jpg" class="img-fluid card-img"
                    alt="Fixed Security Window Screens"></app-img>
                </div>
                <div class="card-img-overlay tileInfo mt-0">
                  <p class="mb-0 text-center tileBlurb text-white transparent-gray">Security Window Screens are an
                    ideal solution to cover and protect non-opening windows.
                  </p>
                </div>
                <div class="container d-table tileTitle text-center align-center w-100 mx-0">
                  <h4 class="card-title d-table-cell text-center w-100 align-middle m-0">Security Window Screens
                  </h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'chimney-services'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Did you know that chimneys need to be cleaned and inspected regularly in
        order for them to burn safely? Sooty buildup can lead to chimney fires
        that spread into the home. Even if you do not use your fireplace often,
        general deterioration or even animal nests can make it unsafe to use.
        Let Mike’s Mobile Chimney Service help you keep your fireplace safe and
        your home cozy.
      </p>
      <div class="row">
        <div class="col">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PKxsbx7Z9Po"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="p-2 text-center">Chimney Services</h4>
          <div class="d-flex flex-column">
            <a class="btn orange my-2" mdbRippleRadius routerLink="/services/chimney-inspections">
              Chimney Inspections
            </a>
            <a class="btn orange my-2" mdbRippleRadius routerLink="/services/chimney-cleaning">
              Chimney Cleaning
            </a>
            <a class="btn orange my-2" mdbRippleRadius routerLink="/about/gas-fireplace-repair-and-service">
              Gas Fireplace Service & Repair
            </a>
            <a class="btn orange my-2" mdbRippleRadius routerLink="/grid/chimney-repairs">
              Chimney Repair
            </a>
            <a class="btn orange my-2" mdbRippleRadius routerLink="/grid/chimney-accessories">
              Chimney Accessories
            </a>
            <a class="btn orange my-2" mdbRippleRadius routerLink="/grid/masonry-services">
              Masonry Services
            </a>
            <a class="btn orange my-2" mdbRippleRadius routerLink="/services/dryer-vent-cleaning">
              Dryer Vent Cleaning
            </a>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'electric-fireplaces'">
    <div class="container text-center py-4">
      <div class="row">
        <div class="col">
          <h1 class="p-2 " [innerHTML]="landing.title"></h1>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <h4>
            Electric Fireplaces are ideal for creating an instant upgrade to any room. They’re especially handy when it
            isn’t feasible to install a Gas or Wood-Burning Fireplace or Stove in a space. Electric Fireplaces can
            literally
            go anywhere and are ready to spread comfort and warmth straight out of the box. You can hang them on the
            wall
            like a piece of art. You can also install them into the wall, which includes recessing our wall-hanging
            Electric
            Fireplaces, or install into a freestanding mantel to create the look you desire. Modern and cost-effective,
            Electric Fireplaces use low-energy LED lights to create realistic flames that can be seen both day and
            night.
            They are convenient and can even be operated by remote control, setting the mood with different colored
            flames.
            Electric Fireplaces can be operated with or without heat for year-round ambiance. Whether it’s a commercial
            space or your favorite room in the house, an Electric Fireplace will add splendor and comfort no matter the
            situation.
          </h4>
        </div>
      </div>
      <hr />
      <div class="row text-left">
        <div class="col-8">
          <h4>Ascent Electric 33" & 40"</h4>
          <h6>Built-In Electric Fireplace</h6>
          <hr />
          <p>
            The Napoleon Ascent™
            Electric 33 & 40 fireplaces imitate the look of a traditional
            masonry fireplace but with all the convenience of simply plugging it in, sitting
            back and enjoying the heat and glowing log set! Napoleon’s flame technology
            randomly adjusts the flame effect, color, height and speed creating the illusion
            of a true wood burning fire with a modulating ember bed for a realistic glow.
            Perfect for any room in a house, condo, apartment or office.
          </p>
          <a href="/services/ascent-electric-fireplace"><Button class="btn btn-primary">Learn More</Button></a>
        </div>
        <div class="col-4">
          <img class="img-fuild" alt="Ascent Electric Fireplace"
            src="/assets/images/electric-fireplace/ascentFireplace.png" />
        </div>
      </div>
      <hr />
      <div class="row text-left">
        <div class="col-8">
          <h4>Cinema™ Log Series 29", 27", & 24"</h4>
          <h6>Built-In Electric Fireplace</h6>
          <hr />
          <p>
            Imagine completely transforming your living space just by plugging in a fireplace.
            With the Napoleon Cinema™
            Log series electric fireplaces you can do just that. The
            realistic log bed glows just like real burning logs, and when turned off, fades just
            like a real dying fire. Set the mood instantly with complete control over flame and
            ember lights, heat intensity and even set the NIGHT LIGHT™
            for added ambiance.
            These electric fireplaces add class to your décor, no matter where you put it
          </p>
          <a href='/services/cinema-log-series'><Button class="btn btn-primary">Learn More</Button></a>
        </div>
        <div class="col-4">
          <img class="img-fuild" alt="Cinema Log Series Fireplace"
            src="/assets/images/electric-fireplace/cinemaLogFireplace.png" />
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'water-proofing-package'">
    <div class="container text-center py-4">
      <h1 class="text-center">We Fix Leaky Chimneys!</h1>
      <hr />
      <!-- <div class="row text-center">
        <div class="col">
          <h1 class="p-2 text-center" [innerHTML]="landing.title"></h1>
        </div>
      </div>
      <hr /> -->
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <img src="/assets/images/waterProofing/waterProofPackage.png" class="img-fluid" alt="water proofing package">
        </div>
        <div class="col-lg-6 text-left">
          <h1 class=" text-left" [innerHTML]="landing.title"></h1>
          <hr />
          <h3>Protect your chimney from all angles with our 10-year warranty!</h3>
          <hr />
          <p>The last thing you want to worry about as a homeowner is water leaking into your home. That's why our
            waterproofing bundle includes all the repairs you need to ensure your chimney isn't the cause of any
            unfortunate leaks.</p>
          <p>Our waterproofing package seals any leaks you may currently have in your chimney system and protects your
            chimney from water intrusion. Water intrusion is the leading cause of chimney degradation. Give your chimney
            a new lease on life, and protect your home.</p>
          <P>
            The process starts with <a href="/services/crown-seal">crown coat</a> applied to your chimney crown to
            protect the integrity of the top of your
            chimney stack. Once the <a href="/services/crown-seal">crown coat</a> has cured, we install a chimney cap
            (not a flue cap!) to shed water away
            from the stack. We also address leaks at the roofline by applying <a href="/services/flashing">flash
              seal</a> where your roof meets your
            chimney to ensure a watertight seal. We finish our waterproofing package with a <a
              href="/services/masonry/waterproofing">water repellent</a> coating
            applied to the entire stack that allows the chimney to breathe and sweat while still repelling outside
            water.
          </P>
          <p>The waterproofing package from Mike’s Mobile includes a 10-year leak free warranty and is 10% off with our
            bundled pricing.</p>

        </div>
      </div>
      <h2 class="m-2 text-left">The components</h2>
      <hr />
      <div class="row text-left mt-2 justify-content-center">
        <div class="col-lg-2">
          <img src="/assets/images/waterProofing/waterProofCrownCoat.png" class="img-fluid"
            alt="custom built chimney cap">
        </div>
        <div class="col-lg-8">
          <a href="/services/crown-seal">
            <h4>Crown Coat</h4>
          </a>
          <hr />
          <ul>
            <li>Seals Any Previous Damage to Your Crown</li>
            <li>Protects Your Crown From Moisture</li>
            <li>Prevents Further Cracking of Your Crown</li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row text-left mt-2 justify-content-center">
        <div class="col-lg-2">
          <img src="/assets/images/waterProofing/waterProofChimneyCap.png" class="img-fluid"
            alt="custom built chimney cap">
        </div>
        <div class="col-lg-8">
          <a routerLink="/products/chimney-caps">
            <h4>Custom Built Chimney Cap</h4>
          </a>
          <hr />
          <ul>
            <li>6 Kynar™ Colors - Matte Black, Dark Bronze, Metallic Silver, Parchment, Saddle Tan, and Champagne </li>
            <li>Protects Your Entire Chimney, Not Just Your Flue!</li>
            <li>Sheds Water Away From the Stack</li>
            <li>Keeps Animals, Debris and Rain Out of Your Flue</li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row text-left mt-2 justify-content-center">
        <div class="col-lg-2">
          <img src="/assets/images/waterProofing/waterProofFlashSeal.png" class="img-fluid"
            alt="custom built chimney cap">
        </div>
        <div class="col-lg-8">
          <a href="/services/flashing">
            <h4>Flash Seal</h4>
          </a>
          <hr />
          <ul>
            <li>Prevents Water From Entering Your Home or Chimney at the Roof Line</li>
            <li>Covers Your Current Roof Flashing for a Water Tight Seal</li>
            <li>Acts like a Rubber Boot for Your Chimney</li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row text-left mt-2 justify-content-center">
        <div class="col-lg-2">
          <img src="/assets/images/waterProofing/waterProofSpraySeal.png" class="img-fluid"
            alt="custom built chimney cap">
        </div>
        <div class="col-lg-8">
          <a href="/services/masonry/waterproofing">
            <h4>Water Repellent</h4>
          </a>
          <hr />
          <ul>
            <li>Seals Your Chimney Stack From Moisture Intrusion</li>
            <li>Your Chimney Bricks Will Shed Water
            </li>
            <li>Still Allows Your Chimney Stack to Breathe and Sweat</li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="container ">
        <div class="row">
          <div class="col mt-2">
            <div class=" d-md-none ">
              <a class="white-text" href="tel:+18009929938">
                <h4 class="animated pulse infinite orange-text text-center cursor-pointer">
                  <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; Call Now!
                </h4>
              </a>
            </div>
            <div class=" d-none d-md-block cursor-pointer text-center" (click)="openQuoteForm()">
              <h4 class="animated pulse infinite orange-text ">
                &nbsp;Schedule today!
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- this is the mock up for a/b test -->
  <ng-container *ngIf="landing.slug === 'gas-fireplace-repair-and-service'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <div class="row align-items-center">
        <div class="col">
          <app-main-gallery [Images]="gallery_images"></app-main-gallery>
          <div class="container d-md-none ">
            <div class="row">
              <div class="col mt-2">
                <div class=" d-md-none ">
                  <a class="white-text" href="tel:+18009929938">
                    <h4 class="animated pulse infinite orange-text text-center cursor-pointer">
                      <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; Call Now!
                    </h4>
                  </a>
                </div>
                <div class=" d-none d-md-block cursor-pointer text-center" (click)="openQuoteForm()">
                  <h4 class="animated pulse infinite orange-text ">
                    &nbsp;Schedule today!
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 text-center">
          <div class="container">
            <div class="row">
              <div class="col text-left">
                <h4 class="font-weight-bold font-italic mt-sm-2">
                  We Fix Gas Fireplaces!
                </h4>
                <p>
                  With help from Mike’s Mobile you can be sure that your gas fireplace is working properly and save
                  money on costly future problems. Our <a class="link" href="https://www.csia.org/">CSIA</a> certified,
                  specialized gas technicians will diagnose any issues with your system and perform the maintenance and
                  repairs needed to ensure that it is clean and fully functioning!
                  <br /> <br />A gas fireplace offers wonderful aesthetics and helps to keep your home warm during the
                  cooler months. With regular maintenance, your system will be ready to go so that you can sit back,
                  relax, and enjoy your gas fireplace!
                </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col text-left">
                <h4 class="font-weight-bold">Annual Maintenance for Gas Fireplaces</h4>
                <ul>
                  <li>
                    Even if you don’t notice any obvious issues, the National Fire Protection Association recommends
                    an annual inspection to ensure that your gas fireplace continues to work properly.
                  </li>
                  <li>
                    Many homeowners' insurance policies require an annual professional chimney inspection and
                    cleaning. Your insurance company may require that you provide proof of this when filing a claim.
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="container d-none d-md-block ">
            <div class="row">
              <div class="col mt-2">
                <div class=" d-md-none ">
                  <a class="white-text" href="tel:+18009929938">
                    <h4 class="animated pulse infinite orange-text text-center cursor-pointer">
                      <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; Call Now!
                    </h4>
                  </a>
                </div>
                <div class=" d-none d-md-block cursor-pointer text-center" (click)="openQuoteForm()">
                  <h4 class="animated pulse infinite orange-text ">
                    &nbsp;Schedule today!
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <h4 class="font-weight-bold pl-lg-3 ml-lg-4">Is your gas fireplace having these issues? We can fix it!</h4>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="container">
            <div class="row">
              <div class="col text-left p-sm-0">
                <ul>
                  <li class="font-weight-bold">Gas fireplace turns off by itself</li>
                  <li class="font-weight-bold">Pilot won’t stay lit.</li>
                  <li class="font-weight-bold">Gas fireplace sparks but burner won’t light</li>
                  <li class="font-weight-bold">Small or ghosting flames</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 p-lg-0">
          <p>
            A full diagnostic may be needed to determine the cause of such issues. Our technicians will test every
            component in your system. They will also provide you with a digital report, complete with photos, that
            shows you exactly what’s wrong with your gas fireplace and exactly how it can be fixed. Our
            specialized gas fireplace technicians are able to perform most repairs in one visit!
          </p>
        </div>
      </div>

      <hr />
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'security-doors'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Upgrade your style along with security with our security doors. Whether
        you are looking for a traditional security door for safety or our high
        quality aluminum security doors to protect both your view and your home,
        Mike’s Mobile Screens has plenty of options for you.
      </p>
      <div class="row">
        <!-- Gallery -->
        <div class="col-12 col-md-7 pb-3">
          <app-main-gallery [Images]="security_door_gallery"></app-main-gallery>
        </div>

        <!-- Above-the-fold Text -->
        <div class="col-12 col-md-5">
          <h3 class="text-center text-left-md">Front Security Screen Doors</h3>
          <div class="container">
            <ul class="pb-3">
              <li id="l2">
                Our high quality security doors are built to protect your home
              </li>
              <li id="l2">
                These doors keep intruders out without compromising the
                appearance of your home
              </li>
              <li id="l2">
                With security doors whose designs say "upscale" instead of
                "security" you can't go wrong with a Mike's Mobile security
                door!
              </li>
            </ul>
            <div class="d-flex flex-column">
              <a class="btn blue my-2" mdbRippleRadius routerLink="/grid/titan-security-doors">
                Titan
              </a>
              <a class="btn blue my-2" mdbRippleRadius routerLink="/products/viewguard-security-doors">
                Viewguard
              </a>
              <a class="btn blue my-2" mdbRippleRadius routerLink="/products/tru-view-security-doors">
                Tru View
              </a>
            </div>
            <div class="flex-row my-4 text-center" (click)="openQuoteForm()">
              <h4 class="animated pulse infinite orange-text pl-4 pb-3 cursor-pointer">
                &nbsp; Get a Free Quote Now!
              </h4>
            </div>
          </div>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="row">
        <div class="col-12 d-md-none pb-3">
          <a routerLink="/products/sliding-security-doors">
            <app-img
              src="/assets/images/security/sliding/display-photos/Double-Stainless-Steel-Sliding-Security-Door.jpg"
              class="img-fluid" alt="Double Stainless Steel Sliding Security Door"></app-img>
          </a>
        </div>
        <div class="col-12 col-md-5">
          <h3 class="text-center text-left-md">Patio Doors</h3>
          <div class="container">
            <p class="p-2">
              A sliding security door replaces your existing patio screen door.
              These doors come pre-assembled and tamper resistant. Enjoy the
              cool night air while sleeping in peace, quiet and safety. These
              sliding security doors are also pet resistant! No more ripped
              screens from pets.
            </p>
            <div class="d-flex flex-column">
              <a class="btn blue my-2" mdbRippleRadius routerLink="/products/sliding-security-doors">
                Sliding Security Screen Doors
              </a>
            </div>
          </div>
        </div>
        <div class="col-7 d-none d-md-block pb-3">
          <a routerLink="/products/sliding-security-doors">
            <app-img
              src="/assets/images/security/sliding/display-photos/Double-Stainless-Steel-Sliding-Security-Door.jpg"
              class="img-fluid" alt="Double Stainless Steel Sliding Security Door"></app-img>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'security-windows'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />

      <div class="row">
        <!-- Gallery -->
        <div class="col-12 col-md-7 pb-3">
          <app-main-gallery [Images]="security_window_gallery"></app-main-gallery>
        </div>

        <div class="col-12 col-md-5">
          <h3 class="text-center text-left-md">Security Window Screens</h3>
          <div class="container">
            <p class="p-2">
              Security bars are an unattractive and potentially illegal way to
              secure your home from the outside. Here at Mike’s Mobile we offer
              an attractive and safe way to secure your home from the outside,
              while allowing your family to escape in case of a fire or other
              emergency.
            </p>
            <div class="d-flex flex-column">

              <a class="btn orange my-2" mdbRippleRadius routerLink="/products/security-windows">
                Security Windows
              </a>
            </div>
            <div class="flex-row my-4 text-center" (click)="openQuoteForm()">
              <h4 class="animated pulse infinite orange-text pl-4 pb-3 cursor-pointer">
                &nbsp; Get a Free Quote Now!
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'security-doors-and-windows'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Upgrade your style along with security with our security doors. Whether
        you are looking for a traditional security door for safety or our high
        quality aluminum security doors to protect both your view and your home,
        Mike’s Mobile Screens has plenty of options for you.
      </p>
      <div class="row">
        <div class="col-12 col-md-7 pb-3">
          <app-main-gallery [Images]="security_door_gallery"></app-main-gallery>
        </div>
        <div class="col-12 col-md-5">
          <h3 class="text-center text-left-md">Front Security Screen Doors</h3>
          <div class="container">
            <ul class="pb-3">
              <li id="l2">
                Our high quality security doors are built to protect your home
              </li>
              <li id="l2">
                These doors keep intruders out without compromising the
                appearance of your home
              </li>
              <li id="l2">
                With security doors whose designs say "upscale" instead of
                "security" you can't go wrong with a Mike's Mobile security
                door!
              </li>
            </ul>
            <div class="d-flex flex-column">
              <a class="btn blue my-2" mdbRippleRadius routerLink="/grid/titan-security-doors">
                Titan
              </a>
              <a class="btn blue my-2" mdbRippleRadius routerLink="/products/viewguard-security-doors">
                Viewguard
              </a>
              <a class="btn blue my-2" mdbRippleRadius routerLink="/products/tru-view-security-doors">
                Tru View
              </a>
            </div>
            <div class="flex-row my-4 text-center" (click)="openQuoteForm()">
              <h4 class="animated pulse infinite orange-text pl-4 pb-3 cursor-pointer">
                &nbsp; Get a Free Quote Now!
              </h4>
            </div>
          </div>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="row">
        <div class="col-12 d-md-none pb-3">
          <a routerLink="/products/sliding-security-doors">
            <app-img
              src="/assets/images/security/sliding/display-photos/Double-Stainless-Steel-Sliding-Security-Door.jpg"
              class="img-fluid" alt="Double Stainless Steel Sliding Security Door"></app-img>
          </a>
        </div>
        <div class="col-12 col-md-5">
          <h3 class="text-center text-left-md">Patio Doors</h3>
          <div class="container">
            <p class="p-2">
              A sliding security door replaces your existing patio screen door.
              These doors come pre-assembled and tamper resistant. Enjoy the
              cool night air while sleeping in peace, quiet and safety. These
              sliding security doors are also pet resistant! No more ripped
              screens from pets.
            </p>
            <div class="d-flex flex-column">
              <a class="btn blue my-2" mdbRippleRadius routerLink="/products/sliding-security-doors">
                Sliding Security Screen Doors
              </a>
            </div>
          </div>
        </div>
        <div class="col-7 d-none d-md-block pb-3">
          <a routerLink="/products/sliding-security-doors">
            <app-img
              src="/assets/images/security/sliding/display-photos/Double-Stainless-Steel-Sliding-Security-Door.jpg"
              class="img-fluid" alt="Double Stainless Steel Sliding Security Door"></app-img>
          </a>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="row">
        <div class="col-12 col-md-7 pb-3">
          <app-main-gallery [Images]="security_window_gallery"></app-main-gallery>
        </div>
        <div class="col-12 col-md-5">
          <h3 class="text-center text-left-md">Security Window Screens</h3>
          <div class="container">
            <p class="p-2">
              Security bars are an unattractive and potentially illegal way to
              secure your home from the outside. Here at Mike’s Mobile we offer
              an attractive and safe way to secure your home from the outside,
              while allowing your family to escape in case of a fire or other
              emergency.
            </p>
            <div class="d-flex flex-column">

              <a class="btn orange my-2" mdbRippleRadius routerLink="/products/security-windows">
                Security Windows
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="landing.slug === 'awnings'">
    <div class="container py-4">
      <h1 class="p-2" [innerHTML]="landing.title"></h1>
      <hr />
      <p class="p-2">
        Your home is one-of-a-kind, and your window and door awnings should
        compliment your style. Not only will your window and door awnings look
        amazing, but they will lower your energy bills, offer protection from
        the elements, and provide you with a more comfortable way to enjoy your
        outdoor space!
      </p>
      <div class="row">
        <div class="col">
          <app-img src="/assets/images/awnings/folding-arm-awning.jpg" class="img-fluid"></app-img>
        </div>
        <div class="col-md-3">
          <h4 class="p-2 text-center">Free Upgrade!</h4>
          <p class="p-2">
            For a limited time, you can upgrade your Retractable Patio Awning or
            Drop Roll Sunscreen to our motorized models with a free motor and
            wireless remote! A $689 value!
          </p>
          <h4 class="p-2 text-center">Awnings</h4>
          <div class="d-flex flex-column">
            <a class="btn blue my-2" mdbRippleRadius routerLink="/services/retractable-patio-awnings">
              Retractable Patio Awnings
            </a>
            <a class="btn blue my-2" mdbRippleRadius routerLink="/services/drop-roll-sunscreens">
              Drop Roll Sunscreens
            </a>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </ng-container>
</ng-container>
<app-quote-form></app-quote-form>