<mdb-carousel
  #mainCarousel
  isControls="true"
  class="carousel main-gallery slide carousel-fade"
  interval="0"
  type="carousel-thumbnails"
  animation="fade"
>
  <mdb-slide *ngFor="let image of Images">
    <div class="view w-100">
      <img
        type="image"
        class="m-auto"
        [alt]="image.alt"
        [src]="image.big"
        data-toggle="modal"
        data-target="#mainModal"
        (click)="show()"
        mdbWavesEffect
      />
    </div>
    <div *ngIf="image.title" class="carousel-caption mask rgba-black-strong">
      <p [innerHTML]="image.title"></p>
    </div>
  </mdb-slide>
</mdb-carousel>
<div
  mdbModal
  #mainContent="mdb-modal"
  class="modal fade"
  id="mainModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class=" modal-dialog gallery-dialog" role="img">
    <div class="modal-content gallery-content">
      <div class="gallery-header">
        <button
          type="button"
          class="btn btn-danger waves-light"
          data-dismiss="modal"
          (click)="mainContent.hide()"
          mdbWavesEffect
        >
          X
        </button>
      </div>
      <div class="text-center galleryImg">
        <img #mainModalImage *ngIf="name" [src]="name" />
      </div>
      <div class="gallery-footer">
        <button
          type="button"
          class="btn btn-primary waves-light"
          (click)="previous()"
          mdbWavesEffect
        >
          <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        </button>
        <button
          type="button"
          class="btn btn-primary waves-light"
          (click)="next()"
          mdbWavesEffect
        >
          <span aria-hidden="true" class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>
  </div>
</div>
