<div class="container">
  <section class="section pb-3 text-center">
    <h1 class="mt-md-4 pt-4 pb-md-4">Regions</h1>
    <p class="section-description px-4">
      We offer our services to all these areas!.
    </p>
    <div class="row text-center justify-content-center">
      <div *ngFor="let region of regions" class="col-6 col-lg-4 py-4">
        <h3>
          <a [routerLink]="['/regions/', region.slug]">
            <button class="btn btn-lg orange btn-rounded waves-light">
              {{ region.region }}
            </button>
          </a>
        </h3>
      </div>
    </div>
  </section>
</div>
