<app-action-buttons></app-action-buttons>

<div class="container my-4">
  <div class="author-box" *ngIf="post">
    <h1 class="h3-responsive text-center" [innerHTML]="post.title"></h1>
    <hr />
    <div class="row">
      <div class="col-12 col-sm-2">
        <app-img
          [src]="post.images[0]"
          class="img-fluid rounded z-depth-2"
          (click)="blogImgModal.show()"
        ></app-img>
        <div
          mdbModal
          #blogImgModal="mdb-modal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-labelledby="blogImgModal"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close pull-right"
                  aria-label="Close"
                  (click)="blogImgModal.hide()"
                >
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" [innerHTML]="post.title"></h4>
              </div>
              <div class="modal-body">
                <app-img
                  [src]="post.images[0]"
                  class="img-fluid w-100 z-depth-2"
                ></app-img>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-12 col-sm-10">
        <p>
          <strong [innerHTML]="post.user"></strong>
        </p>
        <div class="personal-sm">
          <a
            href="https://www.facebook.com/sharer/sharer.php?u={{
              fullURIEncoded
            }}"
            ><i class="fab fa-facebook-square"></i
          ></a>
          <a
            href="https://twitter.com/home?status=Check%20out%20%40mikesmobile_!"
            ><i class="fab fa-twitter-square"></i
          ></a>
          <a href="mailto:office@mikesmobile.com"
            ><i class="fas fa-envelope-open"></i
          ></a>
        </div>
        <ng-container *ngFor="let content of post.content">
          <p class="px-4 py-2" [innerHTML]="content"></p>
        </ng-container>
      </div>
    </div>
    <hr />
    <div class="container" *ngIf="hasGallery">
      <mdb-carousel
        [isControls]="true"
        class="carousel slide carousel-slide"
        type="carousel-thumbnails"
        animation="slide"
      >
        <ng-container *ngFor="let img of post.images">
          <mdb-slide>
            <app-img
              [src]="img"
              class="d-block m-auto"
              alt="Blog Post Picture"
            ></app-img>
          </mdb-slide>
        </ng-container>
      </mdb-carousel>
    </div>
  </div>
</div>
