<app-action-buttons></app-action-buttons>
<div class="container my-4 ">
  <h2 class="mt-4">FIXED CONTRACT AMOUNT</h2>
  <hr class="mt-4" />
  <h3 class="mt-4">ARTICLE 1. CONTRACT DOCUMENTS</h3>
  1.1. The contract documents consist of this agreement, general conditions,
  construction documents, specifications, allowances, finish schedules,
  construction draw schedule, information disclosure statement, all addenda
  issued prior to execution of this agreement and all change orders or
  modifications issued and agreed to by both parties. All documents noted herein
  shall be provided to the Contractor by the Owner. These contract documents
  represent the entire agreement of both parties and supersede any prior oral or
  written agreement.
  <h3 class="mt-4">ARTICLE 2. SCOPE OF WORK</h3>
  2.1. The Owner agrees to purchase and the Contractor agrees to construct the
  structure mentioned in the invoice and fixtures attached thereto in according
  to the construction documents, allowances, finish schedules, all addenda,
  change orders, modifications and specifications set forth in the specification
  booklet.
  <h3 class="mt-4">ARTICLE 3. TIME OF COMPLETION</h3>
  3.1. The approximate commencement date of the project shall be:
  <ul>
    <li>Window Screens: 1-2 weeks</li>
    <li>Security Doors: 4-6 weeks</li>
    <li>Screen Doors: 2-4 weeks</li>
    <li>Home Repair: 2-4 weeks</li>
    <li>Awnings: 4-6 weeks</li>
  </ul>
  3.2. However any change orders and/or unusual weather might delay or otherwise
  affect the completion date. Owner-related delays, scheduling conflicts, acts
  of God and manufacturer delays are not taken into account in the above
  schedules.
  <h3 class="mt-4">ARTICLE 4. THE CONTRACT PRICE</h3>
  4.1. The purchase price of the project shall be the price as listed in the
  invoice, which are subject to additions and deductions pursuant to authorized
  change orders and allowances. Closing costs shall be paid by the Owner. 4.2.
  The Owner and the Contractor acknowledge that the Owner will pay the sum
  agreed upon in the invoice (usually 50% down for custom orders of any kind),
  upon signing of this contract and before construction begins as a deposit and
  part of the purchase price of the project.
  <h3 class="mt-4">ARTICLE 5. PROGRESS PAYMENTS</h3>
  5.1. The Owner will make payments to the contractor pursuant to the attached
  construction draw schedule as work required by said schedule is satisfactorily
  completed. Owner shall make draw payments to contractor within
  <strong>3</strong> days after request by contractor. Should the owner fail to
  make payment, contractor may charge a penalty of <strong>10%</strong> annually
  upon the unpaid amount until paid. 5.2. If payment is not received by the
  Contractor within <strong>3</strong> days after delivery of payment demand for
  work satisfactorily completed, contractor shall have the right to stop work or
  terminate the contract at his option. Termination by Contractor under the
  provisions of this paragraph shall not relieve the Owner of the obligations of
  payments to Contractor for that part of the work performed prior to such
  termination. Termination by Owner under the provisions of this paragraph shall
  not relieve the Owner of the obligations of payments to Contractor for that
  part of the work performed prior to such termination.
  <h3 class="mt-4">ARTICLE 6. DUTIES OF THE CONTRACTOR</h3>
  6.1. All work shall be in accordance to the provisions of the plans and
  specifications. All systems shall be in good working order. 6.2. All work
  shall be completed in a workman like manner, and shall comply with all
  applicable national, state and local building codes and laws. 6.3. All work
  shall be performed by licensed individuals to perform their said work, as
  outlined by law. 6.4. Contractor shall remove all construction debris and
  leave the project in a broom clean condition. 6.5. Upon satisfactory payment
  being made for any portion of the work performed, Contractor shall furnish a
  full and unconditional release from any claim or mechanics’ lien for that
  portion of the work for which payment has been made.
  <h3 class="mt-4">ARTICLE 7. OWNER</h3>
  7.1. The Owner shall communicate with subcontractors only through the
  Contractor. 7.2. The Owner will not assume any liability or responsibility,
  nor have control over or charge of construction means, methods, techniques,
  sequences, procedures, or for safety precautions and programs in connection
  with the project, since these are solely the Contractor’s responsibility.
  <h3 class="mt-4">ARTICLE 8. CHANGE ORDERS AND FINISH SCHEDULES</h3>
  8.1. A Change Order is any change to the original plans and/or specifications.
  All change orders need to be agreed upon in writing, including cost,
  additional time considerations, approximate dates when the work will begin and
  be completed, a legal description of the location where the work will be done
  and agreed by both parties. 50% of the cost of each change order will be paid
  prior to the change, with the final 50% paid upon completion of the change
  order. A 12% fee shall be added to all change orders and overages in excess of
  initial allowances. Additional time needed to complete change orders shall be
  taken into consideration in the project completion date. 8.2. Any delays or
  changes in finish selection schedules will delay the projected completion
  date.
  <h3 class="mt-4">ARTICLE 9. INSURANCE</h3>
  9.1. The Owner will keep in force a Builder’s Risk Insurance Policy on the
  said property to protect both owner’s and contractor’s interests until
  construction is completed. 9.2. The Owner will purchase and maintain property
  insurance to the full and insurable value of the project, in case of a fire,
  vandalism, malicious mischief or other instances that may occur. 9.3. The
  Contractor shall purchase and maintain needed Workman’s Compensation and
  Liability insurance coverage as required by law and deemed necessary for his
  own protection.
  <h3 class="mt-4">ARTICLE 10. GENERAL PROVISIONS</h3>
  10.1. If conditions are encountered at the construction site which are
  subsurface or otherwise concealed physical conditions or unknown physical
  conditions of an unusual nature, which differ naturally from those ordinarily
  found to exist and generally recognized as inherent in construction
  activities, the Owner will promptly investigate such conditions and, if they
  differ materially and cause an increase or decrease in the Contractor’s cost
  of, and/or time required for, performance of any part of the work, will
  negotiate with the Contractor an equitable adjustment in the contract sum,
  contract time or both.
  <h3 class="mt-4">ARTICLE 11. HAZARDOUS MATERIALS, WASTE AND ASBESTOS</h3>
  11.1. Both parties agree that dealing with hazardous materials, waste or
  asbestos requires specialized training, processes, precautions and licenses.
  Therefore, unless the scope of this agreement includes the specific handling,
  disturbance, removal or transportation of hazardous materials, waste or
  asbestos, upon discovery of such hazardous materials the Contractor shall
  notify the Owner immediately and allow the Owner/Contractor to contract with a
  properly licensed and qualified hazardous material contractor. Any such work
  shall be treated as a Change Order resulting in additional costs and time
  considerations.
  <h3 class="mt-4">ARTICLE 12. ARBITRATION OF DISPUTES</h3>
  12.1. Any controversy or claim arising out of or relating to this contract, or
  the breach thereof, shall be settled by arbitration administered by the
  American Arbitration Association under its Construction Industry Arbitration
  Rules, and judgment on the award rendered by the arbitrator(s) may be entered
  in any court having jurisdiction thereof.
  <h3 class="mt-4">ARTICLE 13. WARRANTY</h3>
  13.1. The completion of the project will serve as the start of any warranties.
  The owner will use a paid invoice to serve as the instrument warrantying the
  current project for 1,4 or 10 years against defects in workmanship or
  materials utilized. The manufacturer’s warranty will prevail where applicable.
  No legal action of any kind relating to the project, project performance or
  this contract shall be initiated by either party against the other party after
  10 years beyond the completion of the project or cessation of work. For more
  information on 1, 4 and 10 year Contractor warranty information visit
  http://www.cslb.ca.gov/ or visit www.mikesmobile.com for specific warranty
  information. Steel Security Doors are handmade and by nature may exhibit minor
  inconsistencies. Rust issues are not covered by any warranty. Swelling of door
  frame due to seasonal changes caused by weather are not covered. Warranties do
  not cover any damage by a human or animal, intentional or unintentional,
  vandalism, changes in weather or any other outside circumstance to the
  workmanship of the door and installation.
  <h3 class="mt-4">ARTICLE 14. TERMINATION OF THE CONTRACT</h3>
  14.1. Should the Owner or Contractor fail to carry out this contract, with all
  of its provisions, the following options and stipulations shall apply:
  <p style="padding-left: 30px;">
    14.1.1. If the Owner or the Contractor shall default on the contract, the
    non-defaulting party may declare the contract is in default and proceed
    against the defaulting party for the recovery of all damages incurred as a
    result of said breach of contract, including a reasonable attorney’s fee. In
    the case of a defaulting Owner, the Earnest money herein mentioned shall be
    applied to the legally ascertained damages.
  </p>
  <p style="padding-left: 30px;">
    14.1.2. In the event of a default by the Owner or Contractor, the
    non-defaulting party may state his intention to comply with the contract and
    proceed for specific performance.
  </p>
  <p style="padding-left: 30px;">
    14.1.3. In the case of a defaulting Owner, the Contractor may accept, at his
    option the earnest money as shown herein as liquidated damages, should
    earnest money not cover the expenses to date, the Contractor may make claim
    to the Owner for all work executed and for proven loss with respect to
    equipment, materials, tools, construction equipment and machinery, including
    reasonable overhead, profit and damages applicable to the property less the
    earnest money.
  </p>

  <h3 class="mt-4">ARTICLE 15. ATTORNEY FEES</h3>
  15.1. In the event of any arbitration or litigation relating to the project,
  project performance or this contract, the prevailing party shall be entitled
  to reasonable attorney fees, costs and expenses.
  <h3 class="mt-4">ARTICLE 16. ACCEPTANCE AND OCCUPANCY</h3>
  16.1. Upon completion, the project shall be inspected by the Owner and the
  Contractor, and any repairs necessary to comply with the contract documents
  shall be made by the Contractor. 16.2. Upon completion of the project by the
  contractor, the owner will pay the balance of the invoice due, in total.
  Failing to provide full payment at time of completion can result in a penalty,
  at the contractor's discretion, of <strong>10%</strong> of invoice total or
  <strong>$100</strong>, whichever is lesser amount. 16.3. The Owner has 3 days
  after project completion to inspect the work/ products of the Contractor and
  notify the Contractor of any defects in workmanship or products. After 3 days
  any issues will abide by warranty guidelines.
</div>
