<app-action-buttons></app-action-buttons>
<div class="container my-4 ">
  <h1 class="mt-4 text-center">Mike's Mobile, Inc. - Fixed Contract</h1>
  <hr class="mt-4" />
  <h3 class="mt-4">ARTICLE 1. CONTRACT DOCUMENTS</h3>
  <p><span class="font-weight-bold">1.1.</span> The contract documents consist of this agreement, general conditions, construction documents,
    specifications, allowances, finish schedules, construction draw schedule, information disclosure
    statement, all addenda issued prior to execution of this agreement and all change orders or
    modifications issued and agreed to by both parties. All documents noted herein shall be provided to the
    Contractor by the Owner. These contract documents represent the entire agreement of both parties and
    supersede any prior oral or written agreement.</p>

  <h3 class="mt-4">ARTICLE 2. SCOPE OF WORK</h3>
  <p><span class="font-weight-bold">2.1.</span> The Owner agrees to purchase and the Contractor agrees to construct the structure and/or service
    mentioned in the estimate and/or invoice and fixtures attached thereto in accordance with the
    construction documents, allowances, finish schedules, all addenda, change orders, modifications and
    specifications set forth in the estimate and/or invoice details.</p>

  <h3 class="mt-4">ARTICLE 3. TIME OF COMPLETION</h3>
  <p><span class="font-weight-bold">3.1.</span> Commencement dates after a signed Estimate depend on availability of raw materials and
    manufacturer completion and delivery dates. The approximate commencement date of the project shall
    be:</p>
  <ul>
    <li>Window Screens: 1-4 weeks</li>
    <li>Security Screen Doors: 4-16 weeks</li>
    <li>Screen Doors: 2-16 weeks</li>
    <li>Home Repair: 2-16 weeks</li>
    <li>Fireplace Inserts: 2-20 weeks</li>
  </ul>
  <p><span class="font-weight-bold">3.2.</span> Raw material shortages, and/or manufacturer delays, and/or change orders, and/or unusual
    weather, and/or acts of God, and/or Owner delays may delay or otherwise affect the completion date.
    These types of delays are not taken into account in the above estimated schedules.</p>

  <h3 class="mt-4">ARTICLE 4. THE CONTRACT PRICE</h3>
  <p><span class="font-weight-bold">4.1.</span> The purchase price of the project shall be the price as listed in the invoice, which are subject to
    additions and deductions pursuant to authorized change orders and allowances.</p>
  <p><span class="font-weight-bold">4.2.</span> The Owner and the Contractor acknowledge that the Owner will pay the sum agreed upon in the
    invoice (usually 10% down or 50% down for custom orders of any kind), upon signing the Estimate or
    Acknowledgement for Work and before construction begins as a deposit and part of the purchase price
    of the project.</p>
  <p><span class="font-weight-bold">4.3.</span> If financing is secured to pay for the entire Estimate and/or Invoice, a down payment is not required.</p>
  <p><span class="font-weight-bold">4.4.</span> If financing is secured to pay for the entire balance or the remaining balance, funds will need to be
    submitted by the Owner at the time of job completion. Should the Owner fail to submit the financing
    payment upon project completion, the Contractor may charge a penalty of 10% annually upon the
    unpaid amount until paid.</p>

  <h3 class="mt-4">ARTICLE 5. PROGRESS PAYMENTS</h3>
  <p><span class="font-weight-bold">5.1.</span> In the event of progress payments, the Owner will make payments to the contractor pursuant to the
    written construction draw schedule as work required by said schedule is satisfactorily completed. Owner
    shall make draw payments to the contractor within <span class="font-weight-bold">3 days</span> after request by the
    contractor. Should the owner fail to make payment, the contractor may charge a penalty of 10% annually upon the unpaid
    amount until paid.</p>
  <p><span class="font-weight-bold">5.2.</span> If payment is not received by the Contractor within 3 days after delivery of payment demand for
    work satisfactorily completed, contractor shall have the right to stop work or terminate the contract at
    his option. Termination by Contractor under the provisions of this paragraph shall not relieve the Owner
    of the obligations of payments to Contractor for that part of the work performed prior to such
    termination. Termination by Owner under the provisions of this paragraph shall not relieve the Owner of
    the obligations of payments to Contractor for that part of the work performed prior to such termination.</p>


  <h3 class="mt-4">ARTICLE 6. DUTIES OF THE CONTRACTOR</h3>
  <p><span class="font-weight-bold">6.1.</span> All work shall be in accordance with the provisions of the plans and specifications. All systems shall
    be in good working order.</p>
  <p><span class="font-weight-bold">6.2.</span> All work shall be completed in a workmanlike manner, and shall comply with all applicable national,
    state and local building codes and laws.</p>
  <p><span class="font-weight-bold">6.3.</span> All work shall be performed by licensed individuals to perform their said work, as outlined by law.</p>
  <p><span class="font-weight-bold">6.4.</span> Contractor shall remove all construction debris and leave the project in a broom clean condition.</p>
  <p><span class="font-weight-bold">6.5.</span> Upon satisfactory payment being made for any portion of the work performed, Contractor shall
    furnish a full and unconditional release from any claim or mechanics’ lien for that portion of the work for
    which payment has been made.</p>


  <h3 class="mt-4">ARTICLE 7. OWNER</h3>
  <p><span class="font-weight-bold">7.1.</span> The Owner shall communicate with subcontractors only through the Contractor.</p>
  <p><span class="font-weight-bold">7.2.</span> The Owner will not assume any liability or responsibility, nor have control over or charge of
    construction means, methods, techniques, sequences, procedures, or for safety precautions and
    programs in connection with the project, since these are solely the Contractor’s responsibility.</p>
  <p><span class="font-weight-bold">7.3.</span> The Owner shall pay the remaining balance at the time of job completion.</p>

  <h3 class="mt-4">ARTICLE 8. CHANGE ORDERS AND FINISH SCHEDULES</h3>
  <p><span class="font-weight-bold">8.1.</span> A Change Order is any change to the original plans and/or specifications. All change orders need to
    be agreed upon in writing, including cost, additional time considerations, approximate dates when the
    work will begin and be completed, a legal description of the location where the work will be done and
    agreed by both parties. 50% of the cost of each change order will be paid prior to the change, with the
    final 50% paid upon completion of the change order. A 12% fee shall be added to all change orders and
    overages in excess of initial allowances. Additional time needed to complete change orders shall be
    taken into consideration in the project completion date.</p>
  <p><span class="font-weight-bold">8.2.</span> Any delays or changes in finish selection schedules will delay the projected completion date.</p>

  <h3 class="mt-4">ARTICLE 9. INSURANCE</h3>
  <p><span class="font-weight-bold">9.1.</span> The Contractor shall purchase and maintain needed Workman’s Compensation, Vehicle and Liability
    insurance coverage as required by law and deemed necessary for his own protection.
  </p>
  <h3 class="mt-4">ARTICLE 10. GENERAL PROVISIONS</h3>
  <p><span class="font-weight-bold">10.1.</span> If conditions are encountered at the construction site which are subsurface or otherwise concealed
    physical conditions or unknown physical conditions of an unusual nature, which differ naturally from
    Page 2 of 5
    those ordinarily found to exist and generally recognized as inherent in construction activities, the Owner
    will promptly investigate such conditions and, if they differ materially and cause an increase or decrease
    in the Contractor’s cost of, and/or time required for, performance of any part of the work, will negotiate
    with the Contractor an equitable adjustment in the contract sum, contract time or both.</p>
  <h3 class="mt-4">ARTICLE 11. HAZARDOUS MATERIALS, WASTE AND ASBESTOS</h3>
  <p><span class="font-weight-bold">11.1.</span> Both parties agree that dealing with hazardous materials, waste or asbestos requires specialized
    training, processes, precautions and licenses. Therefore, unless the scope of this agreement includes the
    specific handling, disturbance, removal or transportation of hazardous materials, waste or asbestos,
    upon discovery of such hazardous materials the Contractor shall notify the Owner immediately and allow
    the Owner/Contractor to contract with a properly licensed and qualified hazardous material contractor.
    Any such work shall be treated as a Change Order resulting in additional costs and time considerations.</p>
  <h3 class="mt-4">ARTICLE 12. ARBITRATION OF DISPUTES</h3>
  <p><span class="font-weight-bold">12.1.</span> Any controversy among parties to the construction of the project arising from or relating to the
    performance or interpretation of this Contract or any subcontract or sub-subcontract is subject to
    arbitration. Owner, Contractor, and all subcontractors, sub-subcontractors, material suppliers, sureties,
    and other parties involved with the construction of the project are bound, each to the other, by this
    arbitration clause, provided that the party has signed the Estimate and/or Invoice that refers to or
    incorporates this Contract by reference, or signs any other agreement to be bound by this arbitration
    clause.</p>
  <p><span class="font-weight-bold">12.2.</span> On the demand of the arbitrator or any party to an arbitration initiated under the arbitration
    provisions of this contract, owner, contractor, and any subcontractor, sub-subcontractor, surety, or other
    party bound by this arbitration provision agrees to join in, become a party to, and be bound by such
    arbitration.</p>
  <p><span class="font-weight-bold">12.3.</span> Arbitration shall be conducted under the California Arbitration law commencing with Code of Civil
    Procedure section 1281 et seq. in effect as of the date of the signed Estimate and/or Invoice Agreement,
    and judgment may be entered on the arbitration award.</p>
  <p><span class="font-weight-bold">12.4.</span> If any party refuses or neglects to appear at or participate in arbitration after reasonable notice,
    the arbitrator may decide the controversy in accordance with whatever evidence is presented by the
    party or parties who do participate. The arbitrator may award any remedy that is just and equitable in
    the arbitrator’s opinion. The arbitrator will award to the prevailing party or parties such sums as are
    proper to compensate for the time, expense, and trouble of arbitration, including arbitration fees and
    attorney fees. The arbitrator will retain jurisdiction of a controversy even if a party or parties to the
    dispute will not or cannot be joined in the arbitration proceedings.</p>

  <h3 class="mt-4">ARTICLE 13. CORRECTIVE OR REPAIR WORK</h3>
  <p><span class="font-weight-bold">13.1.</span> If corrective or repair work of a minor nature remains undone by Contractor during or after the
    Project is completed, Contractor shall perform the work expeditiously and Owner shall not withhold any
    payment pending completion of such work. If major items of corrective or repair work remain undone
    during or after the Project is complete, the cost of which aggregates more than one (1) percent of the
    Contract Price, then Owner, pending completion of the work, may withhold from Contractor not more
    than 150% of the good faith amount (down payment) sufficient to correct or repair such work.
  </p>
  <h3 class="mt-4">ARTICLE 14. WARRANTY</h3>
  <p><span class="font-weight-bold">14.1.</span> The completion of the project will serve as the start of any warranties. The owner will use a paid
    invoice to serve as the instrument warranting the current project for 30 days, 1 year, 4 years, 10 years, or
    limited lifetime warranty against defects in workmanship or materials utilized. Warranties vary based on
    the product or service provided. The manufacturer’s warranty will prevail where applicable. No legal
    action of any kind relating to the project, project performance or this contract shall be initiated by either
    party against the other party after the warranty period expires beyond the completion of the project or
    cessation of work. For more information on Contractor warranty information visit
    http://www.cslb.ca.gov/ or visit www.mikesmobile.com for specific warranty information. Swelling of
    door frame due to seasonal changes caused by weather are not covered. Warranties do not cover any
    damage by a human or animal, intentional or unintentional, vandalism, changes in weather or any other
    outside circumstance to the workmanship of the door and installation.
  </p>
  <p>
    <span class="font-weight-bold">14.2.</span> Warranty appointments are completed as a one-time only basis for each type of issue covered
    under the warranty. Warranty appointments that are covered under the manufacturer’s warranty will
    cover certain parts, but the labor for replacement or repair is not covered unless the warranty lies within
    the 30 Day or 1 Year Workmanship Warranty.
  </p>

  <h3 class="mt-4">ARTICLE 15. TERMINATION OF THE CONTRACT</h3>
  <p><span class="font-weight-bold">15.1.</span> Should the Owner or Contractor fail to carry out this contract, with all of its provisions, the
    following options and stipulations shall apply:</p>
  <ul>
    <li>

      <span class="font-weight-bold">15.1.1.</span> If the Owner or the Contractor shall default on the contract, the non-defaulting party may declare
      the contract is in default and proceed against the defaulting party for the recovery of all damages
      incurred as a result of said breach of contract, including a reasonable attorney’s fee. In the case of a
      defaulting Owner, the Earnest money herein mentioned shall be applied to the legally ascertained
      damages.
    </li>
    <li>
      <span class="font-weight-bold">15.1.2.</span> In the event of a default by the Owner or Contractor, the non-defaulting party may state his
      intention to comply with the contract and proceed for specific performance.
    </li>
    <li>
      <span class="font-weight-bold">15.1.3.</span> In the case of a defaulting Owner, the Contractor may accept, at his option the earnest money as
      shown herein as liquidated damages, should earnest money not cover the expenses to date, the
      Contractor may make claim to the Owner for all work executed and for proven loss with respect to
      equipment, materials, tools, construction equipment and machinery, including reasonable overhead,
      profit and damages applicable to the property less the earnest money.
    </li>
  </ul>

  <p><span class="font-weight-bold">15.2.</span> The Owner may cancel this transaction, without any penalty or obligation, within three business
    days from the date of the signed estimate. If the Owner cancels, any property traded in, any payments
    made by the Owner under the contract or sale, and any negotiated instrument executed by the Owner
    will be returned within 10 days following receipt by the Contractor of the Owner's cancellation notice,
    and any security interest arising out of the transaction will be cancelled. If the transaction is cancelled,
    the Owner must make available to the Contractor at their residence, in substantially as good condition as
    when received, any goods delivered to the Owner under this contract or sale, or the Owner may, if they
    wish, comply with the instructions of the Contractor regarding the return shipment of the goods at the
    Contractor's expense and risk.</p>
  <h3 class="mt-4">ARTICLE 16. INDEMNITY</h3>
  <p>
    <span class="font-weight-bold">16.1.</span> Contractor will defend, indemnify and hold Owner harmless from all claims, demands, or liability
    arising from or encountered in connection with this contract or the prosecution of work under it,
    whether such claims, demands, or liability are caused by Contractor (including its agents, employees, or
    subcontractors employed on the Project), or products installed on the Project by Contractor, excepting
    such injury or harm as may be caused by Owner’s or other trade contractors’ fault or negligence.
    Likewise, Owner will defend, indemnify and hold Contractor harmless from all claims, demands, or
    liability arising from or encountered in connection with this Contract or the prosecution of work under it
    that are caused by Owner (including its agents, employees, contractors, subcontractors and suppliers), or
    other products installed on the Project by Owner and its contractors and suppliers
  </p>
  <h3 class="mt-4">ARTICLE 17. ATTORNEY FEES</h3>
  <p><span class="font-weight-bold">17.1.</span> In the event of any arbitration or litigation relating to the project, project performance or this
    contract, the prevailing party shall be entitled to reasonable attorney fees, costs and expenses</p>
  <h3 class="mt-4">ARTICLE 18. ACCEPTANCE AND OCCUPANCY</h3>
  <p><span class="font-weight-bold">18.1.</span> Upon completion, the project shall be inspected by the Owner and the Contractor, and any repairs
  necessary to comply with the contract documents shall be made by the Contractor.</p>
  <p><span class="font-weight-bold">18.2.</span> Upon completion of the project by the contractor, the owner will pay the balance of the invoice
  due, in total. Failing to provide full payment at time of completion can result in a penalty, at the
  contractor's discretion, of 10% of invoice total or $100, whichever is a lesser amount.</p>
  <p><span class="font-weight-bold">18.3.</span> Owner is responsible for obtaining all financing that is or may be necessary to fund the work
  specified in the Estimate and/or Invoice Agreement. Owner represents that Owner has sufficient funds
  or has arranged sufficient financing to comply with this Agreement. Owner shall, upon request by
  Contractor, furnish reasonable evidence that Owner has the ability to pay the Contract Price plus any
  change orders. Failure by Owner to furnish that evidence within five (5) business days of Contractor’s
  demand shall be a material breach of this Agreement.</p>
  <p><span class="font-weight-bold">18.4.</span> The Owner has 3 days after project completion to inspect the work/ products of the Contractor and
  notify the Contractor of any defects in workmanship or products. After 3 days any issues will abide by
  warranty guidelines.</p>

  <h3 class="mt-4">ARTICLE 19. CONTRACTOR'S LICENSE NOTICE</h3>
    <p><span class="font-weight-bold">9.1.</span> Contractors are required by law to be licensed and regulated by the Contractors’ State License
      Board, which has jurisdiction to investigate complaints against contractors if a complaint regarding a
      patent act or omission is filed within four years of the date of the alleged violation. A complaint
      regarding a latent act or omission pertaining to structural defects must be filed within 10 years of the
      date of the alleged violation. Any questions concerning a contractor may be referred to the Registrar,
      Contractors’ State License Board, P.O. Box 26000, Sacramento, CA 95826.
      </p>


</div>