<nav>
  <mdb-navbar
    SideClass="navbar navbar-dark light-blue scrolling-navbar navbar-expand"
    id="backToTop"
  >
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item px-2 item-sm">
          <a
            class="text-white fs"
            href="mailto:office@mikesmobile.com"
            role="link"
            ><i class="fa fa-envelope"></i> office@mikesmobile.com</a
          >
        </li>
        <li class="nav-item px-2 item-sm">
          <a class="text-white fs" href="tel:+18009929938" role="link"
            ><i class="fa fa-phone"></i> 1-800-992-9938</a
          >
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <mdb-navbar
    SideClass="navbar navbar-light scrolling-navbar white navbar-expand-lg"
  >
    <logo>
      <a routerLink="/"
        ><app-img
          src="/assets/images/main/logo-black.jpg"
          alt="Mike’s Mobile Screen & Chimney Service"
          class="logoImg"
        ></app-img
      ></a>
      <p class="lic">Lic. 939154</p>
    </logo>
    <links>
      <ul class="navbar-nav ml-auto">
        <div class="m-2 desktop-disappear"></div>
        <li class="nav-item px-1">
          <a
            class="nav-link waves-dark blue-text nav-text"
            routerLink="/"
            id="navBtn"
            mdbRippleRadius
          >
            <i class="fa fa-home pr-3 desktop-disappear" aria-hidden="true"></i
            >Home
          </a>
        </li>
        <li class="nav-item px-1">
          <a
            dropdownToggle
            type="button"
            class="nav-link waves-dark blue-text nav-text display-desktop no-pointer"
            (mouseenter)="openDropdown()"
            (mouseleave)="closeDropdown()"
            id="navBtn"
            mdbRippleRadius
            >Services</a
          >
          <a
            dropdownToggle
            type="button"
            class="nav-link waves-dark blue-text nav-text display-mobile"
            (click)="toggleDropdownMobile()"
            mdbRippleRadius
          >
            <i
              class="fa fa-wrench pr-3 desktop-disappear"
              aria-hidden="true"
            ></i
            >Services<i
              class="fa fa-angle-right float-right mt-1 desktop-disappear"
              aria-hidden="true"
            ></i>
          </a>
        </li>
        <div class="btn-group" dropdown>
          <div
            class="p-3 dropdown-menu megamenu"
            id="dropdown"
            (mouseenter)="openDropdown()"
            (mouseleave)="closeDropdown()"
          >
            <div class="container">
              <div class="row">
                <div class="col">
                  <a
                    class="dropdown-item waves-dark pb-0 mb-0 orange-text"
                    mdbRippleRadius
                    routerLink="/about/door-and-window-screens"
                    ><h5>SCREENS</h5></a
                  >
                  <div class="divider dropdown-divider pt-0 mt-0"></div>
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/about/window-screens"
                    ><h6><strong>Window Screens</strong></h6></a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/services/window-screen-repair"
                    >Screen Repair</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/products/solar-screens"
                    >Solar Screens</a
                  >

                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/about/door-screens"
                    ><h6><strong>Screen Doors</strong></h6></a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/products/retractable-screen-doors"
                    >Retractable Screen Doors</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/products/sliding-screen-doors"
                    >Sliding Screen Doors</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/grid/swinging-screen-doors"
                    >Swinging Screen Door</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/products/pet-doors"
                    >Pet Doors</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/products/lifestyle-garage-screen"
                    >Garage Screen Door</a
                  >
                </div>
                <div class="col">
                  <a
                    class="dropdown-item waves-dark pb-0 mb-0 orange-text"
                    mdbRippleRadius
                    routerLink="/about/chimney-services"
                    ><h5>CHIMNEY</h5></a
                  >
                  <div class="divider dropdown-divider pt-0 mt-0"></div>
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/services/chimney-inspections"
                    >Inspections</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/services/chimney-cleaning"
                    >Cleanings</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/grid/chimney-repairs"
                    >Repair</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/grid/chimney-accessories"
                    >Accessories</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/grid/masonry-services"
                    >Masonry Services</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/services/dryer-vent-cleaning"
                    >Dryer Vent Cleaning</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/chimney-faq"
                    >Chimney FAQ's</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/chimney-glossary"
                    >Chimney Glossary</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/fireplace-manuals"
                    >Fireplace Manuals</a
                  >
                </div>
                <div class="col">
                  <a
                    class="dropdown-item waves-dark pb-0 mb-0 orange-text"
                    mdbRippleRadius
                    routerLink="/about/security-doors-and-windows"
                    ><h5>SECURITY</h5></a
                  >
                  <div class="divider dropdown-divider pt-0 mt-0"></div>

                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/about/security-doors"
                    ><h6><strong>Security Screen Doors</strong></h6></a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/grid/titan-security-doors"
                    >Titan Security Screen Doors</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/products/viewguard-security-doors"
                    >Viewguard Security Door</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/products/tru-view-security-doors"
                    >TRU-View Security Door</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/products/sliding-security-doors"
                    >Sliding Security Door</a
                  >

                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/about/security-windows"
                    ><h6><strong>Security Window Screens</strong></h6></a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/products/vista-quick-escape"
                    >Vista Quick Escape</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/products/vista-fixed"
                    >Vista Fixed</a
                  >
                </div>
                <div class="col">
                  <a
                    class="dropdown-item waves-dark pb-0 mb-0 orange-text"
                    mdbRippleRadius
                    routerLink="/about/awnings"
                    ><h5>AWNINGS</h5></a
                  >
                  <div class="divider dropdown-divider pt-0 mt-0"></div>
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/services/retractable-patio-awnings"
                    >Retractable Patio Awnings</a
                  >
                  <a
                    class="dropdown-item waves-dark blue-text"
                    mdbRippleRadius
                    routerLink="/services/drop-roll-sunscreens"
                    >Drop Roll Sunscreens</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-group" dropdown>
          <div
            class="p-3 dropdown-menu mobile-submenu"
            id="DropdownMobile"
            (click)="toggleDropdownMobile()"
          >
            <a
              class="dropdown-item waves-dark pb-0 mb-0"
              mdbRippleRadius
              routerLink="/about/door-and-window-screens"
              ><h6>SCREENS</h6></a
            >
            <div class="divider dropdown-divider pt-0 mt-0"></div>

            <a
              class="dropdown-item waves-dark pb-0 mb-0"
              mdbRippleRadius
              routerLink="/about/chimney-services"
              ><h6>CHIMNEY</h6></a
            >
            <div class="divider dropdown-divider pt-0 mt-0"></div>

            <a
              class="dropdown-item waves-dark pb-0 mb-0"
              mdbRippleRadius
              routerLink="/about/security-doors-and-windows"
              ><h6>SECURITY</h6></a
            >
            <div class="divider dropdown-divider pt-0 mt-0"></div>

            <a
              class="dropdown-item waves-dark pb-0 mb-0"
              mdbRippleRadius
              routerLink="/about/awnings"
              ><h6>AWNINGS</h6></a
            >
          </div>
        </div>

        <li class="nav-item px-1">
          <a
            class="nav-link waves-dark blue-text nav-text"
            routerLink="/about"
            mdbRippleRadius
          >
            <i class="fa fa-users pr-3 desktop-disappear" aria-hidden="true"></i
            >About
          </a>
        </li>
        <li class="nav-item px-1">
          <a
            class="nav-link waves-dark blue-text nav-text"
            routerLink="/contact"
            mdbRippleRadius
          >
            <i
              class="fa fa-envelope pr-3 desktop-disappear"
              aria-hidden="true"
            ></i
            >Contact
          </a>
        </li>
        <li class="nav-item px-1">
          <a
            class="nav-link waves-dark blue-text nav-text"
            routerLink="/blog"
            mdbRippleRadius
          >
            <i
              class="fa fa-comments pr-3 desktop-disappear"
              aria-hidden="true"
            ></i
            >Blog
          </a>
        </li>
        <li class="nav-item px-1">
          <a
            class="nav-link waves-dark blue-text nav-text"
            routerLink="/faq"
            mdbRippleRadius
          >
            <i
              class="fa fa-info-circle pr-3 desktop-disappear"
              aria-hidden="true"
            ></i
            >FAQs
          </a>
        </li>
        <div class="m-1 desktop-disappear"></div>
      </ul>
      <ul class="navbar-nav quote text-center" (click)="openQuoteForm()">
        <a>FREE <span class="quote-text">Quote</span></a>
      </ul>
    </links>
  </mdb-navbar>
</nav>
<app-quote-form></app-quote-form>
