@import '../../sass/modules/_mixins.sass'
@import '../../sass/modules/_variables.sass'


//background color options for nav bar: grey #f4f4f4
// second option: white #ffffff


nav
  background-color: #f4f4f4 !important
  box-shadow: none !important
  @include breakpoint(md)
  .megamenu
    position: relative
    z-index: 9999 !important
    min-width: 960px
    
    left: -700px
    @include breakpoint(md)
      left: -625px
    @include breakpoint(lg)
      left: -800px
      top: 45px !important
    h5
      padding: 0px 0px
    a
      padding: 0px

listBody
  background-color: #f4f4f4 !important


@media only screen and (min-width: 768px)
  .nav-text
    font-size: 30px !important
    font-weight: 200 !important
  

h5
  font-weight: 900
h6
  color: $mmblue
  font-weight: 900
  @include breakpoint(md)
    color: $orange

.mobileDrop
  font-weight: 600 !important
  font-size: 12px !important
  z-index: 2 !important
  overflow: visible !important



.nav-text
  font-weight: 600
  font-size: 1rem 
  @breakpoint(md)
    font-weight: 200
    font-size: 30px
    

li.nav-item .nav-link:hover
  color: white !important
  border-radius: 3px
  background: $mmblue !important

.dropdown-menu
  border-radius: 1px
  a:hover
    color: $orange !important

.dropdown-item:active
  background-color: $mmblue
  margin: 0 !important

.active
  a
    color: $orange !important

.mobile-submenu
  width: 100% !important
  font-weight: 900
  font-size: 12px !important
  z-index: 2 !important
  overflow: visible !important

.display-mobile
  display: block !important
  @include breakpoint(md)
    display: none !important

.display-desktop
  display: none !important
  @include breakpoint(md)
    display: block !important

.quote
  background-color: $orange
  color: white
  @include breakpoint(md)
    background-color: $orange
    color: white
    padding: 18px 16px 10px 16px
    

.quote-text
  display: inline
  @include breakpoint(md)
    display: inline
    font-size: 40px
    

.lic
  margin-bottom: 0
  font-size: 12px
  display: inline
  font-weight: 600

.item-sm
  border-left: 1px solid #ffffff

.fs
  font-size: 1em

.fsMobile
  font-size: 0.8em

.faSymbol
  font-size: 1.5em
  color: $mmblue

.faSymbolMobile
  color: $mmblue

.hideSmall
  display: none
  @include breakpoint(md)
    display: inline

.showSmall
  display: block
  background-color: #ffffff !important
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  @include breakpoint(md)
    display: none

.nav-link
  padding: 1px

.contItem
  display: block
