<div class="slideshow">
  <mdb-carousel
    #carousel
    [isControls]="true"
    class="carousel slide"
    animation="slide"
    interval="4000"
  >
    <mdb-slide>
      <div class="view w-100 hm-bluegrey-light">
        <picture>
          <source
            srcset="/assets/images/main/security-doors.jpg.webp"
            type="image/webp"
          />
          <img
            class="d-block w-100 modal-image"
            src="/assets/images/main/security-doors.jpg"
            alt="Security Screen Doors"
          />
        </picture>
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
      <div class="carousel-caption fadeInUp animated">
        <div class="transparent-gray pt-4 pb-1 w-100 m-auto">
          <h2 class="h2-responsive px-4">Custom Security Screen Doors</h2>
          <p class="px-4">No Rust · No Clanging · Built to Last</p>
        </div>
        <button
          type="button"
          class="btn blue waves-light"
          mdbRippleRadius
          pageScrollOffset="55"
          mdbPageScroll
          href="#security-doors-and-windows"
        >
          Learn More
        </button>
      </div>
    </mdb-slide>
    <mdb-slide>
      <div class="view w-100">
        <picture>
          <source
            srcset="/assets/images/main/single-chimney.jpg.webp"
            type="image/webp"
          />
          <img
            class="d-block w-100 modal-image"
            src="/assets/images/main/single-chimney.jpg"
            alt="Chimney Services"
          />
        </picture>
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
      <div class="carousel-caption fadeInUp animated">
        <div class="transparent-gray pt-4 pb-3">
          <h2 class="h2-responsive px-4">Full Service Chimney Maintenance</h2>
          <p class="px-4">Inspections · Cleaning · Repairs · Accessories</p>
        </div>
        <button
          type="button"
          class="btn blue waves-light"
          pageScrollOffset="55"
          mdbPageScroll
          href="#chimney-services"
          mdbRippleRadius
        >
          Learn More
        </button>
      </div>
    </mdb-slide>
    <mdb-slide>
      <div class="view w-100">
        <picture>
          <source
            srcset="/assets/images/awnings/awning2.jpg.webp"
            type="image/webp"
          />
          <img
            class="d-block w-100 modal-image"
            src="/assets/images/awnings/awning2.jpg"
            alt="Retractable Awnings"
          />
        </picture>
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
      <div class="carousel-caption fadeInUp animated">
        <div class="transparent-gray pt-4 pb-1">
          <h2 class="h2-responsive px-4">Awnings</h2>
          <p class="px-4">Awnings · Drop Rolls · Fixed Shades</p>
        </div>
        <button
          type="button"
          class="btn blue waves-light"
          pageScrollOffset="55"
          mdbPageScroll
          href="#awnings"
          mdbRippleRadius
        >
          Learn More
        </button>
      </div>
    </mdb-slide>
    <mdb-slide>
      <div class="view w-100">
        <picture>
          <source
            srcset="/assets/images/main/car-logo-3.jpg.webp"
            type="image/webp"
          />
          <img
            class="d-block w-100 modal-image"
            src="/assets/images/main/car-logo-3.jpg"
            alt="Door and Window Screens"
          />
        </picture>
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
      <div class="carousel-caption fadeInUp animated">
        <div class="transparent-gray pt-4 pb-3">
          <h2 class="h2-responsive px-4">Door and Window Screens</h2>
          <p class="px-4">
            Built on Site · Window Screen Repair · Solar Screens
          </p>
        </div>
        <button
          type="button"
          class="btn blue waves-light"
          pageScrollOffset="55"
          mdbPageScroll
          href="#door-and-window-screens"
          mdbRippleRadius
        >
          Learn More
        </button>
      </div>
    </mdb-slide>
  </mdb-carousel>
</div>

<app-action-buttons></app-action-buttons>

<app-service-list></app-service-list>
