@import '../../sass/modules/_mixins.sass'
@import '../../sass/modules/_variables.sass'


.backGroundGrey
  background-color: #5b5d52
  font-size: 19px
  color: #FFF

.backGroundGrey:hover
  color: #ebebeb

.subtitle
  font-size: 28px

.subtitleBold
  font-size: 25px
  font-weight: bold

.subtitleItalicBlue
  color: $mmblue
  font-size: 25px
  font-style: italic
  font-weight: bold


.bluishBackground
  background-color: #EDF3FF
  // background-color: #93b7ff

.familyBg
  background: url('/assets/images/landing/chimServices/quoteForm.png')
  background-position-y: 50%
  background-repeat: none
  background-size: cover

.BlurBg
  background-color: #ffffffaf 

.contactImg
  background: url('/assets/images/landing/windowServices/ladypointing.jpg')
  background-repeat: none
  background-size: cover
  background-position-x: 52%
  background-position-y: 50%

@media screen and (min-width: 1200px) and (max-width: 1640px)
  .paddingNoneHeader
    padding: 0px !important
    margin: 0px !important