@import '../../sass/modules/_mixins.sass'
@import '../../sass/modules/_variables.sass'


//changes word height on card tiles, 100px, 200px, 350px,
h4
  
.candycane
  background: url('/assets/images/home/redred.png')
  background-size: cover


@include breakpoint(lg)
  .card-title
    margin-top: 325px
    margin-bottom: 0px

.title-bar
  position: absolute
  top: 0px
  margin-top: 0px
  z-index: 0
  font-size: 1rem !important

.tile
  height: 100px
  @include breakpoint(md)
    height: 250px
  @include breakpoint(lg)
    height: 500px

.tile:hover
  .tileInfo 
    @include breakpoint(md)
      display: block


.tileImg
  display: block

.orange-text
  color: $orange
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff


.tileTitle
  width: 100%
  padding: 10px
  font-weight: bold
  background: rgba(0, 0, 0, 0.7)

.tileInfo 
  display: none
  width: 100%
  padding: 5px
  background-color: $mmblue
  // background: rgba(0, 174, 239, 0.8)
    
.carousel
  h2
    text-transform: uppercase
    font-weight: 400
    letter-spacing: 1px
  button
    padding: 10px 20px
    border-radius: 2.5px
    margin: 5px 0
  .carousel-inner
    .carousel-item
      app-img
        object-fit: cover

.alert
  background-color: #f4f4f4 !important

.chimneyTileTitleSmall
  display: block;

.chimneyTileTitleLarge
  display: none

@include breakpoint(xl)
  .chimneyTileTitleSmall 
    display: none;
  .chimneyTileTitleLarge
    display: block
 

  
