<!--this is the side by side tiles-->
<h1 class="title-bar">Mike's Mobile: Screen and Chimney Service</h1>
<div class="container">
  <div class="row text-center">
    <div class="col-md-12 border alert rounded mt-3 p-1">
      <h4>We're Still Open!</h4>
      <button class="btn orange" (click)="openAnnouncementMessage()">
        <strong>Covid-19 Precautions & Updates</strong>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid justify-content-center my-1 mx-0 px-0">
  <div class="row text-center m-1 justify-content-center">
    <div class="col-lg-3 col-md-6 m-0 p-1 smooth-scroll">
      <a mdbPageScroll href="#security-doors-and-windows" mdbRippleRadius [pageScrollDuration]="200"
        [pageScrollOffset]="100">
        <div class="card tile bg-dark text-white text-center" style="
            background-image: url('/assets/images/front-page/door.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          ">
          <div class="card-img-overlay p-0">
            <h2 class="card-title tileTitle">
              Door and Window Security
            </h2>
            <h5 class="tileInfo m-0">
              Security · Airflow · Style
            </h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 m-0 p-1 smooth-scroll">
      <a mdbPageScroll href="#door-and-window-screens" mdbRippleRadius [pageScrollDuration]="400"
        [pageScrollOffset]="100">
        <div class="card bg-dark tile text-white text-center" style="
            background-image: url('/assets/images/front-page/screens.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          ">
          <div class="card-img-overlay p-0">
            <h2 class="card-title tileTitle">Door and Window Screens</h2>
            <h5 class="tileInfo  m-0">
              Keep Bugs Out · Block UV Rays
            </h5>
          </div>
        </div>
      </a>
    </div>
    <!-- <div class="col-lg-3 col-md-6 m-0 p-1 smooth-scroll">
      <a
        mdbPageScroll
        href="#awnings"
        mdbRippleRadius
        [pageScrollDuration]="400"
        [pageScrollOffset]="100"
      >
        <div
          class="card bg-dark tile text-white text-center"
          style="
            background-image: url('/assets/images/front-page/awnings.webp');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div class="card-img-overlay">
            <h2 class="card-title transparent-gray">Awnings</h2>
            <h5 class="tileInfo transparent-gray">
              Awnings · Drop Rolls · Fixed Shades
            </h5>
          </div>
        </div>
      </a>
    </div> -->
    <div class="col-lg-3 col-md-6 m-0 p-1 smooth-scroll">
      <a mdbPageScroll href="#chimney-services" mdbRippleRadius [pageScrollDuration]="400" [pageScrollOffset]="100">
        <div class="card tile bg-dark text-white text-center" style="
            background-image: url('/assets/images/front-page/chimney.png');
            background-position: 50% 30%;
            background-size: cover;
            background-repeat: no-repeat;
          ">
          <div class="card-img-overlay p-0">
            <h2 class="card-title tileTitle">
              <strong>Chimney Services</strong>
            </h2>
            <h5 class="tileInfo m-0">
              Safety Inspections · Annual Cleaning
            </h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <hr class="divider" />
</div>

<app-service-list></app-service-list>

<app-announcementMessage></app-announcementMessage>