<div class="row nomargin action-button-bar">
  <div class="col-sm nopadding action-button">
    <a
      class="btn blue waves-light w-100 nomargin"
      routerLink="/about/chimney-services"
      mdbRippleRadius
    >
      Chimney Services
    </a>
  </div>
  <div class="col-sm nopadding action-button">
    <a
      class="btn blue waves-light w-100 nomargin"
      routerLink="/about/security-doors-and-windows"
      mdbRippleRadius
    >
      Door and Window Security
    </a>
  </div>
  <div class="col-sm nopadding action-button">
    <a
      class="btn blue waves-light w-100 nomargin"
      routerLink="/about/door-and-window-screens"
      mdbRippleRadius
    >
      Door and Window Screens
    </a>
  </div>
  <div class="col-sm nopadding action-button">
    <a
      class="btn blue waves-light w-100 nomargin"
      routerLink="/about/awnings"
      mdbRippleRadius
    >
      Awnings
    </a>
  </div>
  <div class="col-sm col-6 nopadding">
    <a
      class="btn blue waves-light w-100 nomargin"
      (click)="openQuoteForm()"
      id="quoteBtn"
      mdbRippleRadius
    >
      Free Quote!
    </a>
  </div>
  <div class="col-sm col-6 nopadding">
    <a
      id="search-button"
      class="btn orange waves-light w-100 nomargin"
      (click)="hideShowSearch()"
      mdbRippleRadius
    >
      <i style="font-size:25px" class="fa fa-search" aria-hidden="true"></i>
    </a>
  </div>
</div>
<app-search id="search-input" style="display: none"></app-search>

<app-quote-form></app-quote-form>
