@import '../../sass/modules/_mixins.sass'
@import '../../sass/modules/_variables.sass'

.nopadding
  padding: 0px
  margin: 0px

.nomargin
  margin: 0px !important

.action-button
  display: none
  @include breakpoint(md)
    display: inline

a
  font-size: medium
