<!-- Action Buttons -->
    <div class="row">
        <div id="action-button" class="col-sm nopadding">
            <button class="btn blue waves-light w-100 nomargin" [routerLink]="['/about/chimney-services']" mdbRippleRadius><font size="3">Chimney Services</font></button>
        </div>
        <div id="action-button" class="col-sm nopadding">
            <button class="btn blue waves-light w-100 nomargin" [routerLink]="['/about/security-doors-and-windows']" mdbRippleRadius><font size="3">Door and Window Security</font></button>
        </div>
        <div id="action-button" class="col-sm nopadding">
            <button class="btn blue waves-light w-100 nomargin" [routerLink]="['/about/door-and-window-screens']" mdbRippleRadius><font size="3">Door and Window Screens</font></button>
        </div>
        <div id="action-button" class="col-sm nopadding">
            <button class="btn blue waves-light w-100 nomargin" [routerLink]="['/about/awnings']" mdbRippleRadius><font size="3">Awnings</font></button>
        </div>
        <div class="col-sm col-6 nopadding">
            <button class="btn blue waves-light w-100 nomargin" (click)="toggleQuoteForm()" id="quoteBtn" mdbRippleRadius><font size="3">Free Quote!</font></button>
        </div>
        <div class="col-sm col-6 nopadding">
            <button id="search-button" class="btn orange waves-light w-100 nomargin" (click)="hideShowSearch()" mdbRippleRadius><i style="font-size:25px" class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
    <app-search id="search-input" style="display: none"></app-search>

<!--/ Action Buttons -->
<!-- <div class="row"><br/><br/></div> -->

<app-quote-form></app-quote-form>