<div class="container text-center">
  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">
        Get an Awning quote!
      </h5>
      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="awnWidth">Choose the Awning Width </label>
            <select
              class="browser-default custom-select"
              [(ngModel)]="width"
              name="awnWidth"
              (click)="handleSelectWidth()"
            >
              <option *ngFor="let size of awnings">{{ size.width }}</option>
            </select>
          </div>
          <div *ngIf="projOpt5" class="form-group col-md-6">
            <label for="projection"
              >Choose the Projection (how far you want it to go out!)</label
            >
            <select
              class="browser-default custom-select"
              [(ngModel)]="projection"
              name="projection"
              (click)="checkAlreadySubmit()"
            >
              <option *ngFor="let size of projOptions5">{{ size }}</option>
            </select>
          </div>
          <div *ngIf="projOpt6" class="form-group col-md-6">
            <label for="projection"
              >Choose the Projection (how far you want it to go out!)</label
            >
            <select
              class="browser-default custom-select"
              [(ngModel)]="projection"
              name="projection"
              (click)="checkAlreadySubmit()"
            >
              <option *ngFor="let size of projOptions6">{{ size }}</option>
            </select>
          </div>
          <div *ngIf="projOpt7" class="form-group col-md-6">
            <label for="projection"
              >Choose the Projection (how far you want it to go out!)</label
            >
            <select
              class="browser-default custom-select"
              [(ngModel)]="projection"
              name="projection"
              (click)="checkAlreadySubmit()"
            >
              <option *ngFor="let size of projOptions7">{{ size }}</option>
            </select>
          </div>
          <div *ngIf="projOpt8" class="form-group col-md-6">
            <label for="projection"
              >Choose the Projection (how far you want it to go out!)</label
            >
            <select
              class="browser-default custom-select"
              [(ngModel)]="projection"
              name="projection"
              (click)="checkAlreadySubmit()"
            >
              <option *ngFor="let size of projOptions8">{{ size }}</option>
            </select>
          </div>
          <div *ngIf="projOpt9" class="form-group col-md-6">
            <label for="projection"
              >Choose the Projection (how far you want it to go out!)</label
            >
            <select
              class="browser-default custom-select"
              [(ngModel)]="projection"
              name="projection"
              (click)="checkAlreadySubmit()"
            >
              <option *ngFor="let size of projOptions9">{{ size }}</option>
            </select>
          </div>
          <div *ngIf="projOpt10" class="form-group col-md-6">
            <label for="projection"
              >Choose the Projection (how far you want it to go out!)</label
            >
            <select
              class="browser-default custom-select"
              [(ngModel)]="projection"
              name="projection"
              (click)="checkAlreadySubmit()"
            >
              <option *ngFor="let size of projOptions10up">{{ size }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h6>
              Try a few different sizes! depending on model a few extra feet of
              shade is only a few more dollars!
            </h6>
          </div>
        </div>
        <button
          *ngIf="width && projection"
          class="btn orange"
          (click)="handleQuoteSubmit()"
        >
          Get Quote!
        </button>
      </form>
      <div class="container p-0" *ngIf="awnPrice">
        <hr />
        <div class="row text-center justify-content-center">
          <div class="col-md-12">
            <h2>Your Quote</h2>
          </div>
        </div>
        <div class="row">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Service / Product</th>
                <th scope="col">Description</th>
                <th scope="col">Cost</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Awning:</th>
                <td>
                  {{ awnType }}(base model): {{ width }} x {{ projection }}
                </td>
                <td>${{ awnPrice }}*</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Wall Brackets</th>
                <td>{{ awnAcc.mtgBrkts }}</td>
                <td>${{ wallBrktPrice }}</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Hand Crank</th>
                <td></td>
                <td>${{ handCrankPrice }}</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Shipping & Labor:</th>
                <td></td>
                <td>${{ labShipPrice }}</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row" *ngIf="optMR">Motorized w/ Remote</th>
                <th scope="row" *ngIf="!optMR">
                  <span style="text-decoration: line-through;"
                    >Motorized w/ remote</span
                  >
                </th>
                <td>
                  *optional
                </td>
                <td *ngIf="optMR">${{ motorRemotePrice }}**</td>
                <td *ngIf="!optMR">
                  <span style="text-decoration: line-through;"
                    >${{ motorRemotePrice }}</span
                  >
                </td>
                <td (click)="handleSelectWR()">
                  <i
                    class="fas fa-check mx-1 p-1"
                    [style.background-color]="optMR ? 'orange' : ''"
                  ></i>
                  <i
                    class="fas fa-times mx-1 p-1"
                    [style.background-color]="optMR ? '' : 'orange'"
                  ></i>
                </td>
              </tr>
              <tr *ngIf="!paNotAvil">
                <th scope="row" *ngIf="optPA">Pitch Adjuster</th>
                <th scope="row" *ngIf="!optPA">
                  <span style="text-decoration: line-through;"
                    >Pitch Adjuster</span
                  >
                </th>
                <td>*Optional</td>
                <td *ngIf="optPA">${{ pitchAdjusterPrice }}</td>
                <td *ngIf="!optPA">
                  <span style="text-decoration: line-through;"
                    >${{ pitchAdjusterPrice }}</span
                  >
                </td>
                <td (click)="handleSelectPa()">
                  <i
                    class="fas fa-check mx-1 p-1"
                    [style.background-color]="optPA ? 'orange' : ''"
                  ></i>
                  <i
                    class="fas fa-times mx-1 p-1"
                    [style.background-color]="optPA ? '' : 'orange'"
                  ></i>
                </td>
              </tr>
              <tr *ngIf="paNotAvil">
                <th scope="row">
                  <span style="text-decoration: line-through;"
                    >Pitch Adjuster</span
                  >
                </th>
                <td>Not Available for this size</td>
                <td>N/A</td>
                <td></td>
              </tr>
              <tr>
                <th *ngIf="optHood" scope="row">Hood</th>
                <th *ngIf="!optHood" scope="row">
                  <span style="text-decoration: line-through;">Hood</span>
                </th>
                <td>*Optional (Usually unnecessary if mounted under eave)</td>
                <td *ngIf="optHood">${{ hoodPrice }}</td>
                <td *ngIf="!optHood">
                  <span style="text-decoration: line-through;"
                    >${{ hoodPrice }}</span
                  >
                </td>
                <td (click)="handleSelectHood()">
                  <i
                    class="fas fa-check mx-1 p-1"
                    [style.background-color]="optHood ? 'orange' : ''"
                  ></i>
                  <i
                    class="fas fa-times mx-1 p-1"
                    [style.background-color]="optHood ? '' : 'orange'"
                  ></i>
                </td>
              </tr>
              <tr>
                <th scope="row">Total:</th>
                <td></td>
                <td *ngIf="shakeIt" class="text-white orange price shake">
                  ${{ totalCost }}
                </td>
                <td *ngIf="!shakeIt" class="text-white orange price shake">
                  ${{ totalCost }}
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="container text-center">
            <div class="row">
              <div class="col-md-12">
                <h6>*Base Model Quote</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h6>
                  **Includes 24 ft power cord. Electrical service available if
                  no outlet within 24 ft of Awning
                </h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div
                  class="flew-row my-4 text-center"
                  (click)="openQuoteForm()"
                >
                  <h4
                    class="animated pulse infinite orange-text pb-3 cursor-pointer"
                  >
                    &nbsp; Schedule a Tech Out Now!
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-quote-form-awning [quote]="quote"></app-quote-form-awning>
